@font-face {
	font-family: "iconfont";
	src: url('iconfont.eot');
	src: url('iconfont.eot?#iefix') format('eot'),
		url('iconfont.woff') format('woff'),
		url('iconfont.ttf') format('truetype');
}

.iconfont,.iconfont_wlzj {
    font-family: "iconfont" !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-style: normal;
    font-variant: normal;
    font-size: 16px;
    font-weight: normal;
    /* speak: none; only necessary if not using the private unicode range (firstGlyph option) */
    text-decoration: none;
    text-transform: none;
}


.icon-addpinlun:before {
	content: "\E051";
}

.icon-Arrow:before {
	content: "\E038";
}

.icon-center:before {
	content: "\E001";
}

.icon-change:before {
	content: "\E002";
}

.icon-chehui:before {
	content: "\E003";
}

.icon-chongzuo:before {
	content: "\E004";
}

.icon-company:before {
	content: "\E005";
}

.icon-content:before {
	content: "\E006";
}

.icon-draw:before {
	content: "\E020";
}

.icon-dropdown:before {
	content: "\E007";
}

.icon-edit:before {
	content: "\E008";
}

.icon-exclamation:before {
	content: "\E021";
}

.icon-h5_addcontent:before {
	content: "\E03A";
}

.icon-h5_addkb:before {
	content: "\E03B";
}

.icon-h5_canshu:before {
	content: "\E03C";
}

.icon-h5_cb:before {
	content: "\E03D";
}

.icon-h5_dongzhi:before {
	content: "\E03E";
}

.icon-h5_hom2:before {
	content: "\E03F";
}

.icon-h5_hudongtongzhi:before {
	content: "\E040";
}

.icon-h5_img:before {
	content: "\E041";
}

.icon-h5_jieshao:before {
	content: "\E042";
}

.icon-h5_kb:before {
	content: "\E043";
}

.icon-h5_more:before {
	content: "\E044";
}

.icon-h5_news:before {
	content: "\E050";
}

.icon-h5_pl:before {
	content: "\E046";
}

.icon-h5_pp:before {
	content: "\E047";
}

.icon-h5_search:before {
	content: "\E048";
}

.icon-h5_setting:before {
	content: "\E049";
}

.icon-h5_share:before {
	content: "\E04A";
}

.icon-h5_shipin:before {
	content: "\E04B";
}

.icon-h5_xs:before {
	content: "\E04C";
}

.icon-h5_zan:before {
	content: "\E04D";
}

.icon-h5_zan_hover:before {
	content: "\E04E";
}

.icon-heart:before {
	content: "\E009";
}

.icon-img:before {
	content: "\E00A";
}

.icon-jiacu:before {
	content: "\E00B";
}

.icon-lianjie:before {
	content: "\E01F";
}

.icon-menudown:before {
	content: "\E00C";
}

.icon-menuup:before {
	content: "\E00D";
}

.icon-message:before {
	content: "\E00E";
}

.icon-product:before {
	content: "\E00F";
}

.icon-product2:before {
	content: "\E019";
}

.icon-qiehuan:before {
	content: "\E04F";
}

.icon-search:before {
	content: "\E010";
}

.icon-setting:before {
	content: "\E01A";
}

.icon-up:before {
	content: "\E013";
}

.icon-video1:before {
	content: "\E01B";
}

.icon-video2:before {
	content: "\E01C";
}

.icon-xiahuaxian:before {
	content: "\E016";
}

.icon-zan fill:before {
	content: "\E017";
}

.icon-zan:before {
	content: "\E018";
}

.icon-取消_错误:before {
	content: "\E039";
}