@import (reference) "../../public/style/common/PublicDefind.less";
@import (reference) "../../public/style/common/Animation.less";
@import (less) "../../components/navigationbar/index.less";
@import (less) "../../components/list/index.less";
@import (less) "../../components/stemap/satemap1.less";
@import "/node_modules/@stl/kkpager/dist/index.css";
@import (less) "../../components/star/index.less";

#videoViewerBoxBg {
  -khtml-opacity: .5 !important;
  -moz-opacity  : .5 !important;
  ;
  opacity: .5 !important;
  filter : alpha(opacity=50) !important;
  ;
}

#main {
  width : @DefindWidth;
  margin: @space_2 auto;

  .map {
    margin-bottom: @space_2;
    overflow     : hidden;
  }

  .row1 {
    margin-bottom   : @space_2;
    @height         : 244 - (@space_3 * 2);
    padding         : @space_3;
    height          : @height;
    background-color: @color_theme_c4;
    overflow        : hidden;
    .border-radius(2px);

    .left {
      float       : left;
      width       : 210px;
      position    : relative;
      margin-right: @space_3;

      span {
        position        : relative;
        cursor          : pointer;
        position        : absolute;
        left            : @space_1;
        bottom          : 6px;
        background-color: rgba(0, 0, 0, 0.5);
        color           : #FFF;
        font-size       : @font_size_12;
        line-height     : 24px;
        padding         : 0 @space_1;
        .border-radius(20px);

        i {
          float: left;
        }

        img {
          position: absolute;
          left    : 0;
          top     : 0;
          width   : 100%;
          height  : 100%;
          .opacity(0);
        }
      }

      img {
        width           : 210px;
        height          : 140px;
        background-color: #FFF;
        .border-radius(2px);
      }
    }

    .center {
      float   : left;
      @width  : 588px;
      width   : 588px;
      overflow: hidden;

      .title {
        @titleheight : 32px;
        height       : @titleheight;
        line-height  : @titleheight;
        margin-bottom: @space_1;

        p {
          color       : #fff;
          font-size   : @font_size_24;
          float       : left;
          margin-right: @space_1;
        }

        span {
          display    : block;
          float      : left;
          height     : 22px;
          line-height: 22px;
          margin     : (@titleheight - 22)/2 0;
          padding    : 0 @space_1;
          color      : #636E92;
          font-size  : @font_size_12;
          background : linear-gradient(191.51deg, #FAFBFF -19.99%, #D7DDEC 86.63%);
          .border-radius(20px);

          img {
            height  : 14px;
            position: relative;
            top     : 3px;
            margin-right: 2px;
          }
        }
      }

      .signboard {
        margin-bottom: @space_3;
        overflow     : hidden;

        span {
          display         : block;
          float           : left;
          background-color: rgba(236, 162, 43, 0.15);
          color           : @color_rank;
          padding         : 0 4px;
          line-height     : 20px;
          margin-right    : @space_1;

        }
      }

      .brief {
        p {
          @height      : 20px;
          float        : left;
          width        : @width / 2;
          color        : #FFF;
          font-size    : @font_size_12;
          margin-bottom: 6px;
          line-height  : @height;
          .ellipsis();

          &.l {
            width       : @width / 2 - @space_2;
            margin-right: @space_2;
          }

          &.introduction {
            width        : @width;
            margin-bottom: 0;
            height       : @height*3;
            white-space  : normal;

            a {
              color: @color_link ;
            }
          }

          span {
            color: @color_gray_c2;
          }
        }
      }

    }

    .right {
      position        : relative;
      @width          : 282 - (@space_3*2);
      float           : right;
      width           : @width;
      height          : @height - (@space_2*2);
      overflow        : hidden;
      padding         : @space_2 @space_3;
      background-color: rgba(255, 255, 255, 0.05);
      .border-radius(2px);

      &>p {
        font-size    : @font_size_14;
        color        : @color_gray_c2;
        line-height  : @line_height;
        margin-bottom: @space_1;


      }

      .kbs {
        margin-bottom: @space_3;

        span {
          margin-right: @space_1;
        }
      }

      .scort {
        color        : @color_rank;
        line-height  : 46px;
        overflow     : hidden;
        margin-bottom: @space_1;
        .star1(90px);

        .star {
          position: relative;
          top     : 20px !important;
        }

        span {
          display     : block;
          float       : left;
          font-size   : @font_size_38;
          margin-right: @space_1;
        }

        .star {
          float    : left;
          font-size: @font_size_20;
        }
      }

      .btn {


        a {
          display    : block;
          float      : left;
          width      : 106px;
          height     : 30px;
          border     : 1px solid @color_theme_c0;
          color      : @color_theme_c0;
          font-size  : @font_size_14;
          line-height: 30px;
          text-align : center;
          .border-radius(2px);
        }

        .issue {
          margin-right    : @space_2;
          color           : @color_main_c1;
          background-color: @color_theme_c0;
        }
      }
    }
  }

  .row2 {
    .title {
      margin-bottom: @space_2;
      overflow     : hidden;

      .select {
        border: none;
      }
    }

    .list {
      margin-bottom: @space_2;
      overflow     : hidden;

      .tab {
        margin-bottom: @space_2;
        overflow     : hidden;
      }

      .container {
        overflow     : hidden;
        width        : @DefindWidth;
        margin-bottom: @space_3;

        .container_box {
          @allwidth: @DefindWidth+@space_1;
          width    : @allwidth;
          overflow : hidden;

          .child {
            @height : 392px - @space_2;
            @width  : (@allwidth/4) - (@space_2*2) - @space_1 - 2;
            width   : @width;
            height  : @height;
            float   : left;
            padding : 0 @space_2 @space_2 @space_2;
            border  : 1px solid @border_color;
            margin  : 0 @space_1 @space_1 0;
            .border-radius(4px);


            .logo {
              display: block;
              width  : @width;
              height : 140px;
              margin : @space_3 0;

              img {
                display: block;
                width  : @width;
                height : 140px;
              }

            }

            h1 {
              color      : @color_main_c1;
              font-size  : @font_size_16;
              line-height: @line_height;
              font-weight: @font_weight;
              margin     : @space_2 0 @space_1 0;
              .ellipsis();
            }

            p {
              font-size  : @font_size_12;
              line-height: 20px;
              color      : @color_gray_c1;
              .ellipsis();


            }

            .kb {
              margin-bottom: @space_1;
              line-height  : 28px;

              i {
                display     : block;
                float       : left;
                margin-right: 4px;
                font-size   : @font_size_20;
                color       : @color_rank ;
              }

              .star1(90px);

              .star {
                position: relative;
                top     : 5px !important;
              }

              .star {
                float       : left;
                margin-right: @space_1;
                color       : @color_rank ;
                position    : relative;
                top         : -2px;
              }

              span {
                display  : block;
                float    : left;
                color    : @color_gray_c2;
                font-size: @font_size_12;
              }
            }

            .enquiry {
              margin-top      : @space_2;
              background-color: @color_subject;
              display         : inline-block;
              height          : 24px;
              line-height     : 24px;
              padding         : 0 @space_1;
              color           : @color_main_c1;
              .border-radius(2px);
            }


          }
        }

        #kkpage {
          margin-top: @space_2;
          text-align: center;
          .kkpager()
        }

      }
    }

  }

  .row3 {
    .row {

      .select {
        border: none;
      }

    }

    .list_box {
      margin-top: @space_3;

      .child {
        background-color: @color_grey_bg1  !important;

        .r {
          img {
            background-color: #FFF;
            border          : none !important;
          }
        }
      }

      .kblist1(@DefindWidth);

      .star {
        width          : 90px;
        height         : 16.875px;
        background-size: 90px 16.875px;
        position       : relative;
        top            : 5px;

        span {
          width          : 90px;
          height         : 16.875px;
          background-size: 90px 16.875px;
        }
      }

    }
  }

  .row4 {
    margin-bottom: @space_3;

    .tab {}

    .list {
      .child {
        padding      : @space_3 0;
        border-bottom: 1px solid @color_grey_line1;

        &:last-child {
          border: none;
        }


        .title {
          display      : block;
          width        : 100%;
          font-size    : @font_size_20;
          line-height  : 28px;
          color        : @color_main_c1;
          margin-bottom: @space_1;
          .ellipsis();
        }

        .author {
          @height      : 24px;
          height       : @height;
          line-height  : @height;
          overflow     : hidden;
          margin-bottom: @space_2;

          img {
            display: block;
            float  : left;
            margin : (@height - 20)/2 4px (@height - 20)/2 0;
            height : 20px;
            width  : 20px;
            .border-radius(50%);
          }

          span {
            display     : block;
            float       : left;
            color       : @color_gray_c2;
            margin-right: @space_1;

            &.answercount {
              float : right;
              margin: 0;
            }
          }

          p {
            font-size  : @font_size_16;
            line-height: @line_height;
            color      : @color_gray_c1;
          }
        }


      }
    }
  }

  .row5 {
    .title {
      margin-bottom: @space_2;

      .select {
        border: none;
      }
    }

    .tab {
      overflow: hidden;
    }

    .container {
      .list1()
    }
  }

}