@import "../../../../node_modules/swiper/dist/css/swiper.css";
@import (less) "../../../components/star/index.less";
@import (less) "../../../components/navigationbar/mindex.less";
@import (less) "../../../components/list/mindex.less";
@import (reference) "../../../public/style/common/mpublicDefind.less";
@import (reference) "../../../public/style/common/Animation.less";




//首页
#index {
  padding: 0 @space_2;

  .hreader {
    @height         : @size_1 * 52;
    margin          : 0 -@space_2 @space_2 -@space_2;
    font-size       : @font_size_16;
    background-color: @color_theme_c4;
    height          : @height;
    padding         : @space_1 @space_2;
    line-height     : @height - @space_1 * 2;

    img {
      height      : @height - @space_1 * 2;
      margin-right: @space_2;
      float       : left;
    }

    .input {
      background: rgba(255, 221, 136, 0.1);
      border    : 0.5px solid @color_theme_c2_30;
      position  : relative;
      .box-sizing();
      .border-radius(@size_1 * 4);
      .ellipsis();

      i {
        color   : @color_subject ;
        position: absolute;
        left    : @size_1 * 10;
      }

      input {
        font-size       : @font_size_14;
        left            : @space_2;
        height          : @height - @space_1 * 2;
        float           : left;
        color           : @color_subject ;
        border          : none;
        margin          : 0;
        background-color: transparent;
        padding         : @space_1 @space_2 @space_1 @space_2+@size_1*14;
      }
    }

    a {
      float       : right;
      font-size   : @font_size_14;
      color       : @color_subject ;
      padding-left: @space_2;
    }


  }

  // .search {
  //   @size        : @size_1 * 36;
  //   background   : #F7F8FB;
  //   padding      : 0 @space_1;
  //   height       : @size;
  //   line-height  : @size;
  //   margin-bottom: @space_2;
  //   .flex();
  //   .border-radius(@size_1 * 4);


  //   i {
  //     color       : @color_gray_c2;
  //     margin-right: @space_1;
  //   }

  //   input {
  //     border          : none;
  //     background-color: transparent;
  //     font-size       : @font_size_14;
  //     color           : @color_gray_c2;
  //     padding         : 0;
  //     margin          : 0;
  //     height          : @size;
  //   }
  // }

  .group {
    margin-bottom: @space_2;

    .child {
      width     : 25%;
      float     : left;
      text-align: center;

      span {
        font-size: @font_size_14;
        color    : @color_main_c1;
        display  : block;
      }

      img {
        height : 48 * @size_1;
        width  : 48 * @size_1;
        display: block;
        margin : 0 auto @size_1 * 4 auto;

      }
    }


  }

  .swiper-container {
    @scale       : 776/340;
    width        : 100%;
    height       : (@allwidth - @space_2*2) /@scale;
    margin-bottom: @space_2;

    .swiper-pagination {
      bottom: @size_1 * 3;
    }

    .swiper-slide {
      display : block;
      position: relative;

      p {
        margin     : 0;
        font-weight: @font_weight;
        font-size  : @font_size_18;
        line-height: @size_1 * 24;
        color      : #FFFFFF;
        text-shadow: 0 @size_1 * 0 rgba(0, 0, 0, 0.6);
        position   : absolute;
        left       : @space_2;
        right      : @space_2;
        bottom     : @space_2;
        .lineclamp(2);
      }

      img {
        width : 100%;
        height: 100%;
        .border-radius(@size_1 * 4);
      }
    }

  }

  .rowImg {
    .flex();
    .flexWrap(wrap);
    width        : @allwidth - (@space_2*2) + (12 * @size_1);
    margin-left  : -(6 * @size_1);
    margin-bottom: @space_3;

    .child {
      display: block;
      .flexGrow(1);
      padding: @size_1 * 6;
      width  : 20%;
      .box-sizing();

      img {
        @salce : 1.5;
        width  : 100%;
        height : (@allwidth - @space_2 * 2 - 12 * @size_1 * 4)/ 5 / 1.5;
        border : @size_1 * 0.5 solid @border_color;
        display: block;
        .border-radius(@size_1 * 4);
      }

      span {
        display   : block;
        color     : @color_gray_c1;
        font-size : @font_size_10;
        text-align: center;
      }
    }
  }

  .kbhot {
    @height      : @size_1 * 78;
    position     : relative;
    height       : @height + (@size_1 * 8);
    margin-bottom: @space_4;
    width        : 100%;


    .mui-scroll,
    .mui-scroll-wrapper {
      height: @height + (@size_1 * 8);
    }

    .mui-scroll {
      padding-top: @size_1 * 8;
    }



    .child {
      display     : inline-block;
      margin-right: @size_1 * 12;
      padding     : 0 @size_1 * 8 @size_1 * 8 @size_1 * 8;
      width       : @size_1 * 146;
      height      : @height;
      background  : linear-gradient(4.76deg, #2F3955 6.33%, rgba(77, 93, 136, 0.75) 139.85%);
      .box-sizing();
      .border-radius(@size_1 * 4);

      .title {
        position: relative;
        height  : @space_3;


        img {
          height      : @space_4;
          width       : @space_6;
          margin-right: @space_1;
          display     : block;
          float       : left;
          position    : absolute;
          top         : -@space_1;
          overflow    : hidden;
          border      : 1px solid rgba(0, 0, 0, 0.1);
          .border-radius(@size_1 * 4);
        }

        span {
          padding-left: @space_7;
          color       : #FFF;
          font-size   : @font_size_12;
          line-height : @size_1 * 20;
          display     : block;
          position    : relative;
          top         : @size_1 * 2;
          text-align  : left;
          .ellipsis();
        }
      }

      .kb {


        b {
          font-size   : @font_size_20;
          display     : block;
          float       : left;
          color       : @color_subject ;
          margin-right: @size_1*5
        }

        .star1(@size_1*60);

        .star {
          position: relative;
          top     : @size_1*10;
        }
      }

      &>p {
        font-size: @font_size_10;
        .ellipsis();

        span {
          display     : block;
          color       : #FFF;
          margin-right: @space_1;
          float       : left;
        }

        i {
          display   : block;
          float     : left;
          font-style: normal;
        }
      }

    }
  }

  .news {
    .navigationbar {
      margin-bottom: @space_1;
    }

    .mui-slider-indicator.mui-segmented-control {
      position        : sticky;
      background-color: #FFF;
    }

    .list1();
  }

}

//列表页
#list {
  padding: 0 @space_2;

  .hreader {
    @height         : @size_1 * 52;
    margin          : 0 -@space_2;
    font-size       : @font_size_16;
    background-color: @color_theme_c4;
    height          : @height;
    padding         : @space_1 @space_2;
    line-height     : @height - @space_1 * 2;
    position        : relative;

    img {
      height      : @height - @space_1 * 2;
      margin-right: @space_2;
      float       : left;
    }

    .title {
      position   : absolute;
      color      : #FFF;
      line-height: @height;
      font-weight: @font_weight;
      left       : @size_1 * 95;
      top        : 0;
      right      : @size_1 * 95;
      text-align : center;

      .ellipsis();

    }

    a {
      float       : right;
      color       : #FFF;
      padding-left: @space_2;

      i {
        font-size  : @font_size_18;
        font-weight: @font_weight;
      }
    }


  }

  .title {
    @height   : @size_1 * 44;
    text-align: center;
    position  : relative;

    i {
      position : absolute;
      color    : @color_gray_c1;
      right    : 0;
      top      : @size_1*10;
      font-size: @font_size_30;
    }

    img {
      margin: @size_1*10 auto;
      height: @height - @size_1*20;

    }
  }

  .category {
    .list1();

    .navigationbar {
      margin-bottom: @size_1 * 14;
    }

    .sCategories {
      position: relative;
      @height : @size_1*30;
      height  : @height;

      .mui-scroll,
      .mui-scroll-wrapper {
        height: @height;
      }

      span {
        display         : inline-block;
        height          : @height;
        line-height     : @height;
        padding         : 0 @space_2;
        margin-right    : @space_1;
        background-color: @color_grey_bg1;
        color           : @color_gray_c1;
        font-size       : @font_size_12;
        .border-radius(@size_1 * 30);

        &.select {
          background-color: rgba(249, 130, 21, 0.15);
          color           : @color_theme_c0 ;
        }
      }
    }
  }


  .list_box {
    .list2();

  }

}

//我的
#usercenter {
  .hreader {
    @height : @size_1 * 52;

    font-size  : @font_size_16;
    height     : @height;
    padding    : @space_1 @space_2;
    line-height: @height - @space_1 * 2;
    position   : relative;

    .tohome {
      font-size  : @font_size_18;
      font-weight: @font_weight;
      float      : left;
    }

    .title {
      position   : absolute;
      color      : @color_gray_c1;
      line-height: @height;
      font-weight: @font_weight;
      left       : @size_1 * 95;
      top        : 0;
      right      : @size_1 * 95;
      text-align : center;

      .ellipsis();

    }

    a {
      float       : right;
      padding-left: @space_2;

      i {
        font-size  : @font_size_18;
        font-weight: @font_weight;
      }
    }


  }

  .userinfo {
    background-color: @color_grey_bg1;
    padding         : @space_2;

    .userinfo_box {
      display         : block;
      @size           : @size_1 * (96-24-24);
      background-color: #FFFFFF;
      padding         : @space_3 @space_2;
      .border-radius(@size_1 * 8);

      img {
        width : @size;
        height: @size;
        .border-radius(50%);
        float       : left;
        margin-right: @size_1 * 14;
      }

      i {
        display    : block;
        float      : right;
        width      : @size_1 * 24;
        color      : @color_gray_c3;
        line-height: @size;
        font-size  : @font_size_18;
        margin-left: @size_1 * 14;
      }

      p {
        height     : @size;
        line-height: @size;
        font-size  : @font_size_16;
        color      : @color_main_c1;
        font-weight: @font_weight;
        .ellipsis();
      }



    }
  }

  .systeminfo {
    padding: 0 @space_2;
    @height: @size_1 * 64;

    a {
      display     : block;
      height      : @height;
      padding-left: @space_1;
      line-height : @height;

      i {
        display    : block;
        font-size  : @font_size_20;
        color      : @color_gray_c3;
        float      : right;
        margin-left: @size_1 * 12;

        &.l {
          font-size: @font_size_24;
          color    : @color_main_c1;
          float    : left;
          margin   : 0 @size_1 * 12 0 0;
        }
      }



      p {
        font-size: @font_size_16;
        color    : @color_main_c1;
        .ellipsis();
      }
    }
  }
}