{# type 为 0 代表是1 且不是第一页 #}
{% macro productlist(type, companyObject) %}
  {% for item in companyObject %}
    <div class="child" data-wight="{{item.topWeight}}">
      {% if type == 1 or type == 0 %}
        <a href="/business/product/{{item.companyId}}/{{item.id}}" target="_blank"><img _src_="{{item.logo}}"/></a>
      {% else %}
        <img _src_="{{item.logo}}"/>
      {% endif %}

      <div class="c">
        <h3>
          {% if type == 1 or type == 0 %}
            <a href="/business/product/{{item.companyId}}/{{item.id}}" target="_blank">
              <p>{{item.title}}</p>
            </a>
          {% else %}
            <p>{{item.title}}</p>
          {% endif %}

          {% if type == 2 %}
            <span>审核中</span>
          {% endif %}

        </h3>
        {% if item.label != null and item.label.length > 0 %}
          <p class="clearfix label">
            {% for labelitem in item.label %}
              <span>{{labelitem}}</span>
            {% endfor %}
          </p>
        {% endif %}
        {% if type == 1 or type == 0 %}
          <p class="createtime">
            <span>发布时间：{{item.createTime}}</span>
          </p>
        {% endif %}

      </div>
      {% if type == 1 or type == 0 %}
        <div class="r">
          <a href="/user/publishproduct/{{item.id}}">修改</a>
          <a href="javascript:void(0);" data-id="{{item.id}}" class="stick" style='display:{{ (type != 0 and loop.index0 === 0) | ternary("none","block") }}'>置顶</a>
        </div>
      {% elif type == 3 %}
        <div class="r">
          <a href="/user/publishproduct/{{item.id}}/1">修改</a>
          <a href="javascript:void(0);" data-id="{{item.id}}" class="del">删除</a>
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endmacro %}