{% macro productlist(type, companyObject) %}
  {% for item in companyObject %}
    <div class="child">
      <img src="{{item.logo}}"/>
      <div class="c">
        <h3>
          <p>{{item.title}}</p>
          {% if type == 2 %}
            <span>审核中</span>
          {% endif %}

        </h3>
        {% if item.label != null and item.label.length > 0 %}
          <p class="clearfix label">
            {% for labelitem in item.label %}
              <span>{{labelitem}}</span>
            {% endfor %}
          </p>
        {% endif %}
        {% if type == 1 %}
          <p class="createtime">
            <span>发布时间：{{item.createTime}}</span>
          </p>
        {% endif %}

      </div>
      {% if type == 1 %}
        <div class="r">
          <a href="/user/publishproduct/{{item.id}}">修改</a>
          <a href="javascript:(0)" data-id="{{item.id}}" class="stick" style='display:{{ (loop.index0 === 0) | ternary("none","block") }}'>置顶</a>
        </div>
      {% elif type == 3 %}
        <div class="r">
          <a href="/user/publishproduct/{{item.id}}/1">修改</a>
          <a href="javascript:(0)" data-id="{{item.id}}" class="del">删除</a>
        </div>
      {% endif %}
    </div>
  {% endfor %}
{% endmacro %}