@import (reference) "../../public/style/common/PublicDefind.less";


.list1 {
  border: 1px solid @color_grey_line1;

  &>p {
    color         : rgba(42, 43, 46, 1);
    font-weight   : @font_weight;
    font-size     : @font_size_16;
    line-height   : 24px;
    margin        : 20px @space_2 0 @space_2;
    padding-bottom: @space_2;
    border-bottom : 1px solid @color_grey_line1;
  }


}