{% extends "../../shared/layout/mdefaultLayou.njk" %}

{% from "../../shared/sharedView/macro/wuc/mheader.njk" import mheader %}
{% from "../../shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}

{% from "../../shared/sharedView/macro/components/m/list.njk" import productlist,
reputationlist,
saleslist %}

{% from "../../shared/sharedView/macro/components/star/star.njk" import star %}
{% from "../../shared/sharedView/macro/components/list.njk" import list1 %}

{% block title %}
合作 - 乐品包装
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}

  <link href="/dist/styles/m/home/advcooperation.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript">
    var companyId = {{companyId}}
  </script>
  {# <script type="text/javascript" src="/dist/scripts/m/business/index.js"></script> #}
{% endblock script %}

{% block body %}
  <div class="header">
    {{mheader({title:"合作通道"})}}
    <div id="main">
      <h1>品牌入驻及广告合作</h1>

      <b class="margin">品牌营销及广告合作联系方式：</b>

      <p class="margin_4">
        <span>电话</span>：17621302037</p>
      <p>
        <span>企业微信</span>：17621302037</p>
      <p>
        <span>邮箱</span>：marketing@lepkg.com</p>

      <section>
      友情链接请发送邮件至business@lepkg.com
      </section>
    </div>
  {% endblock body %}