@import (reference) "../../public/style/common/PublicDefind.less";


.star {
  display     : block;
  float       : left;
  color       : @color_rank;
  font-size   : @font_size_16;
  margin-right: 4px;
  position    : relative;

}