@import (reference) "../../public/style/common/PublicDefind.less";
@import (reference) "../../public/style/common/Animation.less";
@import (less) "../../components/navigationbar/index.less";
@import (less) "../../components/rfoot/index.less";
@import (less) "../../components/star/index.less";
@import (less) "../../components/list/index.less";
@import "/node_modules/@stl/image-slider/dist/index.css";
@defaultLeftWidth : 776px;
@defaultRightWidth: @DefindWidth - @defaultLeftWidth - @space_3;

.foot {
    display: none;
}

#main {
    width : @DefindWidth;
    margin: auto;

    &>div {
        margin-top: @space_3;
    }


    .row_hot {
        width   : @DefindWidth + @space_1;
        overflow: hidden;
        @height : 80px;

        a {
            display     : block;
            height      : @height;
            text-align  : center;
            float       : left;
            width       : (@DefindWidth + @space_1) / 10 - @space_1;
            margin-right: @space_1;

            div {
                @imgHeight : 60px;
                height     : @imgHeight;
                line-height: @imgHeight;
                text-align : center;
                width      : 100%;

                img {
                    max-height: @imgHeight;
                    max-width : 100%;
                    margin: auto;
                }
            }

            p {
                @pheight   : 20px;
                height     : @pheight;
                line-height: @pheight;
                color      : @color_main_c1;
                font-size  : @font_size_12;
                font-weight: @font_weight;
               
                .over_group()
            }

            &:hover p{
                color: @link_hover;
            }
        }
    }

    .ads {
        width: @DefindWidth;

        .flex();
        justify-content: space-between;

        a {
            flex-grow     : 1;
            display       : block;
            float         : left;
            text-align    : left;
            flex-direction: column;
            width         : 284px;
            height        : 80px;
            margin-right  : @space_2;

            &:last-child {
                margin: 0;

            }

            img {
                width : 100%;
                height: 80px;
            }
        }
    }



    .rowImg {
        width        : @DefindWidth - 1;
        overflow     : hidden;
        @height      : 64px;
        border-bottom: 1px solid @border_color;
        border-right : 1px solid @border_color;

        a {
            display    : block;
            height     : @height;
            text-align : center;
            float      : left;
            width      : (@DefindWidth - 1) / 7;
            border-left: 1px solid @border_color;
            border-top : 1px solid @border_color;
            line-height: @height;
            text-align : center;
            .box-sizing();

            img {
                height: 100%;
                width : 100%;
            }
        }
    }


    .brand {
        width: @DefindWidth;

        .row {
            width        : @DefindWidth;
            margin-bottom: @space_2;
        }


        .list_box {
            width   : @DefindWidth + @space_1;
            overflow: hidden;

            .list_item {
                display: none;


                .listchild {
                    position         : relative;
                    @height          : 116px;
                    @heighttopadding : @height - (@space_1 * 2);
                    height           : @height;
                    padding          : @space_1;
                    width            : (@DefindWidth + @space_1) / 3 - @space_1;
                    float            : left;
                    overflow         : hidden;
                    background-color : #F7F8FB;
                    margin           : 0 @space_1 @space_1 0;
                    .box-sizing();

                    .left {
                        position        : absolute;
                        @width          : 150px;
                        width           : @width;
                        line-height     : @heighttopadding;
                        text-align      : center;
                        display         : block;
                        left            : @space_1;
                        top             : @space_1;
                        bottom          : @space_1;
                        background-color: #FFF;

                        img {
                            display: block;
                            width  : 100%;
                            height : 100%;
                        }
                    }

                    .right {
                        position: absolute;
                        right   : @space_1;
                        top     : @space_1;
                        bottom  : @space_1;
                        left    : 166px;
                        .star1(80px);
                        .star{
                            position: relative;
                            top:17px;
                        }
                        &>a {
                            display      : block;
                            height       : 24px;
                            line-height  : 32px;
                            color        : @color_main_c1;
                            font-size    : @font_size_16;
                            font-weight  : @font_weight;
                            margin-bottom: 4px;
                        }

                        .kb {
                            position     : relative;
                            width        : 100%;
                            margin-bottom: 4px;

                            overflow: hidden;

                            span {
                                display     : block;
                                float       : left;
                                font-weight : @font_weight;
                                font-size   : @font_size_30;
                                margin-right: 4px;
                                color       : @color_rank ;
                            }

                            i {
                                display     : block;
                                float       : left;
                                color       : @color_rank;
                                font-size   : @font_size_16;
                                margin-right: 4px;
                                position    : relative;
                                top         : 13px;
                            }

                            b {
                                font-weight: normal;
                                display    : block;
                                float      : left;
                                font-size  : @font_size_12;
                                color      : @color_gray_c2;
                                line-height: 22px;
                                position   : absolute;
                                right      : 0;
                                top        : 14px;
                            }
                        }

                        .label {
                            @height      : 22px;
                            height       : @height;
                            width        : 100%;
                            overflow     : hidden;
                            margin-bottom: 10px;

                            span {
                                display         : block;
                                float           : left;
                                font-size       : @font_size_12;
                                color           : @color_gray_c2;
                                height          : @height;
                                line-height     : @height;
                                padding         : 0 @space_1;
                                background-color: #EBEEF3;
                                margin-right    : @space_1;
                            }
                        }

                    }
                }
            }
        }
    }


    .hotnew {
        @height : 340px;
        overflow: hidden;

        .banner {
            width : @defaultLeftWidth;
            height: @height;
            float : left;

            .slider_parent {
                overflow: hidden;
                position: relative;

                .slider_box {
                    width: 20000px;

                    li {
                        float           : left;
                        width           : @defaultLeftWidth;
                        background-color: #eee;


                        a {
                            display : block;
                            width   : @defaultLeftWidth;
                            height  : @height;
                            position: relative;

                            img {
                                display: block;
                                width  : @defaultLeftWidth;
                                height : @height;
                            }

                            p {
                                @height         : 44px;
                                font-weight     : @font_weight;
                                position        : absolute;
                                bottom          : 0;
                                left            : 0;
                                right           : 0;
                                padding         : @space_3 @space_3 @space_3+24 @space_3;
                                height          : @height * 2;
                                line-height     : @height;
                                font-size       : @font_size_36;
                                color           : #FFFFFF;
                                text-shadow     : 0px 2px 0px rgba(0, 0, 0, 0.5);
                                background-color: rgba(0, 0, 0, 0.1);
                            }
                        }

                    }
                }

                .slider_switch_box {
                    .slider_item_list {
                        left     : auto;
                        transform: none;
                        right    : @space_2;
                        bottom   : @space_2;

                        .slider_item_btn {
                            width : 12px;
                            height: 4px;
                            .border-radius(4px);
                            color           : #FFF;
                            background-color: #FFF;
                        }

                        .now_slier_item {
                            width           : 24px;
                            color           : @color_rank;
                            background-color: @color_rank;
                        }


                    }


                }

            }

        }

        .kbranklist {
            width : @defaultRightWidth;
            float : right;
            height: @height;

            .row {
                .navigationbar {
                    @height: 44px;
                    height : @height;

                    a {
                        height     : @height;
                        line-height: @height;
                    }

                    .list {
                        height: @height;

                        span {
                            height     : @height;
                            line-height: @height;
                            color      : @color_main_c1;
                            font-size  : @font_size_20;
                            border     : none;
                        }


                    }
                }
            }

            .list_box {
                overflow: hidden;

                .child {
                    display : block;
                    padding : @space_1 0;
                    @height : 44px;
                    height  : @height;
                    position: relative;

                    &>i {
                        display: block;
                        .border-radius(2px);
                        color      : @color_gray_c2;
                        font-size  : @font_size_14;
                        width      : 20px;
                        height     : 20px;
                        line-height: 20px;
                        text-align : center;
                        margin     : (@height - 20) / 2 0;
                        font-weight: @font_weight;

                    }

                    &:nth-child(1)>i {
                        background-color: #D64B2C;

                        color: #FFF;
                    }

                    &:nth-child(2)>i {
                        background-color: #E78022;
                        color           : #FFF;
                    }

                    &:nth-child(3)>i {
                        background-color: #FAC439;
                        color           : #FFF;
                    }



                    .cr {
                        position: absolute;
                        left    : 30px;
                        right   : 0;
                        top     : @space_1;
                        height  : @height;

                        .l {
                            display     : block;
                            float       : left;
                            width       : 64px;
                            height      : @height - 2;
                            border      : 1px solid @color_grey_line1;
                            margin-right: @space_1 + 2;

                            img {
                                display: block;
                                width  : 100%;
                                height : 100%;
                            }
                        }

                        .c {
                            float: left;
                            width: 200px;

                            a {
                                display    : block;
                                height     : 24px;
                                line-height: 24px;
                                color      : @color_main_c1;
                                font-weight: @font_weight;
                                font-size  : @font_size_16;
                                .ellipsis();
                            }

                            p {
                                font-size  : @font_size_12;
                                color      : @color_gray_c2;
                                line-height: 20px;
                                height     : 20px;
                                .ellipsis();
                            }
                        }

                        .r {
                            float     : right;
                            text-align: right;

                            span {
                                font-size  : @font_size_12;
                                line-height: 20px;
                                color      : @color_gray_c2;

                            }

                            h2 {
                                font-size  : @font_size_18;
                                color      : @color_rank;
                                line-height: 24px;
                                font-weight: @font_weight;

                            }
                        }
                    }
                }
            }
        }
    }

    .kbsuperior {
        @width    : @DefindWidth - (@space_3*2);
        background: linear-gradient(223.32deg, #2F333E 29.74%, rgba(56, 67, 96, 0.75) 100.01%);
        padding   : @space_2 @space_3 @space_3 @space_3;
        .border-radius(2px);
        width: @width;

        .row {
            color        : #FFF;
            overflow     : hidden;
            margin-bottom: @space_3;

            p {
                float      : left;
                font-weight: @font_weight;
                font-size  : @font_size_24;
                line-height: @line_height;
            }

            a {
                display    : block;
                float      : right;
                cursor     : pointer;
                font-size  : @font_size_14;
                line-height: @line_height;
                color      : #FFF;
            }
        }


        .kblist1(@width)
    }

    .information {


        .nownew {
            width: @defaultLeftWidth;
            float: left;

            .navigationbar {
                position        : sticky;
                top             : 0px;
                background-color: #FFFFFF;
                z-index         : 10;
            }

            .list_box{
                .list1();
             
            }

          
        }


        .hotinformation {
            width: @defaultRightWidth;
            float: right;

            .newList {
                margin-top: 20px;

                a {
                    @height    : 36px;
                    display    : block;
                    height     : @height;
                    line-height: @height;
                    position   : relative;

                    &:nth-child(1)>i {
                        background-color: #D64B2C;
                        .border-radius(2px);
                        color: #FFF;
                    }

                    &:nth-child(2)>i {
                        background-color: #E78022;
                        .border-radius(2px);
                        color: #FFF;
                    }

                    &:nth-child(3)>i {
                        background-color: #FAC439;
                        .border-radius(2px);
                        color: #FFF;
                    }

                    i {
                        display    : block;
                        width      : 20px;
                        height     : 20px;
                        line-height: 20px;
                        text-align : center;
                        margin     : 8px 0;
                        float      : left;


                    }

                    p {
                        position: absolute;
                        left    : 20 + @space_2;
                        top     : 0;
                        bottom  : 0;
                        right   : 0;
                        .ellipsis();
                        color      : @color_main_c1;
                        font-size  : @font_size_16;
                        line-height: @height;
                    }

                    &:hover p {
                        color: @link_hover;
                    }
                }

            }

            .blogroll {
                width     : 100%;
                margin-top: @space_2;
            }

        }

    }


}