
{% macro commonchild(args = [
  {
    commentUserName: "fff",
    commentUser: "123213",
    commentUserIcon: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    commentTime: "2021-11-11",
    commentContent: "1.5L和1.3T的哪个更值得买3T的哪个更值得买3T的哪个更值得买3T的哪个更值得买3T的哪个更值得买?1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?",
    praiseCount: "2000",
    replys: [
      {
        commentUserName: "fff",
        commentUser: "123213",
        commentUserIcon: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
        commentTime: "2021-11-11",
        commentContent: "1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?",
        praiseCount: "2000",
        at: {
          commentUserName: "fff",
          commentUser: "123213",
          commentContent: "1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?"
        }
      }, {
        commentUserName: "fff",
        commentUser: "123213",
        commentUserIcon: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
        commentTime: "2021-11-11",
        commentContent: "1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?",
        praiseCount: "2000",
        at: {
          commentUserName: "fff",
          commentUser: "123213",
          commentContent: "1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?"
        }
      }, {
        commentUserName: "fff",
        commentUser: "123213",
        commentUserIcon: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
        commentTime: "2021-11-11",
        commentContent: "1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?",
        praiseCount: "2000"
      }
    ]
  }, {
    commentUserName: "fff",
    commentUser: "123213",
    commentUserIcon: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    commentTime: "2021-11-11",
    commentContent: "1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?",
    praiseCount: "2000",
    replys: [
      {
        commentUserName: "fff",
        commentUser: "123213",
        commentUserIcon: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
        commentTime: "2021-11-11",
        commentContent: "1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?",
        praiseCount: "2000"
      }, {
        commentUserName: "fff",
        commentUser: "123213",
        commentUserIcon: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
        commentTime: "2021-11-11",
        commentContent: "1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?",
        praiseCount: "2000"
      }, {
        commentUserName: "fff",
        commentUser: "123213",
        commentUserIcon: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
        commentTime: "2021-11-11",
        commentContent: "1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?1.5L和1.3T的哪个更值得买?",
        praiseCount: "2000"
      }
    ]
  }
]) %}
  {% for item in args %}
    <div class="child clearfix" data-commentId="{{item.commentId}}"  data-time='{{item.commentTime | ternary(item.commentTime,item.replyTime) | get_time_timestamp}}'>
      <div class="hread">
        <img src="{{item.commentUserIcon}}"/>
      </div>
      <div class="common_details">
        <div class="h clearfix">
          <span>{{item.commentUserName}}</span>
          {% if item.at %}
            <span>回复</span>
            <span>{{item.at.commentUserName}}</span>
          {% endif %}
          <span class="createtime">{{item.commentTime  | ternary(item.commentTime,item.replyTime) | ge_time_format}}</span>
        </div>
        <div class="content">
          {% if item.at %}
            <p>{{item.at.commentContent}}</p>
          {% endif %}
          <span>{{item.commentContent}}</span>
        </div>
        <div class="reply clearfix">
          <a href="javascript:(0)" data-id="{{item.id}}">回复</a>
          {# {% if (item.child) and (item.child.length > 0) %} #}
          <span style="display:{{(item.replys and item.replys.length > 0) | ternary('block','none') }}">
            <b>{{item.replys | ternary(item.replys.length,0) }}</b>条回复<i class="iconfont_wlzj">&#xE007;</i>
          </span>
          {# {% endif %} #}
          <div class="reply_r clearfix">
            <a href="javascript:(0)" data-id="{{item.replyId | ternary(item.replyId,item.commentId)}}">举报</a>
            <p class="praiseCount"  data-replyId="{{item.replyId}}" data-id="{{item.replyId | ternary(item.replyId,item.commentId)}}">
              <i class="iconfont_wlzj">&#xE018;</i>
              <span>{{item.praiseCount}}</span>
            </p>
          </div>

        </div>

        <div class="sub clearfix" style="display:none;">
          <div class="input"><input type="text" value="" placeholder="写下你的回答"></div>
          <a href="javascript:(0)" data-commentId="{{item.commentId}}"  data-id="{{item.replyId}}"  data-parentid="{{item.commentUser}}">提交回答</a>
        </div>
        <div class="child_box" style="display:none;">
          <div class="child_content">
            {% if (item.replys) and (item.replys.length > 0) %}
              {{commonchild(item.replys)}}
            {% endif %}
          </div>
          {% if (item.replys) and (item.replys.length >= 10) %}
            <div class="more">加载更多</div>
          {% endif %}

        </div>

      </div>

    </div>
  {% endfor %}
{% endmacro %}