@import (reference) "../../public/style/common/PublicDefind.less";
@import (reference) "../../public/style/common/Animation.less";
@import (less) "../../components/navigationbar/index.less";
@import (less) "../../components/list/index.less";
@import (less) "../../components/stemap/satemap1.less";
@import "/node_modules/@stl/kkpager/dist/index.css";

#main {
  width : @DefindWidth;
  margin: @space_2 auto;

  .map {
    margin-bottom: @space_2;
    overflow     : hidden;
  }
}