{% extends "../shared/layout/defaultLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar,
navigationbar2 %}
{% from "../shared/sharedView/macro/components/satemap/satemap1.njk" import satemap1 %}
{% from "../shared/sharedView/macro/wuc/rfooter.njk" import rfooter %}
{% from "../shared/sharedView/macro/components/selectOption.njk" import selectOption %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/business/answer.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript" src="/dist/scripts/business/answer.js"></script>
{% endblock script %}

{% block body %}
  <div id="main">
    <div class="map">
      {{satemap1({
        title: "当前位置：",
        select: 4,
        map: [
          {
            name: "首页",
            link: "#"

          }, {
            name: "品牌商",
            link: "#"

          }, {
            name: "京山轻机",
            link: "#"

          }
          , {
            name: "问答",
            link: "#"

          }
        ]
      })}}
    </div>
    <div class="container">
      <div class="left">
        <div class="type">
          <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png"/>
          <div>
            <p>BHS</p>
            <div class="typeselect">
              {{selectOption()}}
            </div>

          </div>
        </div>

        <div class="question">
          <div class="title">
            {{navigationbar({
                isMore: false,
                link: "#",
                isSelect: "1",
                data: [
                  {
                    title: "问答",
                    link: "javascript:(0)"
                  }
                ]
            })}}

            <a>我要提问</a>

          </div>

          <div class="list">
            <div class="tab">
              {{navigationbar2()}}
            </div>

            <div class="container">
              {% set listData = [
                {
                  title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？",
                  hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link: "#",
                  name: "上海于工",
                  time: "2020-08-22",
                  answercount: 3
                }, {
                  title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？",
                  hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link: "#",
                  name: "上海于工",
                  time: "2020-08-22",
                  answercount: 3
                }, {
                  title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？",
                  hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link: "#",
                  name: "上海于工",
                  time: "2020-08-22",
                  answercount: 3
                }, {
                  title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？",
                  hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link: "#",
                  name: "上海于工",
                  time: "2020-08-22",
                  answercount: 3
                }, {
                  title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？",
                  hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link: "#",
                  name: "上海于工",
                  time: "2020-08-22",
                  answercount: 3
                }, {
                  title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？",
                  hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link: "#",
                  name: "上海于工",
                  time: "2020-08-22",
                  answercount: 3
                }, {
                  title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？",
                  hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link: "#",
                  name: "上海于工",
                  time: "2020-08-22",
                  answercount: 3
                }, {
                  title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？",
                  hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link: "#",
                  name: "上海于工",
                  time: "2020-08-22",
                  answercount: 3
                }, {
                  title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？",
                  hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link: "#",
                  name: "上海于工",
                  time: "2020-08-22",
                  answercount: 3
                }, {
                  title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？",
                  hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link: "#",
                  name: "上海于工",
                  time: "2020-08-22",
                  answercount: 3
                }
              ] %}

              {% if (listData != null) and (listData.length > 0) %}
                {% for item in listData %}
                  <div class="child">
                    <a href="{{item.link}}" title="{{item.title}}" target="_blank">{{item.title}}
                    </a>

                    <p>
                      <img src="{{item.hread}}"/>
                      <span>{{item.name}}</span>
                      <span>{{item.time}}</span>
                      <span>{{item.answercount}}条回答</span>
                    </p>

                  </div>
                {% endfor %}
              {% endif %}

            </div>
          </div>

        </div>

      </div>

      <div class="right">
        <div class="list1 hotbrand">
          <p>热门回答 </p>
          <div class="list">
            {% set hotbrandlist = [
              {
                title: "如何让机器的能耗最低？",
                label: [
                  "BHS", "SSSS"
                ],
                link: "#",
                answercount: 3

              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "BHS", "SSSS"
                ],
                link: "#",
                answercount: 3

              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "BHS", "SSSS"
                ],
                link: "#",
                answercount: 3

              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "BHS", "SSSS"
                ],
                link: "#",
                answercount: 3

              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "BHS", "SSSS"
                ],
                link: "#",
                answercount: 3

              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "BHS", "SSSS"
                ],
                link: "#",
                answercount: 3

              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "BHS", "SSSS"
                ],
                link: "#",
                answercount: 3

              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "BHS", "SSSS"
                ],
                link: "#",
                answercount: 3

              }
            ] %}

            {% if (hotbrandlist != null) and (hotbrandlist.length > 0) %}
              {% for item in hotbrandlist %}
                <div class = "child">
                  <a href="{{item.link}}" title="{{item.title}}" target="_blank">
                    {{item.title}}
                  </a>
                  <div>
                    <p>
                      {% if (item.label != null) and (item.label.length > 0) %}
                        {% for items in item.label %}
                          <span>{{items}}</span>
                        {% endfor %}
                      {% endif %}
                    </p>
                    <i>{{item.answercount}}条回答</i>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock body %}