{% extends "../shared/layout/defaultLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar,
navigationbar2 %}
{% from "../shared/sharedView/macro/components/satemap/satemap1.njk" import satemap1 %}

{% from "../shared/sharedView/macro/wuc/rfooter.njk" import rfooter %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/business/index.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript" src="/dist/scripts/list/index.js"></script>
{% endblock script %}

{% block body %}
  <div id="main">

    <div class="map">
      {{satemap1()}}
    </div>

    <div class="row1">
      <div class="left">
        <span>
          <i>!</i>公司介绍视频</span>
        <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png"/>
      </div>

      <div class="center">
        <div class="title">
          <p>京山轻机</p>
          <span>
            <i>!</i>优质品牌商</span>
        </div>
        <div class="signboard">
          <span>A股 | 000821 SZ</span>
        </div>

        <div class="brief">
          <p class="l">
            <span>企业全称：</span>湖北京山轻工机械股份有限公司</p>
          <p>
            <span>电话：</span>400-400-4000</p>
          <p class="l">
            <span>官网：</span>www.jsmachine.com.cn</p>
          <p>
            <span>地址： </span>湖北省京山县经济开发区轻机工业园</p>
          <p class="introduction">
            <span>公司简介：</span>湖北京山轻工机械股份有限公司（简称“京山轻机”）是中国最大的纸箱、纸盒包装机械生产和出口基地，是中国轻工总会和中国包装总公司定点生产纸制品包装机械的最大骨干企业。1998年6月26日在深圳证券交易所正式挂牌上市（股票代码：000821）。近几年，公司积极对接武汉大学、华科大、武汉理工...
          <a href="#">更多</a>
          </p>
        </div>
      </div>

      <div class="right">
        <div class="bank">
          <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png"/>
          <div class="r">
            <div>
              <span>李女士</span>
              <i>海外销售经理</i>
            </div>
            <p>负责对外商务洽谈业务</p>
            <p>行业经验：10年</p>
          </div>
        </div>

        <a class="consult" href="#">立即询价 </a>

      </div>
    </div>

    <div class="row2">
      <div class="title">
        {{navigationbar({
           isMore: false,
            link: "#",
            isSelect: "1",
            data: [
              {
                title: "全部产品",
                link: "javascript:(0)"
              }
            ]
        })}}
      </div>
      <div class="list">
        <div class="tab">
          {{navigationbar2()}}
        </div>
        <div class="container">
          <div class="container_box">

            {% set row2Data =
              [
                {
                  img:"https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link:"#",
                  title:"YWZJ-C型液压无轴纸架",
                  producttype:"原纸架",
                  wideinwidth:"1400、1600、1080、1080、2000、2200",
                  weight:"单侧最大4T",
                  diameter:"300mm-1580mm"
                },
                {
                  img:"https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link:"#",
                  title:"YWZJ-C型液压无轴纸架",
                  producttype:"原纸架",
                  wideinwidth:"1400、1600、1080、1080、2000、2200",
                  weight:"单侧最大4T",
                  diameter:"300mm-1580mm"
                },
                {
                  img:"https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link:"#",
                  title:"YWZJ-C型液压无轴纸架",
                  producttype:"原纸架",
                  wideinwidth:"1400、1600、1080、1080、2000、2200",
                  weight:"单侧最大4T",
                  diameter:"300mm-1580mm"
                },
                {
                  img:"https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link:"#",
                  title:"YWZJ-C型液压无轴纸架",
                  producttype:"原纸架",
                  wideinwidth:"1400、1600、1080、1080、2000、2200",
                  weight:"单侧最大4T",
                  diameter:"300mm-1580mm"
                },
                {
                  img:"https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link:"#",
                  title:"YWZJ-C型液压无轴纸架",
                  producttype:"原纸架",
                  wideinwidth:"1400、1600、1080、1080、2000、2200",
                  weight:"单侧最大4T",
                  diameter:"300mm-1580mm"
                },
                {
                  img:"https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link:"#",
                  title:"YWZJ-C型液压无轴纸架",
                  producttype:"原纸架",
                  wideinwidth:"1400、1600、1080、1080、2000、2200",
                  weight:"单侧最大4T",
                  diameter:"300mm-1580mm"
                },
                {
                  img:"https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link:"#",
                  title:"YWZJ-C型液压无轴纸架",
                  producttype:"原纸架",
                  wideinwidth:"1400、1600、1080、1080、2000、2200",
                  weight:"单侧最大4T",
                  diameter:"300mm-1580mm"
                },
                {
                  img:"https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
                  link:"#",
                  title:"YWZJ-C型液压无轴纸架",
                  producttype:"原纸架",
                  wideinwidth:"1400、1600、1080、1080、2000、2200",
                  weight:"单侧最大4T",
                  diameter:"300mm-1580mm"
                }
                

                
              ] 
          %}

            {% if (row2Data != null) and (row2Data.length > 0) %}
              {% for item in row2Data %}
                <div class="child">
                  <a class="logo" href="{{item.link}}">
                    <img src="{{item.img}}"/>
                  </a>
                  <a href="{{item.link}}">
                    <h1>{{item.title}}</h1>
                  </a>
                  <p>产品类型：{{item.producttype}}</p>
                  <p>宽幅：{{item.wideinwidth}}</p>
                  <p>纸卷重量：{{item.weight}}</p>
                  <p>纸卷直径：{{item.diameter}}</p>

                  <a class="enquiry" href="#">立即询价</a>
                </div>
              {% endfor %}
            {% endif %}

          </div>

          <div id="kkpage"></div>
        </div>

      </div>

    </div>

    <div class="row3">
      <div class="tab">
        {{navigationbar()}}
      </div>

      <div class="list">
        {% set row3Data = [
          {
            title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？有轻微的噔噔噔的声音怎么怎么...",
            link: "#",
            hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
            name: "上海于工",
            time: "2020-08-22",
            answercount: 3,
            content: "经典便宜好几万,建议可以考虑，我使用了一年多没了没什么问题。"
          }, {
            title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？有轻微的噔噔噔的声音怎么怎么...",
            link: "#",
            hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
            name: "上海于工",
            time: "2020-08-22",
            answercount: 3,
            content: "经典便宜好几万,建议可以考虑，我使用了一年多没了没什么问题。"
          }, {
            title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？有轻微的噔噔噔的声音怎么怎么...",
            link: "#",
            hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
            name: "上海于工",
            time: "2020-08-22",
            answercount: 3,
            content: "经典便宜好几万,建议可以考虑，我使用了一年多没了没什么问题。"
          }
        ]
 %}

        {% if (row3Data != null) and (row3Data.length > 0) %}
          {% for item in row3Data %}
            <div class="child">
              <a class="title" href="{{item.link}}" target="_blank">{{item.title}}</a>
              <div class="author">
                <img src="{{item.hread}}"/>
                <span>{{item.author}}</span>
                <span>{{item.time}}</span>
                <span>提问</span>

                <span class="answercount">{{item.answercount}}条评论</span>
              </div>

              <p>{{item.content}}</p>
            </div>
          {% endfor %}
        {% endif %}

      </div>

    </div>

    <div class="row4">
      <div class="title">
        {{navigationbar({
           isMore: false,
            link: "#",
            isSelect: "1",
            data: [
              {
                title: "相关咨询",
                link: "javascript:(0)"
              }
            ]
        })}}
      </div>

      <div class="list">
        <div class="tab">
          {{navigationbar2()}}
        </div>
        <div class="container">
          {% set row4Data = [
            {
              link: "#",
              img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
              title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
              content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
              author: "作者大大",
              time: "2021-11-11"
            }, {
              link: "#",
              img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
              title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
              content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
              author: "作者大大",
              time: "2021-11-11"
            }, {
              link: "#",
              img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
              title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
              content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
              author: "作者大大",
              time: "2021-11-11"
            }, {
              link: "#",
              img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
              title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
              content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
              author: "作者大大",
              time: "2021-11-11"
            }
          ]
 %}

          {% if (row4Data != null) and (row4Data.length > 0) %}
            {% for item in row4Data %}
              <div class="child">
                <a class="left" href="{{item.link}}" target="_blank">
                  <img src="{{item.img}}"/>
                </a>
                <div class="right">
                  <a class="title" href="{{item.link}}" target="_blank">{{item.title}}</a>
                  <p>{{item.content}}</p>
                  <div class="author">
                    <span>{{item.author}}</span>
                    <span>{{item.time}}</span>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}

        </div>
      </div>

    </div>
  </div>

{% endblock body %}