{% extends "../shared/layout/defaultLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar,
navigationbar2 %}
{% from "../shared/sharedView/macro/components/star/star.njk" import star %}
{% from "../shared/sharedView/macro/components/satemap/satemap1.njk" import satemap1 %}
{% from "../shared/sharedView/macro/components/list.njk" import list1,
kblist1 %}
{% from "../shared/sharedView/macro/wuc/rfooter.njk" import rfooter %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/business/index.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript">
    var companyId = {{companyId}}
    var reshighKbChart = {{reshighKbChart | safe}}
    var pageIndex = {{GetCompanyProduct.pageIndex | ternary(GetCompanyProduct.pageIndex,1)}}
    var totalPages = {{GetCompanyProduct.totalPages | ternary(GetCompanyProduct.totalPages,1)}}
    var pageSize = {{GetCompanyProduct.pageSize | ternary(GetCompanyProduct.pageSize,1)}}
  </script>

  <script type="text/javascript" src="/assets/plugin/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="/dist/scripts/business/index.js"></script>
{% endblock script %}

{# companyinfo #}

{% block body %}
  <div id="main">

    <div class="map">
      {{satemap1({
        title: "当前位置：",
        select: 3,
        map: [
          {
            name: "首页",
            link: "/"

          }, {
            name: "品牌商",
            link: "/list"

          }, {
            name: companyinfo.fullName,
            link: "/business/"+ companyId

          }
        ]
      })}}
    </div>

    <div class="row1">
      <div class="left">
        <span>
          {# <img data-viewer="https://vd2.bdstatic.com/mda-mdgffn3rwmgtyi5p/sc/cae_h264/1618628392/mda-mdgffn3rwmgtyi5p.mp4?v_from_s=hkapp-haokan-suzhou&auth_key=1618649702-0-0-ec5628162127f28779c191caa8e7744a&bcevod_channel=searchbox_feed&pd=1&pt=3&abtest=3000165_1" /> #}
          <i class="iconfont_wlzj">&#xE01B;</i>公司介绍视频
        </span>
        <img _src_="{{companyinfo.logo}}"/>
      </div>

      <div class="center">
        <div class="title">
          <p>{{companyinfo.abbrName}}</p>
          {% if companyinfo.hotDefine == 1 %}
             <span>
            <i><img _src_="/assets/images/union.png"/></i>
            {{companyinfo.hotDefine | get_companyHotType}}
          </span>
          {% endif %}
         
        </div>
        <div class="signboard">
          <span>{{companyinfo.stockInfo}}</span>
        </div>

        <div class="brief">
          <p class="l">
            <span>企业全称：</span>{{companyinfo.fullName}}</p>
          <p>
            <span>电话：</span>{{companyinfo.contactPhone}}</p>
          <p class="l">
            <span>官网：</span>{{companyinfo.website}}</p>
          <p>
            <span>地址： </span>{{companyinfo.addr}}</p>
          <p class="introduction">
            <span>公司简介：</span>{{companyinfo.desc}}
            {# <a href="{{copanyinfo.companyId}}">更多</a> #}
          </p>
        </div>
      </div>

      <div class="right">
        <p>企业产品口碑总分</p>
        <div class="scort">
          <span>{{companyinfo.reputationScore}}</span>
          {{star(companyinfo.reputationScore)}}
        </div>
        <p class="kbs">
          <span>{{companyinfo.totalReputationCount}}条口碑</span>
          <span>{{companyinfo.highReputationCount}}条优质口碑</span>
        </p>

        <div class="btn clearfix">
          <a class="issue" href="/reputation/publish/{{companyId}}" target="_blank">发布口碑</a>
          <a class="enquiry" href="/enquiry/{{companyId}}/0" target="_blank">向销售询价</a>
        </div>

      </div>

    </div>

    <div class="row2">
      <div class="title">
        {{navigationbar({
           isMore: false,
            id:"1",
            isSelect: "1",
            data: [
              {
                title: "全部产品",
                link: "javascript:(0)"
              }
            ]
        })}}
      </div>
      <div class="list">
        <div class="tab" id="product">
          {{navigationbar2({
            isSelect: "1",
            data: reputationtypeinfo
          })}}
        </div>
        <div class="container">
          <div class="container_box">

            {% if (GetCompanyProduct.items != null) and (GetCompanyProduct.items.length > 0) %}
              {% for item in GetCompanyProduct.items %}
                <div class="child">
                  <a class="logo" href="/business/product/{{companyId}}/{{item.productId}}" target="_blank">
                    <img _src_="{{item.productCover}}"/>
                  </a>
                  <a href="/business/product/{{companyId}}/{{item.productId}}" target="_blank">
                    <h1>{{item.productName}}</h1>
                  </a>
                  <div class="kb clearfix">
                    {% if item.statisticsModel %}
                      <i>{{item.statisticsModel.score | ternary(item.statisticsModel.score,0)}}</i>
                      {{star(item.statisticsModel.score | ternary(item.statisticsModel.score,0))}}
                      <span>{{item.statisticsModel.reputationCount | ternary(item.statisticsModel.reputationCount,0)}}条口碑</span>
                    {% else %}
                      <i>0</i>
                      {{star(0)}}
                      <span>0条口碑</span>
                    {% endif %}

                  </div>
                  <div class="productArgs clearfix">
                    {% for productArgsitem in item.productArgs %}
                      <p>{{productArgsitem.productKey}}：{{productArgsitem.productValue}}</p>
                    {% endfor %}
                  </div>
                  <a class="enquiry" href="/enquiry/{{companyId}}/0" target="_blank">立即询价</a>
                </div>
              {% endfor %}
            {% endif %}

          </div>

          <div id="kkpage"></div>
        </div>

      </div>

    </div>

    {% if reshighKb.length > 0 %}

      <div class="row3">
        <div class="row">
          {{ navigationbar({
                isMore: true,
                id:"1",
                link: "javascript:(0)",
                isSelect: "1",
                MoreText:"换一换",
                data: [
                  {
                    title: "产品口碑",
                    link: "javascript:(0)"
                  }
                ]

              }) }}
        </div>

        <div class="list_box">
          {{kblist1(reshighKb)}}
        </div>
      </div>
    {% endif %}
    <div class="row4">
      <div class="tab">
        {{navigationbar({
  isMore: true,
  MoreText: "更多>>",
  link: "/business/answer/0",
  isSelect: "1",
  data: [
    {
      title: "产品问答",
      nlink: "javascript:(0)",
      id: "1"
    }
  ]

})}}
      </div>

      <div class="list">
        {% set row3Data = [
          {
            title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？有轻微的噔噔噔的声音怎么怎么...",
            id:"1",
            hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
            name: "上海于工",
            time: "2020-08-22",
            answercount: 3,
            content: "经典便宜好几万,建议可以考虑，我使用了一年多没了没什么问题。"
          }, {
            title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？有轻微的噔噔噔的声音怎么怎么...",
            id:"1",
            hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
            name: "上海于工",
            time: "2020-08-22",
            answercount: 3,
            content: "经典便宜好几万,建议可以考虑，我使用了一年多没了没什么问题。"
          }, {
            title: "各位大哥们，发现低速转向或者启动，有轻微的噔噔噔的声音，高速行驶是没有的，这是怎么回事？有轻微的噔噔噔的声音怎么怎么...",
            id:"1",
            hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
            name: "上海于工",
            time: "2020-08-22",
            answercount: 3,
            content: "经典便宜好几万,建议可以考虑，我使用了一年多没了没什么问题。"
          }
        ]%}

        {% if (row3Data != null) and (row3Data.length > 0) %}
          {% for item in row3Data %}
            <div class="child">
              <a class="title" href="/business/answer/{{item.id}}" target="_blank">{{item.title}}</a>
              <div class="author">
                <img _src_="{{item.hread}}"/>
                <span>{{item.author}}</span>
                <span>{{item.time}}</span>
                <span>提问</span>

                <span class="answercount">{{item.answercount}}条评论</span>
              </div>

              <p>{{item.content}}</p>
            </div>
          {% endfor %}
        {% endif %}

      </div>

    </div>

    <div class="row5">
      <div class="title">
        {{navigationbar({
           isMore: false,
            id:"1",
            isSelect: "1",
            data: [
              {
                title: "相关资讯",
                link: "javascript:(0)"
              }
            ]
        })}}
      </div>

      <div class="list">
        <div class="tab" id="consult">
          {{navigationbar2(newTypes)}}
        </div>

        <div class="container">
          {{list1(firstNewsList)}}
        </div>

      </div>

    </div>
  </div>

{% endblock body %}