{% extends "../shared/layout/defaultLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar,
navigationbar2 %}
{% from "../shared/sharedView/macro/components/satemap/satemap1.njk" import satemap1 %}
{% from "../shared/sharedView/macro/components/list.njk" import list1 %}
{% from "../shared/sharedView/macro/wuc/rfooter.njk" import rfooter %}
{% from "../shared/sharedView/macro/components/star/star.njk" import star %}
{% block title %}
54123123213333
{% endblock title %}
{# CompanyProductInfo #}
{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/business/product.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript">
    var productId = {{productId}}
    var companyId = {{companyId}}
  </script>
  <script type="text/javascript" src="/dist/scripts/business/product.js"></script>
{% endblock script %}

{% block body %}
  <div id="main">
    <div class="map">
      {{satemap1({
          title: "当前位置：",
          select: 4,
          map: [
            {
            name: "首页",
            link: "/"

          }, {
            name: "品牌商",
            link: "/list"

          }, {
            name: CompanyProductInfo.company.fullName,
            link: "/business/"+ companyId

          }, {
              name: CompanyProductInfo.productName,
              link: "/business/product/"+ companyId +"/" + productId

            }
          ]
        })}}
    </div>

    <div class="container">

      <div class="left">
        <div class="row1">
          <div class="left">
            <img _src_="{{CompanyProductInfo.productCover}}"/>

            <div class="more">
              {% if CompanyProductInfo.productVideo != null and CompanyProductInfo.productVideo.length > 0%}
                <span class="productVideo" data-viewer="{{CompanyProductInfo.productVideo}}">
                  <i class='iconfont_wlzj'>&#xE01B;</i>产品视频介绍
                </span>
              {% endif %}

              <span class="productimg" >
                {% if CompanyProductInfo.companyProductImages and CompanyProductInfo.companyProductImages.length > 0 %}
                  <i data-viewer="{{CompanyProductInfo.companyProductImages[0].imageUrl}}">更多图片</i>
                {% endif %}

                <p style="display:none">
                  {% if CompanyProductInfo.companyProductImages and CompanyProductInfo.companyProductImages.length > 0 %}
                    {% for item in CompanyProductInfo.companyProductImages %}
                      {% if loop.index !== 1 %}
                        <img _src_="{{item.imageUrl}}" data-viewer="{{item.imageUrl}}" data-productImgType="{{item.productImgType}}" data-imageDesc="{{item.imageDesc}}"/>
                      {% endif %}

                    {% endfor %}
                  {% endif %}
                </p>
              </span>
            </div>
          </div>

          <div class="right">
            {% if kbByProduct %}
              <h1>{{CompanyProductInfo.productName}}</h1>
              <span>产品口碑分</span>
              <div class="score">
                <span>{{kbByProduct.score}}</span>
                {{star(kbByProduct.score)}}
                <b>{{kbByProduct.reputationCount}}条口碑</b>
              </div>
              <div class="configuration">
                {% if (kbscoreData != null) and (kbscoreData.length > 0) %}
                  {% for item in kbscoreData %}
                    <p>
                      <span>{{item.name}}</span>
                      <span>{{item.number}}</span>
                    </p>
                  {% endfor %}
                {% endif %}

              </div>
              <a href="/reputation/{{companyId}}/{{productId}}" target="_blank" class="more">产看该产品的全部口碑 ></a>

            {% endif %}
          </div>
        </div>

        <div class="row2">
          <div class="tab">
            {{navigationbar({
            isMore: false,
            id:"1",
            isSelect: "1",
            data: [
              {
                title: "产品信息",
                link: "javascript:(0)"
              }
            ]
        })}}
          </div>
          <div class="content">
            <div class="information">
              <h1>产品参数</h1>
              <div class="table">

                {% if (CompanyProductInfo.productArgs != null) and (CompanyProductInfo.productArgs.length > 0) %}
                  {% for item in CompanyProductInfo.productArgs %}
                    <p>
                      <span>{{item.productKey}}</span>
                      <span>{{item.productValue}}</span>
                    </p>
                  {% endfor %}
                {% endif %}

              </div>

              <h1>产品概要</h1>
              <div class="html">
                {{CompanyProductInfo.summary | safe}}
                {# <p>阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬安抚阿斯蒂芬</p>
                <p>阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬安抚阿斯蒂芬</p>
                <p>阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬安抚阿斯蒂芬</p>
                <p><img _src_="https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0"></p>
                <p>阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬安抚阿斯蒂芬</p>
                <p>阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬安抚阿斯蒂芬</p> #}
              </div>
            </div>

          </div>
        </div>

        <div class="row3 clearfix">
          <div class="tab">
            {{navigationbar({
                isMore: true,
                link: "/reputation/" + companyId + '/' + productId,
                MoreText:"查看更多",
                isSelect: "1",
                data: [
                  {
                    title: "产品口碑",
                    link: "javascript:(0)"
                  }
                ]
            })}}
          </div>
          <div class="cr_box">
            <div class="hd clearfix">
              <div class="l">
                <h1>4.35</h1>
                <div>
                  {{star(4.35)}}
                  <span>32条口碑</span>
                </div>
              </div>
              <div class="r">
                <span>性能优秀</span>
                <span>性能优秀</span>
                <span>性能优秀</span>
                <span>性能优秀</span>
                <span>性能优秀</span>
                <span>性能优秀</span>
              </div>
            </div>

            <div class="list">
              {% for item in ReputationData %}
                <div class="child">
                  <div class="clearfix">
                    <div class="l">
                      <div>
                        <img _src_="{{item.userIcon}}"/>
                        <i>{{item.userName}}</i>
                      </div>
                      <p>购买价格：{{item.purchasePrice}}</p>
                      <p>购买时间：{{item.buyTime | get_time_timestamp | ge_time_format(2)}}</p>
                      <p>投入使用：{{item.useTime | get_time_timestamp | ge_time_format(2)}}</p>
                    </div>

                    <div class="r">
                      {{item.summary |safe}}
                    </div>
                  </div>
                  {% if item.newId != null and item.newId != 0 %}
                    <div class="more clearfix">
                      <a href="/news/reputation/{{item.newId}}" target="_blank">查看详情</a>
                    </div>
                  {% endif %}

                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="row4">
          <div class="tab">
            {{navigationbar({
                isMore: false,
                link: "#",
                isSelect: "1",
                data: [
                  {
                    title: "产品资讯",
                    link: "javascript:(0)"
                  }
                ]
            })}}
          </div>

          <div class="list">
            {{list1(firstNewsList)}}
          </div>
        </div>
      </div>

      <div class="right">
        {% if (salers != null) and (salers.length > 0) %}
          <div class="marketing">
            <div class="title">
              {{navigationbar({
                isMore: false,
                isSelect: "1",
                data: [
                  {
                    title: "销售信息",
                    link: "javascript:(0)"
                  }
                ]
            })}}
            </div>
            <div class="list_box">

              {% for item in salers %}
                <div class="child">
                  <div class="in">
                    <img class="hread" _src_="{{item.salerIcon}}"/>
                    <div class="r">
                      <div>
                        <p>{{item.salerName}}</p>
                        <span>{{item.salerPosition}}</span>
                      </div>
                      <p>{{item.salerFunction}}</p>
                      <p>行业经验：{{item.salerWorkYears}}年</p>
                    </div>
                  </div>

                  <a class="ia" target="_blank" href="/enquiry/{{companyId}}/{{item.salerId}}">向TA咨询</a>
                </div>
              {% endfor %}

            </div>
          </div>

        {% endif %}

        {# <div class="question">
          <div class="title">
            {{navigationbar({
                isMore: false,
                link: "#",
                isSelect: "1",
                data: [
                  {
                    title: "相关提问",
                    link: "javascript:(0)"
                  }
                ]
            })}}
          </div>

          <div class="list_box">
            {% set questionData = [
              {
                title: "如何让机器的能耗最低？",
                label: [
                  "阿萨德", "发水电费沙发斯蒂芬"
                ],
                link: "#",
                commentcount: 5
              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "阿萨德", "发水电费沙发斯蒂芬"
                ],
                link: "#",
                commentcount: 5
              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "阿萨德", "发水电费沙发斯蒂芬"
                ],
                commentcount: 5
              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "阿萨德", "发水电费沙发斯蒂芬"
                ],
                link: "#",
                commentcount: 5
              }, {
                title: "如何让机器的能耗最低？如何让机器的能耗最低？如何让机器的能耗最低？如何让机器的能耗最低？如何让机器的能耗最低？",
                label: [
                  "阿萨德", "发水电费沙发斯蒂芬"
                ],
                link: "#",
                commentcount: 5
              }
            ] %}

            {% if (questionData != null) and (questionData.length > 0) %}
              {% for item in questionData %}
                <div class="child">
                  <a href="{{item.link}}">{{item.title}}</a>
                  <div>
                    {% if (item.label != null) and (item.label.length > 0) %}
                      <p>
                        {% for items in item.label %}
                          <span>{{items}}</span>
                        {% endfor %}
                      </p>
                      <i>{{item.commentcount}}条回答</i>
                    {% endif %}

                  </div>
                </div>
              {% endfor %}
            {% endif %}

          </div>

          <div class="quiz">
            <a href="#">我要提问</a>
          </div>

        </div> #}

        <a class="advertising" href="#"><img _src_="https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0" class=""></a>

        {# <div id="informationsub">
          <h2>立即提交</h2>
          <input class="phone" type="text" placeholder="*联系电话"/>
          <div class="verification">
            <input type="text" placeholder="*验证码"/>
            <span>获取验证码</span>
          </div>
          <input class="describe" type="text" placeholder="*请简单描述你的需求(非必填)"/>

          <a class="submit" href="javascript:(0)">发送</a>
        </div> #}

      </div>

    </div>

  </div>

{% endblock body %}