{% extends "../shared/layout/defaultLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar,
navigationbar2 %}
{% from "../shared/sharedView/macro/components/satemap/satemap1.njk" import satemap1 %}
{% from "../shared/sharedView/macro/components/list.njk" import list1 %}
{% from "../shared/sharedView/macro/wuc/rfooter.njk" import rfooter %}
{% from "../shared/sharedView/macro/components/star/star.njk" import star %}
{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/business/product.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript" src="/dist/scripts/business/product.js"></script>
{% endblock script %}

{% block body %}
  <div id="main">
    <div class="map">
      {{satemap1({
        title: "当前位置：",
        select: 4,
        map: [
          {
            name: "首页",
            link: "#"

          }, {
            name: "品牌商",
            link: "#"

          }, {
            name: "京山轻机",
            link: "#"

          }
          , {
            name: "原纸架",
            link: "#"

          }
        ]
      })}}
    </div>

    <div class="container">

      <div class="left">
        <div class="row1">
          <div class="left">
            <img src="https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0"/>
            <p>
              <span>
                <i class='iconfont_wlzj'>&#xE01B;</i>产品视频介绍</span>
              <span>更多图片</span>
            </p>
          </div>

          <div class="right">
            {% if kbByProduct %}
              <h1>YWZJ-C型液压无轴纸架</h1>
              <span>产品口碑分</span>
              <div class="score">
                <span>{{kbByProduct.score}}</span>
                {{star(kbByProduct.score)}}
                <b>{{kbByProduct.reputationCount}}条口碑</b>
              </div>
              <div class="configuration">
                {% if (kbscoreData != null) and (kbscoreData.length > 0) %}
                  {% for item in kbscoreData %}
                    <p>
                      <span>{{item.name}}</span>
                      <span>{{item.number}}</span>
                    </p>
                  {% endfor %}
                {% endif %}

              </div>
              <a href="/reputation/123" target="_blank" class="more">产看该产品的全部口碑 ></a>

            {% endif %}
          </div>
        </div>

        <div class="row2">
          <div class="tab">
            {{navigationbar({
            isMore: false,
            id:"1",
            isSelect: "1",
            data: [
              {
                title: "产品信息",
                link: "javascript:(0)"
              }
            ]
        })}}
          </div>
          <div class="content">
            <div class="information">
              <h1>产品参数</h1>
              <div class="table">
                {% set tableData = [
                  {
                    key: "夹持卷纸筒最大直径",
                    value: "最大直径1500mm"
                  }, {
                    key: "夹持卷纸筒最大直径",
                    value: "最大直径1500mm"
                  }, {
                    key: "夹持卷纸筒最大直径",
                    value: "最大直径1500mm"
                  }, {
                    key: "夹持卷纸筒最大直径",
                    value: "最大直径1500mm"
                  }, {
                    key: "夹持卷纸筒最大直径",
                    value: "最大直径1500mm"
                  }, {
                    key: "夹持卷纸筒最大直径",
                    value: "最大直径1500mm"
                  }, {
                    key: "夹持卷纸筒最大直径",
                    value: "最大直径1500mm"
                  }, {
                    key: "夹持卷纸筒最大直径",
                    value: "最大直径1500mm"
                  }
                ] %}
                {% if (tableData != null) and (tableData.length > 0) %}
                  {% for item in tableData %}
                    <p>
                      <span>{{item.key}}</span>
                      <span>{{item.value}}</span>
                    </p>
                  {% endfor %}
                {% endif %}

              </div>

              <h1>产品概要</h1>
              <div class="html">
                <p>阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬安抚阿斯蒂芬</p>
                <p>阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬安抚阿斯蒂芬</p>
                <p>阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬安抚阿斯蒂芬</p>
                <p><img src="https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0"></p>
                <p>阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬安抚阿斯蒂芬</p>
                <p>阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬安抚阿斯蒂芬</p>
              </div>
            </div>

          </div>
        </div>

        <div class="row3 clearfix">
          <div class="tab">
            {{navigationbar({
                isMore: true,
                link: "/reputation/123",
                MoreText:"查看更多",
                isSelect: "1",
                data: [
                  {
                    title: "产品口碑",
                    link: "javascript:(0)"
                  }
                ]
            })}}
          </div>
          <div class="cr_box">
            <div class="hd clearfix">
              <div class="l">
                <h1>4.35</h1>
                <div>
                  {{star(4.35)}}
                  <span>32条口碑</span>
                </div>
              </div>
              <div class="r">
                <span>性能优秀</span>
                <span>性能优秀</span>
                <span>性能优秀</span>
                <span>性能优秀</span>
                <span>性能优秀</span>
                <span>性能优秀</span>
              </div>
            </div>

            <div class="list">
              {% set crlistdata = [
                {
                  id: 11,
                  hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  name: "李女士",
                  price: "300万",
                  buytime: "2019-06",
                  actiontime: "2020-12",
                  description: "外观大气，空间宽大，较老款乘座舒适性有很大提高，驾驭起来底盘扎实，提速较快，新平台，新技术。做工精致，用料考究。外观大气，空间宽大，较老款乘座舒适性有很大提高，驾驭起来底盘扎实，提速较快，新平台，新技术。做工精致，用料考究。外观大气，空间宽大，较老款乘座舒适性有很大提高，驾驭起来底盘扎实，提速较快，新平台，新技术。做..."
                }, {
                  id: 11,
                  hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  name: "李女士",
                  price: "300万",
                  buytime: "2019-06",
                  actiontime: "2020-12",
                  description: "外观大气，空间宽大，较老款乘座舒适性有很大提高，驾驭起来底盘扎实，提速较快，新平台，新技术。做工精致，用料考究。外观大气，空间宽大，较老款乘座舒适性有很大提高，驾驭起来底盘扎实，提速较快，新平台，新技术。做工精致，用料考究。外观大气，空间宽大，较老款乘座舒适性有很大提高，驾驭起来底盘扎实，提速较快，新平台，新技术。做..."
                }, {
                  id: 11,
                  hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  name: "李女士",
                  price: "300万",
                  buytime: "2019-06",
                  actiontime: "2020-12",
                  description: "外观大气，空间宽大，较老款乘座舒适性有很大提高，驾驭起来底盘扎实，提速较快，新平台，新技术。做工精致，用料考究。外观大气，空间宽大，较老款乘座舒适性有很大提高，驾驭起来底盘扎实，提速较快，新平台，新技术。做工精致，用料考究。外观大气，空间宽大，较老款乘座舒适性有很大提高，驾驭起来底盘扎实，提速较快，新平台，新技术。做..."
                }
              ] %}

              {% for item in crlistdata %}
                <div class="child">
                  <div class="clearfix">
                    <div class="l">
                      <div>
                        <img src="{{item.hread}}"/>
                        <i>{{item.name}}</i>
                      </div>
                      <p>购买价格:{{item.price}}</p>
                      <p>购买时间:{{item.buytime}}</p>
                      <p>投入使用:{{item.actiontime}}</p>
                    </div>

                    <div class="r">
                      {{item.description}}
                    </div>
                  </div>

                  <div class="more clearfix">
                    <a href="/news/reputation/{{item.id}}" target="_blank">查看详情</a>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>

        <div class="row4">
          <div class="tab">
            {{navigationbar({
                isMore: false,
                link: "#",
                isSelect: "1",
                data: [
                  {
                    title: "产品资讯",
                    link: "javascript:(0)"
                  }
                ]
            })}}
          </div>

          <div class="list">
            {{list1([
  {
    link: "/news/1231",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    time: "2021-11-11",
    businesslogo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    businessname: "万联",
    slug: ["视频", "音频"]
  }, {
    link: "/news/1231",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    time: "2021-11-11"
  }, {
    link: "/news/1231",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    time: "2021-11-11"
  }, {
    link: "/news/1231",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    time: "2021-11-11"
  }
])}}
          </div>
        </div>
      </div>

      <div class="right">
        <div class="marketing">
          <div class="title">
            {{navigationbar({
                isMore: false,
                isSelect: "1",
                data: [
                  {
                    title: "销售信息",
                    link: "javascript:(0)"
                  }
                ]
            })}}
          </div>
          <div class="list_box">

            {% set marktingData = [
              {
                hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                name: "李女士",
                title: "海外销售经理",
                introduction: "负责对外商务洽谈业务",
                experience: "10",
                link: "/enquiry/123"
              }, {
                hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                name: "李女士",
                title: "海外销售经理",
                introduction: "负责对外商务洽谈业务",
                experience: "10",
                link: "/enquiry/123"
              }
            ] %}

            {% if (marktingData != null) and (marktingData.length > 0) %}
              {% for item in marktingData %}
                <div class="child">
                  <div class="in">
                    <img class="hread" src="{{item.hread}}"/>
                    <div class="r">
                      <div>
                        <p>{{item.name}}</p>
                        <span>{{item.title}}</span>
                      </div>
                      <p>{{item.introduction}}</p>
                      <p>行业经验：{{item.experience}}年</p>
                    </div>
                  </div>

                  <a class="ia" target="_blank" href="{{item.link}}">向TA咨询</a>
                </div>
              {% endfor %}
            {% endif %}

          </div>
        </div>

        <div class="question">
          <div class="title">
            {{navigationbar({
                isMore: false,
                link: "#",
                isSelect: "1",
                data: [
                  {
                    title: "相关提问",
                    link: "javascript:(0)"
                  }
                ]
            })}}
          </div>

          <div class="list_box">
            {% set questionData = [
              {
                title: "如何让机器的能耗最低？",
                label: [
                  "阿萨德", "发水电费沙发斯蒂芬"
                ],
                link: "#",
                commentcount: 5
              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "阿萨德", "发水电费沙发斯蒂芬"
                ],
                link: "#",
                commentcount: 5
              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "阿萨德", "发水电费沙发斯蒂芬"
                ],
                commentcount: 5
              }, {
                title: "如何让机器的能耗最低？",
                label: [
                  "阿萨德", "发水电费沙发斯蒂芬"
                ],
                link: "#",
                commentcount: 5
              }, {
                title: "如何让机器的能耗最低？如何让机器的能耗最低？如何让机器的能耗最低？如何让机器的能耗最低？如何让机器的能耗最低？",
                label: [
                  "阿萨德", "发水电费沙发斯蒂芬"
                ],
                link: "#",
                commentcount: 5
              }
            ] %}

            {% if (questionData != null) and (questionData.length > 0) %}
              {% for item in questionData %}
                <div class="child">
                  <a href="{{item.link}}">{{item.title}}</a>
                  <div>
                    {% if (item.label != null) and (item.label.length > 0) %}
                      <p>
                        {% for items in item.label %}
                          <span>{{items}}</span>
                        {% endfor %}
                      </p>
                      <i>{{item.commentcount}}条回答</i>
                    {% endif %}

                  </div>
                </div>
              {% endfor %}
            {% endif %}

          </div>

          <div class="quiz">
            <a href="#">我要提问</a>
          </div>

        </div>

        <a class="advertising" href="#"><img src="https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0" class=""></a>

        {# <div id="informationsub">
          <h2>立即提交</h2>
          <input class="phone" type="text" placeholder="*联系电话"/>
          <div class="verification">
            <input type="text" placeholder="*验证码"/>
            <span>获取验证码</span>
          </div>
          <input class="describe" type="text" placeholder="*请简单描述你的需求(非必填)"/>

          <a class="submit" href="javascript:(0)">发送</a>
        </div> #}

      </div>

    </div>

  </div>

{% endblock body %}