{% from "../star/star.njk" import star %}

{% macro productlist(args=[
  {
    productId:'111',
    productCover:'https://lepack.oss-cn-hangzhou.aliyuncs.com/dev/2021-05-31/b7f3da62144a8ed08c898dd94c365565.jpg',
    productName:'YWZJ-C型液压无轴纸架',
    productTypeName:'单面机',
    statisticsModel:{score:'4.68'}
  },
  {
    productId:'111',
    productCover:'https://lepack.oss-cn-hangzhou.aliyuncs.com/dev/2021-05-31/b7f3da62144a8ed08c898dd94c365565.jpg',
    productName:'YWZJ-C型液压无轴纸架',
    productTypeName:'单面机',
    statisticsModel:{score:'4.68'}
  },
  {
    productId:'111',
    productCover:'https://lepack.oss-cn-hangzhou.aliyuncs.com/dev/2021-05-31/b7f3da62144a8ed08c898dd94c365565.jpg',
    productName:'YWZJ-C型液压无轴纸架',
    productTypeName:'单面机',
    statisticsModel:{score:'4.68'}
  }
]) %}
  <div class="productlist">
    {% for item in args %}
      <div class="child clearfix">
        <a class="logo" data-id='{{item.productId}}' href="/m/business/product/{{item.company.companyId}}/{{item.productId}}">
          <img src="{{item.productCover}}" title="{{item.productName}}"/>
        </a>
        <section>
          <a href="/m/business/product/{{item.company.companyId}}/{{item.productId}}">
            <h2>{{item.productName}}</h2>
          </a>
          <a class="p clearfix" href="/m/business/product/{{item.company.companyId}}/{{item.productId}}">
            <span>{{item.productTypeName}}</span>

          </a>

          <section class="score clearfix">
            <a class="l" href="/m/business/product/{{item.company.companyId}}/{{item.productId}}">
              <span>{{item.statisticsModel.score | ternary(item.statisticsModel.score,'0')}}</span>
              {{star(item.statisticsModel.score | ternary(item.statisticsModel.score,'0'))}}
            </a>
            <a class="consult" href="/m/enquiry/{{item.company.companyId}}/{{item.productId}}">立即咨询</a>
          </section>
        </section>
      </div>
    {% endfor %}

  </div>

{% endmacro %}

{% macro reputationlist(args=[{
    newsId:'11',
    userIcon:'https://lepack.oss-cn-hangzhou.aliyuncs.com/dev/2021-05-31/b7f3da62144a8ed08c898dd94c365565.jpg',
    userName:'发布者昵称',
    statisticsModel:{score:'4.68'},
    productName:'ECUT 1650 ELITE SA全自动模切机',
    title:'应用加载速度对比iPhone12正常设计,不一定是本身的问题。',
    summary:'首先是车身外观，别克家族式带翅膀前脸，与老款相比更具时尚气息，精英配备LED自动大灯，这在很多车型当中算好的，很多老一代只配备卤素灯，媳...',
    isgood:true,
    purchasePrice:'300',
    buyTime:'2020/02/23',
    usetime:'2020/02/23'
  },{
    newsId:'11',
    userIcon:'https://lepack.oss-cn-hangzhou.aliyuncs.com/dev/2021-05-31/b7f3da62144a8ed08c898dd94c365565.jpg',
    userName:'发布者昵称',
    statisticsModel:{score:'4.68'},
    productName:'ECUT 1650 ELITE SA全自动模切机',
    title:'应用加载速度对比iPhone12正常设计,不一定是本身的问题。',
    summary:'首先是车身外观，别克家族式带翅膀前脸，与老款相比更具时尚气息，精英配备LED自动大灯，这在很多车型当中算好的，很多老一代只配备卤素灯，媳...',
    isgood:true,
    purchasePrice:'300',
    buyTime:'2020/02/23',
    usetime:'2020/02/23',
    createTime:""
  }]) %}

  <div class="reputationlist">
    {% for item in args %}
      <a class="child" href="/m/news/reputation/{{item.newsId}}" data-id="{{item.newsId}}" data-timetick="{{item.createTime | get_time_timestamp}}">
        <section class="userinfo">
          <img src="{{item.userIcon}}"/>
          <p>{{item.userName}}</p>
        </section>

        <section class="score clearfix">
          <span>{{item.statisticsModel.score}}</span>
          {{star(item.statisticsModel.score)}}
        </section>

        <section class="productname">
            产品：{{item.productName}}
        </section>

        <section class="title">{{item.title}}</section>

        <section class="user">
          <p>
            <span>购买价格</span>
            <i>{{item.purchasePrice}}万</i>
          </p>
          <p>
            <span>购买时间</span>
            <i>{{item.buyTime| get_time_timestamp | ge_time_format(2)}}</i>
          </p>
          <p>
            <span>投入使用</span>
            <i>{{item.useTime| get_time_timestamp | ge_time_format(2)}}</i>
          </p>
        </section>

        <section class="content">
          <p>{{item.summary | delHtmlTag}}</p>

          <section class="atlas clearfix">

            {% for imgurl in (item.summary | onlyimg(3)) %}
              <img _src_="{{imgurl}}" data-viewer="{{imgurl}}"/>
            {% endfor %}
          </section>
        </section>

      </a>
    {% endfor %}
  </div>

{% endmacro %}

{% macro saleslist(args = [
  {
    salerId: 1,
    salerIcon: "/assets/images/loading.png",
    salerName: '李女士',
    salerPosition: '海外销售经理',
    salerFunction: '负责对外商务洽谈业务',
    salerWorkYears: 10,
    productId: 0
  }, {
    salerId: 1,
    salerIcon: "/assets/images/loading.png",
    salerName: '李女士',
    salerPosition: '海外销售经理',
    salerFunction: '负责对外商务洽谈业务',
    salerWorkYears: 10,
    productId: 0
  }, {
    salerId: 1,
    salerIcon: "/assets/images/loading.png",
    salerName: '李女士',
    salerPosition: '海外销售经理',
    salerFunction: '负责对外商务洽谈业务',
    salerWorkYears: 10,
    productId: 0
  }
]) %}
  <div class="saleslist">
    {% for item in args %}
      <div class="child">
        <div class="info">
          <div class="header">
            <img src='{{item.salerIcon}}'/>
          </div>
          <div class="r">
            <section class="clearfix">
              <p>{{item.salerName}}</p>
              <span>{{item.salerPosition}}</span>
            </section>
            <p>{{item.salerFunction}}</p>
            <p>行业经验:{{item.salerWorkYears}}年</p>
          </div>
        </div>
        {# href="/m/business/product/1/53" #}
        <a href="/m/enquiry/{{item.companyId}}/{{(item.productId) | ternary(item.productId,0)}}/{{item.salerId}}" onclick="document.location.href=this.href;" target="_self">向TA咨询</a>

      </div>
    {% endfor %}
  </div>
{% endmacro %}