{% extends "./shared/layout/defaultLayout.njk" %}
{% from "./shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "./shared/sharedView/macro/components/selectOption.njk" import selectOption %}
{% from "./shared/sharedView/macro/wuc/rfooter.njk" import rfooter %}
{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/index/enquiry.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript">
    var companyId = {{companyId}}
  </script>
  <script type="text/javascript" src="/dist/scripts/index/enquiry.js"></script>
{% endblock script %}

{% block body %}
  <div id="main">
    <div class="tab">
      {{navigationbar({
                isMore: false,
                link: "#",
                isSelect: "1",
                data: [
                  {
                    title: "询价",
                    link: "javascript:(0)"
                  }
                ]
            })}}
    </div>

    <div class="container">

      <div class="form">
        <div class="type">
          <img src="{{companydata.logo}}"/>
          <div>
            <p>{{companydata.fullName}}</p>
            <div class="typeselect">
              {{selectOption({
                  selectIndex: 0,
                  data: productTypeAry

                })}}
            </div>

          </div>
        </div>

        <div class="phone">
          <span>手机号</span>
          <input type="text" placeholder="请输入11位手机号码"/>
        </div>

        <div class="verification">
          <span>验证码</span>
          <input type="text" placeholder="请输入验证码"/>
          <a>获取验证码</a>
          <span class="countdown">60S</span>
        </div>

        <div class="describe">
          <span> &nbsp; </span>
          <textarea placeholder="请简单描述你的需求(非必填)"></textarea>
        </div>
        <div class="submitdiv">
          <span> &nbsp; </span>
          <div class="submit">发送</div>
        </div>

      </div>

      <div class="salesman">
        <div class="title">
          <p>销售人员</p>
          <span>最多选择2位销售人员</span>
        </div>

        <div class="personnelselection">

          {% if (salers != null) and (salers.length > 0) %}
            {% for item in salers %}
              <div class="itembox">
                <input type="checkbox"  data-id='{{item.salerId}}' class="radio" {{(item.salerId == salesid) | ternary('checked=true','')}} name="radio" id="radio_{{item.salerId}}"/>
                <div class="checkbox">
                  <label for="radio_{{item.salerId}}"></label>
                </div>
                <div class="child">
                  <div class="in">
                    <img class="hread" src="{{item.salerIcon}}"/>
                    <div class="r">
                      <div>
                        <p>{{item.salerName}}</p>
                        <span>{{item.salerPosition}}</span>
                      </div>
                      <p>{{item.salerFunction}}</p>
                      <p>行业经验：{{item.salerWorkYears}}年</p>
                    </div>
                  </div>
                </div>
              </div>
            {% endfor %}
          {% endif %}

        </div>

      </div>

    </div>

  </div>

  <div class="popup_succee" style="display:none">
    <h1>发送成功</h1>
    <p>品牌销售将及时联系您</p>
    <span href="javascript:(0)">关闭</span>
  </div>

{% endblock body %}