{% extends "./shared/layout/defaultLayout.njk" %}

{# 引入变量 #}
{% import "./shared/sharedView/set/index.njk" as setCon %}
{% import "./shared/sharedView/macro/macro.njk" as macroCon %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/style/a.css" rel="stylesheet">
{% endblock style %}

{% block script %}{% endblock script %}

{% block body %}

  <div>
主体

</div>
{% endblock body %}