{% extends "./shared/layout/defaultLayout.njk" %}

{% from "./shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "./shared/sharedView/macro/components/star/star.njk" import star %}
{% from "./shared/sharedView/macro/wuc/rfooter.njk" import rfooter %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/index/index.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript" src="/assets/plugin/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="/dist/scripts/index/index.js"></script>
{% endblock script %}

{% block body %}

  <div id="main">
    {% set rowData = [
      {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }

    ]%}
    <div class="row_hot">
      {% for item in rowData %}
        <a href="{{item.link}}" title="{{item.title}}" target="_blank">
          <div><img src="{{item.image}}"/></div>
          <p>{{item.title}}</p>
        </a>

      {% endfor %}
    </div>

    {% set adsData = [
      {
        img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        title: "adsfasfasdfa",
        link: "#"
      }, {
        img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        title: "adsfasfasdfa",
        link: "#"
      }, {
        img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        title: "adsfasfasdfa",
        link: "#"
      }, {
        img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        title: "adsfasfasdfa",
        link: "#"
      }
    ] %}

    {% if (adsData != null) and (adsData.length > 0) %}
      <div class="ads">
        {% for item in adsData %}
          <a href="{{item.link}}" title="{{item.title}}">
            <img src="{{item.img}}"/>
          </a>
        {% endfor %}
      </div>
    {% endif %}

    {% set rowImg = [
      {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }, {
        title: "纸板加工设备",
        image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
        link: "#"
      }
    ] %}

    <div class="rowImg">
      {% for item in rowImg %}
        <a href="{{item.link}}" title="{{item.title}}" target="_blank">
          <img src="{{item.image}}"/>
        </a>
      {% endfor %}
    </div>

    {% set brandData = [
      [

        {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }

      ],
      [

        {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }

      ],
      [

        {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }

      ],
      [

        {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }

      ],
      [

        {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }

      ],
      [

        {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }, {
          title: "纸板加工设备",
          image: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
          link: "#",
          kbCount: "100000",
          kbscore: "5.0",
          lable: ["上市公司", "上市公司", "上市公司"]
        }

      ]
    ] %}

    <div class="brand">
      <div class="row">
        {{ navigationbar() }}
      </div>

      <div class="list_box">

        {% if (brandData != null) and (brandData.length > 0) %}

          {% for items in brandData %}
            <div class="list_item" style="display:{{ (loop.index == 1) | ternary('block','none') }}">

              {% for item in items %}

                <div class="listchild">
                  <a class="left" href="{{item.link}}" title="{{item.title}}" target="_blank">
                    <img src="{{item.image}}"/>
                  </a>
                  <div class="right">
                    <a href="{{item.link}}" title="{{item.title}}" target="_blank">{{item.title}}</a>

                    <div class="kb">
                      <span>{{item.kbscore}}</span>
                      <i>★★★★★</i>
                      <b>{{item.kbCount}}条口碑</b>
                    </div>
                    <div class="label">
                      {% for item in item.lable %}
                        <span>{{item}}</span>
                      {% endfor %}

                    </div>
                  </div>
                </div>

              {% endfor %}
            </div>
          {% endfor %}
        {% endif %}

      </div>
    </div>

    <div class="hotnew">
      <div class="banner">

        {# <img src="https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png"/> #}
        {% set bannerListData = [
          {
            image: "https://p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg",
            link: "#",
            title: "BHS瓦楞线 SPEED Line 适用于超大区域量解决方案"
          }, {
            image: "https://p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg",
            link: "#",
            title: "BHS瓦楞线 SPEED Line 适用于超大区域量解决方案"
          }, {
            image: "https://p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg",
            link: "#",
            title: "BHS瓦楞线 SPEED Line 适用于超大区域量解决方案"
          }, {
            image: "https://p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg",
            link: "#",
            title: "BHS瓦楞线 SPEED Line 适用于超大区域量解决方案"
          }
        ] %}
        <div id="slider_parents" class="slider_parent">
          <ul class="slider_box" id="slider_doms">
            {% if (bannerListData != null) and (bannerListData.length > 0) %}
              {% for item in bannerListData %}
                <li class="slider_list">
                  <a href="{{item.link}}" title="{{item.title}}" target="_blank">
                    <img src="{{item.image}}"/>
                    <p>{{item.title}}</p>
                  </a>
                </li>
              {% endfor %}
            {% endif %}

          </ul>
        </div>

      </div>

      {% set kbranklistData = [
        {
          link: "#",
          title: '水电费阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬'
        }, {
          link: "#",
          title: '水电费阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬'
        }, {
          link: "#",
          title: '水电费阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬'
        }, {
          link: "#",
          title: '水电费阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬'
        }, {
          link: "#",
          title: '水电费阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬'
        }, {
          link: "#",
          title: '水电费阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬'
        }, {
          link: "#",
          title: '水电费阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬'
        }, {
          link: "#",
          title: '水电费阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬'
        }, {
          link: "#",
          title: '水电费阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬'
        }
      ] %}

      <div class="kbranklist">
        <div class="row">
          {{ navigationbar({
                isMore: true,
                link: "#",
                isSelect: "1",
                MoreText:"查看全部",
                data: [
                  {
                    title: "口碑排行榜",
                    link: "javascript:(0)"
                  }
                ]

              }) }}
        </div>

        <div class="list_box">
          {% set kbrankdata = [
            {
              id: 0,
              logo: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
              name: "广东万联",
              kbcount: 12312,
              link: "#",
              kbscore: "5.00"
            }, {
              id: 0,
              logo: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
              name: "广东万联",
              kbcount: 12312,
              link: "#",
              kbscore: "5.00"
            }, {
              id: 0,
              logo: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
              name: "广东万联",
              kbcount: 12312,
              link: "#",
              kbscore: "5.00"
            }, {
              id: 0,
              logo: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
              name: "广东万联",
              kbcount: 12312,
              link: "#",
              kbscore: "5.00"
            }, {
              id: 0,
              logo: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
              name: "广东万联",
              kbcount: 12312,
              link: "#",
              kbscore: "5.00"
            }
          ] %}
          {% for item in kbrankdata %}
            <div class="child">

              <i>{{loop.index}}</i>
              <div class="cr">
                <a class="l" href="{{item.link}}" title="{{item.name}}" target="_blank">
                  <img src="{{item.logo}}"/>
                </a>
                <div class="c">
                  <a href="{{item.link}}" title="{{item.title}}" target="_blank">{{item.name}}</a>
                  <p>{{item.kbcount}}条口碑</p>
                </div>

                <div class="r">
                  <span>口碑分</span>
                  <h2>{{item.kbscore}}</h2>
                </div>
              </div>

            </div>
          {% endfor %}

        </div>
        {# {% for item in bannerListData %}
          <a href="{{item.link}}" title="{{item.title}}" target="_blank">{{item.title}}</a>
        {% endfor %} #}

      </div>
    </div>

    <div class="kbsuperior clearfix">
      <div class="row">
        <p>优质口碑</p>
        <a>换一批</a>
      </div>
      <div class="list_box">
        {% set kbsuperiordata = [
          {
            hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
            img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
            name: "李女士",
            kbscore: "5.00",
            link: "#",
            title: "阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬",
            description: "a阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德发斯蒂芬阿萨德发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德"
          }, {
            hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
            img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
            name: "李女士",
            kbscore: "5.00",
            link: "#",
            title: "阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬",
            description: "a阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德发斯蒂芬阿萨德发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德"
          }, {
            hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
            img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
            name: "李女士",
            kbscore: "5.00",
            link: "#",
            title: "阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬",
            description: "a阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德发斯蒂芬阿萨德发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德"
          }
        ] %}
        {% for item in kbsuperiordata %}
          <div class="child">
            <div class="hd">
              <div class="l">
                <p>
                  <img src="{{item.hread}}"/>
                  <span>{{item.name}}</span>
                </p>
                <a href="{{item.link}}" title="{{item.title}}">{{item.title}}</a>
              </div>
              <div class="r">
                <img src="{{item.img}}"/>
              </div>
            </div>

            <div class="cr clearfix">

              <div class="l">
                <span>
                  <i>{{item.kbscore}}</i>
                  {{star()}}
                </span>
                <p>
                  {{item.description}}
                </p>
              </div>

              <div class="r">
                <div class="score">5.00</div>
                <div id="ecahr{{loop.index0}}"></div>
              </div>

            </div>

          </div>
        {% endfor %}

      </div>
    </div>

    {% set nownewdata = [
      {
        link: "#",
        title: "三星正式推出了 W21 5G 折叠屏手机",
        description: "显示一行正文内容，显示一行正文内容显示一行正文内容显示一行正文内容容显...",
        image: "//p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg"
      }, {
        link: "#",
        title: "三星正式推出了 W21 5G 折叠屏手机",
        description: "显示一行正文内容，显示一行正文内容显示一行正文内容显示一行正文内容容显...",
        image: "//p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg"
      }, {
        link: "#",
        title: "三星正式推出了 W21 5G 折叠屏手机",
        description: "显示一行正文内容，显示一行正文内容显示一行正文内容显示一行正文内容容显...",
        image: "//p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg"
      }, {
        link: "#",
        title: "三星正式推出了 W21 5G 折叠屏手机",
        description: "显示一行正文内容，显示一行正文内容显示一行正文内容显示一行正文内容容显...",
        image: "//p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg"
      }, {
        link: "#",
        title: "三星正式推出了 W21 5G 折叠屏手机",
        description: "显示一行正文内容，显示一行正文内容显示一行正文内容显示一行正文内容容显...",
        image: "//p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg"
      }, {
        link: "#",
        title: "三星正式推出了 W21 5G 折叠屏手机",
        description: "显示一行正文内容，显示一行正文内容显示一行正文内容显示一行正文内容容显...",
        image: "//p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg"
      }, {
        link: "#",
        title: "三星正式推出了 W21 5G 折叠屏手机",
        description: "显示一行正文内容，显示一行正文内容显示一行正文内容显示一行正文内容容显...",
        image: "//p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg"
      }
    ] %}

    {% set newtitle = {
      isMore: true,
      link: "#",
      isSelect: "1",
      data: [
        {
          title: "热门品牌",
          link: "#"
        }
      ]

    } %}

    <div class="information clearfix">
      <div class="nownew">
        {{ navigationbar() }}
        {% if (nownewdata != null) and (nownewdata.length > 0) %}
          {% for item in nownewdata %}
            <div class="children">
              <a class="left" href="{{item.link}}" title="{{item.title}}" target="_blank">
                <img src="{{item.image}}"/>
              </a>
              <div class="right">
                <a class="title" href="{{item.link}}" title="{{item.title}}" target="_blank">{{item.title}}</a>
                <p>{{item.description}}</p>

                <div class="ft">
                  <img src="//p3.pstatp.com/obj/ies.fe.mis/6dadeab585f4334aa69a941409f51b48.jpeg.jpg"/>
                  <span>万联</span>
                  <span>发布者昵称</span>
                  <span>2021-21</span>
                  <i>视频</i>
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}

      </div>

      <div class="hotinformation">
        <div class="hotmsg">
          {{ navigationbar( {
                isMore: false,
                link: "#",
                isSelect: "1",
                data: [
                  {
                    title: "热门资讯",
                    link: "#"
                  }
                ]

              }) }}

          <div class="newList">
            {% set newList = [
              {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }, {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }, {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }, {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }, {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }, {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }, {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }, {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }, {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }, {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }, {
                link: "#",
                title: "排行第一，这才是“国货之光”应有的样子"
              }

            ] %}

            {% if (newList != null) and (newList.length > 0) %}
              {% for item in newList %}
                <a href="{{item.link}}" title="{{item.title}}" target="_blank">
                  <i>{{loop.index}}</i>
                  <p>
                    {{item.title}}</p>
                </a>
              {% endfor %}
            {% endif %}

          </div>

        </div>

        <div class="blogroll">
          {{rfooter()}}
        </div>
        <div></div>
      </div>
    </div>
  </div>

</div>
{% endblock body %}