{% extends "./shared/layout/defaultLayout.njk" %}

{% from "./shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "./shared/sharedView/macro/components/list.njk" import kblist1,
list1 %}
{% from "./shared/sharedView/macro/wuc/rfooter.njk" import rfooter %}
{% from "./shared/sharedView/macro/components/star/star.njk" import star %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/index/index.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript">
    var reshighKbChart = {{reshighKbChart|safe}}
  </script>
  <script type="text/javascript" src="/assets/plugin/echarts/echarts.min.js"></script>
  <script type="text/javascript" src="/dist/scripts/index/index.js"></script>
{% endblock script %}

{% block body %}

  <div id="main">
    {% if productTypeData %}
      <div class="row_hot">
        {% for item in productTypeData %}
          {% if loop.index != 1 %}
            <a href="/list/{{item.productTypeId}}" title="{{item.productType}}" target="_blank">
              <div><img _src_="{{item.productTypeIcon}}"/></div>
              <p>{{item.productType}}</p>
            </a>
          {% endif %}
        {% endfor %}
      </div>
    {% endif %}

    {% if (ad.adtoponeData != null) and (ad.adtoponeData.length > 0) %}
      <div class="ads">
        {% for item in ad.adtoponeData %}
          <a href="{{item.adLink}}" title="{{item.desc}}" data-id="{{item.adId}}">
            <img _src_="{{item.icon}}"/>
          </a>
        {% endfor %}
      </div>
    {% endif %}
    {% if (ad.adtoptowData != null) and (ad.adtoptowData.length > 0) %}
      <div class="rowImg">
        {% for item in ad.adtoptowData %}
          <a href="{{item.adLink}}" title="{{item.desc}}" data-id="{{item.adId}}">
            <img _src_="{{item.icon}}"/>
          </a>
        {% endfor %}
      </div>
    {% endif %}
    <div class="brand">
      <div class="row">

        {{ navigationbar({
            isMore: true,
            MoreText: "更多>>",
            link: "/list",
            isSelect: "1",
            data: brandData.title
          }) }}
      </div>

      <div class="list_box">

        {% if (brandData.data != null) and (brandData.data.length > 0) %}

          {% for items in brandData.data %}
            <div class="list_item" style="display:{{ (loop.index == 1) | ternary('block','none') }}">

              {% for item in items %}

                <div class="listchild">
                  <a class="left" href="/business/{{item.companyId}}" title="{{item.abbrName}}" target="_blank">
                    <img _src_="{{item.logo}}"/>
                  </a>
                  <div class="right">
                    <a href="/business/{{item.companyId}}" title="{{item.abbrName}}" target="_blank">{{item.abbrName}}</a>

                    <div class="kb">
                      {% if item.reputation.score != null%}
                        <span>{{item.reputation.score}}</span>
                        {{star(item.reputation.score)}}
                        <b>{{item.reputation.reputationCount}}条口碑</b>
                      {% else %}
                        <h2>暂无评分</h2>
                      {% endif %}

                      


                    </div>
                    <div class="label">
                      {% for label in (item.companyLabels | split(',')) %}
                        <span>{{label}}</span>
                        {% endfor %}

                      </div>
                    </div>
                  </div>

                {% endfor %}
              </div>
            {% endfor %}
          {% endif %}

        </div>
      </div>

      <div class="hotnew">
        <div class="banner">
          <div id="slider_parents" class="slider_parent">
            <ul class="slider_box" id="slider_doms">
              {% if (ad.adslideData != null) and (ad.adslideData.length > 0) %}
                {% for item in ad.adslideData %}
                  <li class="slider_list" data-id="{{item.adId}}">
                    <a href="{{item.adLink}}" title="{{item.desc}}" target="_blank">
                      <img _src_="{{item.icon}}"/>
                      <p>{{item.desc}}</p>
                    </a>
                  </li>
                {% endfor %}
              {% endif %}

            </ul>
          </div>

        </div>

        <div class="kbranklist">
          <div class="row">
            {{ navigationbar({
                isMore: true,
                link: "/list",
                isSelect: "1",
                MoreText:"查看全部",
                data: [
                  {
                    title: "口碑排行榜",
                    link: "javascript:void(0);"
                  }
                ]

              }) }}
          </div>

          <div class="list_box">

            {% for item in hotReputation %}
              <div class="child">

                <i>{{loop.index}}</i>
                <div class="cr">
                  <a class="l" href="/business/{{item.companyId}}" title="{{item.name}}" target="_blank">
                    <img _src_="{{item.logo}}"/>
                  </a>
                  <div class="c">
                    <a href="/business/{{item.companyId}}" title="{{item.companyName}}" target="_blank">{{item.companyName}}</a>
                    <p>{{item.reputationCount}}条口碑</p>
                  </div>

                  <div class="r">
                    <span>口碑分</span>
                    <h2>{{item.reputationScore}}</h2>
                  </div>
                </div>

              </div>
            {% endfor %}

          </div>
          {# {% for item in bannerListData %}
          <a href="{{item.link}}" title="{{item.title}}" target="_blank">{{item.title}}</a>
        {% endfor %} #}

        </div>
      </div>

      <div class="kbsuperior clearfix">
        <div class="row">
          <p>优质口碑</p>
          <a>换一批</a>
        </div>
        {{kblist1(reshighKb)}}
      </div>

      <div class="information clearfix">
        <div class="nownew">
          {{ navigationbar({
          isMore: false,
          MoreText: "更多>>",
          link: "#",
          isSelect: "1",
          data: newTypes

        }) }}

          <div class="list_box">
            {{list1(firstNewsList)}}
          </div>

        </div>

        <div class="hotinformation">
          <div class="hotmsg">
            {{ navigationbar( {
                isMore: false,
                link: "#",
                isSelect: "1",
                data: [
                  {
                    title: "热门资讯",
                    link: "#"
                  }
                ]

              }) }}
            <div class="newList">
              {% if (HotNews != null) and (HotNews.length > 0) %}
                {% for item in HotNews %}
                  <a href="/news/{{(item.reputationId != 0) | ternary('reputation/','')}}{{item.newsId}}" title="{{item.newsTitle}}" target="_blank">
                    <i>{{loop.index}}</i>
                    <p>
                      {{item.newsTitle}}</p>
                  </a>
                {% endfor %}
              {% endif %}

            </div>

          </div>

          <div class="blogroll">
            {{rfooter(getlinks)}}
          </div>
          <div></div>
        </div>
      </div>
    </div>

  </div>
{% endblock body %}