{% extends "./shared/layout/defaultLayout.njk" %}
{% from "./shared/sharedView/macro/components/star/star.njk" import star %}
{% from "./shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "./shared/sharedView/macro/components/list.njk" import list2 %}
{% from "./shared/sharedView/macro/wuc/rfooter.njk" import rfooter %}

{% block title %}
品牌商 - 包装品牌大全 - 乐品包装
{% endblock title %}

{% block keywords %}
包装,包装品牌大全,包装行业,瓦楞包装,包装印刷,口碑评分,产品,产品大全
{% endblock %}

{% block description %}
乐品包装为您提供最全面的包装行业品牌及产品信息大全，包括包装行业品牌资讯、产品信息、产品口碑、问答、等信息。
{% endblock %}

{% block style %}
  <link href="/dist/styles/index/list.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script>
    var productid = {{productid}}
    var sortid = {{sortid}}
    var pageIndex = {{pageIndex}}
    var totalPages = {{totalPages}}
    var tabIndex = {{tabIndex}}
  </script>
  <script type="text/javascript" src="/dist/scripts/index/list.js"></script>
{% endblock script %}

{% block body %}

  <div id="main">
    {# <div class="businesstitle">
              瓦楞包装 · 品牌商
          </div> #}

    {% if productTypeData != null and productTypeData.length > 0 %}
      <div id="category">
        <div class="left">
          <p> 产品分类：</p>
        </div>

        <div class="right">

          <div class="bCategories">
            {% for item in productTypeData %}
              <a href="/list/{{item.productTypeId}}/0/{{tabIndex}}/1">
                <span class="{{ (item.productTypeId == productid) | ternary('active','') }}" id="{{item.productTypeId}}">
                  {{item.productType}}
                </span>
              </a>
            {% endfor %}
          </div>

          {% if productid != 0 %}
            <div class="line"></div>
            <div class="sCategories" display="block">
              {% for item in productTypeData %}
                {% if item.productTypeId == productid %}
                  <a href="/list/{{productid}}/{{0}}/{{tabIndex}}/1">
                    <span class="{{ (sortid == 0) | ternary('active','') }}" data-id="0">
                        全部
                      </span>
                  </a>
                  {% for labels in item.productTypeLabels %}
                    <a href="/list/{{productid}}/{{labels.productTypeDetailId}}/{{tabIndex}}/1">
                      <span class="{{ (labels.productTypeDetailId == sortid) | ternary('active','') }}" data-id="{{labels.productTypeDetailId}}">
                        {{labels.productTypeDetail}}
                      </span>
                    </a>
                  {% endfor %}
                {% endif %}
              {% endfor %}
            </div>

            <div class="packup">收起</div>
          {% endif %}

        </div>

      </div>
    {% endif %}
    <div id="businessList">
      <div class="left">
        <div class="row">
          {{navigationbar({
                isMore: false,
                id:"",
                isSelect: tabIndex,
                data: productTabList
              })}}
        </div>

        <div class="list">
          {{list2(companylistJson)}}
        </div>


    {% if totalPages <=1 %}
        <section class="nocentent">没有更多内容</section>
      {% else %}
         <div id="kkpage"></div>
    {% endif %}
       

      </div>

      <div class="right">
        <div class="list1 hotbrand">
          <p>推荐品牌商</p>
          <div class="list">

            {% if (GetCompanyHotData != null) and (GetCompanyHotData.length > 0) %}
              {% for item in GetCompanyHotData %}
                <div class = "child">
                  <a class="left" href="/business/{{item.companyId}}" target="_blank">
                    <img _src_="{{item.logo}}"/>
                  </a>

                  <div class="right">
                    <a href="/business/{{item.id}}" target="_blank">{{item.abbrName}}</a>

                    {# {% if (item.hotType != 0) %} #}
                      <p class='{{(item.hotType == 1) | ternary("superior","")}}'>
                        {{item.hotType | get_companyHotType}}
                      </p>
                    {# {% endif %} #}

                  </div>

                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock body %}