{% extends "./shared/layout/defaultLayout.njk" %}
{% from "./shared/sharedView/macro/components/star/star.njk" import star %}
{% from "./shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "./shared/sharedView/macro/components/list.njk" import list2 %}
{% from "./shared/sharedView/macro/wuc/rfooter.njk" import rfooter %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/index/list.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script>
    var productid = {{productid}}
    var sortid = {{sortid}}
    var pageIndex = {{pageIndex}}
  </script>
  <script type="text/javascript" src="/dist/scripts/index/list.js"></script>
{% endblock script %}

{% block body %}

  <div id="main">
    {# <div class="businesstitle">
              瓦楞包装 · 品牌商
          </div> #}

    {% if productTypeData != null and productTypeData.length > 0 %}
      <div id="category">
        <div class="left">
          <p> 产品分类：</p>
        </div>

        <div class="right">

          <div class="bCategories">
            {% for item in productTypeData %}
              <span class="{{ (item.productTypeId == productid) | ternary('active','') }}" id="{{item.productTypeId}}">
                {{item.productType}}
              </span>
            {% endfor %}
          </div>

          <div class="line"></div>
          <div class="sCategories" display="block">
            {% for item in productTypeData %}
              {% if item.productTypeId == productid %}
                {% for labels in item.productTypeLabels %}
                  <span class="{{ (labels.productTypeDetailId == sortid) | ternary('active','') }}" id="{{labels.productTypeDetailId}}">
                    {{labels.productTypeDetail}}

                  </span>
                {% endfor %}
              {% endif %}
            {% endfor %}
          </div>

          <div class="packup">
        收起 
        </div>

        </div>

      </div>
    {% endif %}
    <div id="businessList">

      <div class="left">
        <div class="row">
          {{ navigationbar({
                isMore: false,
                id:"123",
                isSelect: "1",
                data: [
                  {
                    title: "综合排序",
                    link: "javascript:(0)"
                  }, {
                    title: "热门排序",
                    link: "javascript:(0)"
                  }
                ]

              }) }}
        </div>

        <div class="list">
          {{list2([
  {
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link:"/business/1",
    name: "广东万联",
    kbscore: "5.00",
    classify:['sdfdsf','adfasfd'],
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link:"/business/1",
    name: "广东万联",
    kbscore: "5.00",
    classify:['sdfdsf','adfasfd'],
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link:"/business/1",
    name: "广东万联",
    kbscore: "5.00",
    classify:['sdfdsf','adfasfd'],
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link:"/business/1",
    name: "广东万联",
    kbscore: "5.00",
    classify:['sdfdsf','adfasfd'],
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }
])}}
        </div>

        <div id="kkpage"></div>

      </div>

      <div class="right">
        <div class="list1 hotbrand">
          <p>热门品牌商 </p>
          <div class="list">

            {% if (GetCompanyHotData != null) and (GetCompanyHotData.length > 0) %}
              {% for item in GetCompanyHotData %}
                <div class = "child">
                  <a class="left" href="/business/{{item.companyId}}" target="_blank">
                    <img src="{{item.logo}}"/>
                  </a>

                  <div class="right">
                    <a href="/business/{{item.id}}" target="_blank">{{item.fullName}}</a>

                    <p class='{{(item.brandtype == "优质品牌商") | ternary("superior","")}}'>
                      {{item.companyLabels}}
                    </p>

                  </div>

                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>

{% endblock body %}