{% extends './shared/layout/defaultLayout.njk'%}

{% block body%}
  <link href="/style/a.css" rel="stylesheet">
  <div>
  test1
  </div>

  <img _src_="/images/112.png?123"  alt="">

  {@{FmMoreRead("views/shared/sharedView/macro/wuc.footer.njk",{type:"cn",newsId:"1",categoryId:"1",langeType:"2"})}@}
{%endblock body%} 