{#
    底部模板
#}

{% macro footer() %}
    <div class="foot">
        <div class="foot_box">
            <p>© 2021 乐品包装  www.lepkg.com  沪公网安备 31011002005632号 沪 ICP 备 202100901号-1  上海旷特科技有限公司</p>
            <p><a href="http://www.shjbzx.cn/" target="_blank">上海互联网举报中心</a>  违法不良信息举报电话：4006262233转1</p>
            <p>
                <a href="/home/privacy" target="_blank">用户协议</a>
                <i>|</i>
                <a href="/home/agreement" target="_blank">隐私政策</a>
                <i>|</i>
                <a href="/home/advcooperation" target="_blank">合作通道</a>
            </p>

        </div>
    </div>
{% endmacro %}

