{#
    底部模板
#}

{% macro footer() %}
    <div class="foot">
        <div class="foot_box">
            <p>  © 2021 瓦楞之家 www.corr360.com  沪公网安备 11010802026035号  沪ICP备17027026号-3  增值电信业务经营许可证  网络文化经营许可证-4715-493号</p>
            <p>公司名称：上海KT科技有限公司中央网信办违法和不良信息举报中心违法和不良信息举报电话：400-140-2108</p>
            <p>
                <a href="#">用户协议</a>
                <i>|</i>
                <a href="#">隐私政策</a>
                <i>|</i>
                <a href="#">营业执照</a>
            </p>
            <p>
                <a href="#">侵权投诉</a>
                <i>|</i>
                <a href="#">我要反馈</a>
            </p>
        </div>
    </div>
{% endmacro %}