{#
    头部模板
    * name 名称
#}

{% macro header() %}
    <div class="header" id="header">
        <div class="header_box">

            <div class="logo">
                <a href="#"><img _src_="https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0" alt=""></a>
            </div>

            <div class="row_list">
                <a href="/">
                    <span>
                    首页
                </span>
                </a>

                <a href="/list">
                    <span>
                    品牌商
                </span>
                </a>
            </div>
            <div class="login">
                <div class="notlogin" style="display:none">
                    <a href="javascript:(0)" onclick="window.loginshow(3)">注册</a>
                    <i>|</i>
                    <a href="javascript:(0)" onclick="window.loginshow()">登录</a>
                </div>

                <div class="inlogin" style="display:none">
                    <a href="javascript:(0)" class="loginout" target="_blank">退出</a>
                    <a href="/user/index" target="_blank" class="userinfo">
                        <img _src_="https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0"/>
                        <span></span>
                    </a>
                </div>

            </div>

            <div class="channels">
                <a href="#">合作通道</a>
            </div>

            <div class="search">
                <a href="javascript:(0)"> 搜索 </a>
                <input name="q" id="search" placeholder="输入关键字"/>
                <i class="iconfont_wlzj">&#xE010;</i>
            </div>
        </div>
    </div>

    <script type="text/javascript">
        (function () {
            var header = document.querySelector('#header')
            var search = header.querySelector('.search')
            var sub = search.querySelector('a')
            var input = search.querySelector('input')
            sub.onclick = function () {
                document.location.href = `/search/1/${encodeURI(input.value)}`
            }

            var href = document.location.pathname
            var row_list = header.querySelector('.row_list')
            var children = row_list.children
            if (href === '/') {
                children[0].className = 'select'
            }else if(href === '/list' || href.indexOf('/list/') >= 0){
                  children[1].className = 'select'
            }

        })();
    </script>
{% endmacro %}