{% macro mheader(args = {
  title: "广东万联"
}) %}

  <header id="mhearder">
    <section class="left">
      <i class="iconfont_wlzj goback">&#xE03D;</i>
      <i class="iconfont_wlzj homes">&#xE03F;</i>
    </section>
    <section class="right">
      <i class="iconfont_wlzj">&#xE04A;</i>
    </section>
    <section class="center">{{args.title}}</section>

  </header>

{% endmacro %}

{% macro smheader(args = {
  title: "广东万联"
}) %}

  <header id="smheader">
    <section class="left">
      <i class="iconfont_wlzj">&#xE039;</i>
    </section>
    <section class="right"></section>
    <section class="center">{{args.title}}</section>

  </header>

{% endmacro %}