{% macro rfooter(args = [
  {
    name: "asdfasdf",
    link: "#"
  }, {
    name: "asdfasdf",
    link: "#"
  }, {
    name: "asdfasdf",
    link: "#"
  }, {
    name: "asdfasdf",
    link: "#"
  }, {
    name: "asdfasdf",
    link: "#"
  }, {
    name: "asdfasdf",
    link: "#"
  }, {
    name: "asdfasdf",
    link: "#"
  }
]) %}

  <div class="rfooter">
    <div class="title">
         友情链接
      </div>
    <div class="list">
      {% if (args != null) and (args.length > 0) %}
        {% for item in args %}
          <span>
            <a href="{{item.link}}" title="{{item.name}}" target="_blank">{{item.name}}</a>
          </span>
        {% endfor %}
      {% endif %}
    </div>

    <div class="records">
      <p>© 2021 乐品包装  www.lepkg.com</p>
      <p>沪ICP备17027026号-3</p>
      <p>上海旷特科技有限公司</p>
      <p>违法不良信息举报电话：4006262233转1</p>
      <p>上海互联网举报中心</p>

      <p>
        <a href="/home/agreement" target="_blank">用户协议</a> | <a href="/home/privacy" target="_blank">隐私政策</a> | <a href="#" target="_blank">营业执照</a>
      </p>
      <p>
        <a><img src="/assets/images/beian.png" style="float: left;margin-right: 4px;height: 18px;position: relative;top: 6px;"/>沪公网安备 31011002005632号</a>
      </p>
      {# <p><a href="#" target="_blank">侵权投诉</a>| <a href="#" target="_blank">我要反馈</a></p> #}
    </div>

  </div>

{% endmacro %}