{#
    底部模板
#}

{% macro simplefooter() %}
  <div class="foot simplefooter">
    <div class="foot_box simple_box">
      <a href="#">用户协议</a>
      <i>|</i>
      <a href="#">隐私政策</a>
      <i>|</i>
      <span>© 2021 瓦楞之家 www.corr360.com</span>
    </div>
  </div>
{% endmacro %}