@import (reference) "../../../../public/style/common/mpublicdefind.less";
@import (reference) "../../../../public/style/common/Animation.less";
@import (less) "./muirewrite.less";
@import (less) "./popover.less";
@import (less) "./poppicker.less";
html * {
  outline                    : 0;
  -webkit-text-size-adjust   : none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  font-family                : '微软雅黑', sans-serif, '宋体', Arial;
}

body {
  margin                 : 0;
  width                  : 100%;
  font-family            : '微软雅黑', sans-serif, '宋体', Arial;
  font-size              : @font_size_14;
  -webkit-font-smoothing : antialiased;
  -moz-osx-font-smoothing: grayscale;
  line-height            : @line_height;
}




* {
  word-wrap : break-word;
  font-style: normal;
}

h1,
h2,
h3,
h4,
h5,
h6,
img,
ul,
li,
p {
  margin     : 0;
  padding    : 0;
  border     : 0;
  font-weight: normal;
}

h1 {
  font-size: @font_size_22;
}

h2 {
  font-size: @font_size_18;
}

h3 {
  font-size: @font_size_16;
}

h4 {
  font-size: @font_size_13;
}

input,
textarea {
  margin : 0;
  padding: 0;
  resize : none;
  outline: none;
  border : none;
}

ul,
li {
  list-style-type: none;
}

em {
  font-style: normal;
}

a:link,
a:visited,
a:hover,
a:active {
  text-decoration: none;
}

a {
  color: @font_defind_color;
}




.footer {
  -webkit-box-shadow: none;
  background        : #f7f8fc;
  box-shadow        : none;

  font-size: @font_size_14;
  color    : @color_gray_c1;
}

.clearfix::after {
  content  : ' ';
  display  : block;
  clear    : both;
  font-size: 0;
}

#videoViewerBox {
  width: 100% !important;
}

#videoViewerClose {
  top  : -@size_1 * 30 !important;
  right: 0 !important;
}

#videoViewerBoxBg {
  .opacity(0.1);
}