{% extends "../../shared/layout/mdefaultLayou.njk" %}
{% from "../../shared/sharedView/macro/components/satemap/satemap1.njk" import satemap1 %}
{% from "../../shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "../../shared/sharedView/macro/components/comment/comment1.njk" import comment %}
{% from "../../shared/sharedView/macro/components/star/star.njk" import star %}
{% from "../../shared/sharedView/macro/wuc/mheader.njk" import mheader,
smheader %}
{% block title %}
登录 - 乐品包装
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}

  <link href="/dist/styles/m/login/index.css" rel="stylesheet">
{% endblock style %}

{% block script %}

  <script src="/dist/scripts/m/login/index.js" type="text/javascript"></script>
{% endblock script %}

{% block body %}
  <div class="header">
    {{mheader({title:'登录 注册'})}}
  </div>

  <div id="login_container">
    <div class="login_box">

      <div class="phone_login">
        <div class="login_title">
          <span>欢迎登录&nbsp;乐包网</span>
        </div>

        <div class="login_content">
          <div class="phone">
            <p>手机</p>
            <input type="text" placeholder="请输入手机号"/>
          </div>
          <div class="verification clearfix" style="margin-bottom:8px;">
            <p>验证码</p>
            <input type="text" placeholder="请输入验证码"/>
            <a href="javascript:void(0);" data-type="login" class="getverification">获取验证码</a>
            <span class="countdown">60S</span>
          </div>
          <div class="error clearfix">
            <span></span>
          </div>
          <div class="login_footer clearfix">
            <section><input type="checkbox"/></section>
            <span>请您阅读并同意 <a href="#agreement">服务协议</a> 和 <a href="#privacy">隐私政策</a>
            </span>
          </div>
          <div class="login_login">
            <a href="javascript:void(0);">登录</a>
          </div>
          <div class="login_more clearfix">
            <a href="javascript:void(0);" class="login_pwd">账号密码登录</a>
            <a href="javascript:void(0);" class="login_register" style="float:right">注册</a>
          </div>

        </div>

      </div>

      <div class="register" style="display:none">
        <div class="login_title">
          <span>欢迎注册&nbsp;乐包网</span>

          {# <i class="iconfont_wlzj close">&#xE039;</i> #}
        </div>

        <div class="login_content">
          <div class="username">
            <p>用户名</p>
            <input type="text" placeholder="请输入用户名"/>
          </div>
          <div class="phone">
            <p>手机</p>
            <input type="text" placeholder="请输入手机号"/>
          </div>
          <div class="verification clearfix" style="margin-bottom:8px;">
            <p>验证码</p>
            <input type="text" placeholder="请输入验证码"/>
            <a href="javascript:void(0);" data-type="register" class='getverification'>获取验证码</a>
            <span class="countdown">60S</span>
          </div>
          <div class="pwd">
            <p>密码</p>
            <input type="password"  placeholder="密码(6位以上包含数字和字母)"/>
          </div>
          <div class="error clearfix">
            <span>手机号不能为空</span>
          </div>
          <div class="login_footer clearfix">
            <section><input type="checkbox"/></section>
            <span>请您阅读并同意 <a href="#agreement">服务协议</a> 和 <a href="#privacy">隐私政策</a>
            </div>
            <div class="login_login">
              <a href="javascript:void(0);">注册</a>
            </div>
            <div class="login_more clearfix">
              <a href="javascript:void(0);" class="login_phone">已有帐号 登录</a>
              {# <a href="javascript:void(0);" class="login_register" style="float:right">立即注册</a> #}
            </div>

          </div>

        </div>

        <div class="pwd_login" style="display:none">
          <div class="login_title">
            {# <p>密码登录</p> #}
            <span>欢迎登录&nbsp;乐包网</span>

            {# <i class="iconfont_wlzj close">&#xE039;</i> #}
          </div>

          <div class="login_content" >
            <div class="phone">
              <p>手机号</p>
              <input type="text" placeholder="请输入手机号"/>
            </div>
            <div class="pwd">
              <p>密码</p>
              <input type="password" placeholder="请输入密码"/>
            </div>
            <div class="error clearfix">
              <span></span>
            </div>
            <div class="login_footer clearfix">
              <section><input type="checkbox"/></section>
              <span>请您阅读并同意 <a href="#agreement">服务协议</a> 和 <a href="#privacy">隐私政策</a>
              </div>
              <div class="login_login">
                <a href="javascript:void(0);">登录</a>
              </div>
              <div class="login_more clearfix">
                <a href="javascript:void(0);" class='login_phone' style="float:right">手机登录</a>
              </div>

            </div>

          </div>
        </div>
      </div>
    </div>

    <div id="agreement" class="box mui-popover mui-popover-action mui-popover-right">

      <div class="mui-scroll-wrapper agreementwrapper">
        <div class="mui-scroll">
          {{smheader({title:'乐品包装用户协议'})}}

          <div class="content">
            <b>生效日期: 2021年6月2日</b>

            <p type="button">欢迎您注册乐品包装账号并使用乐品包装的服务！</p>

            <p>本《乐品包装用户服务协议》（以下简称“本服务协议”）是您与乐品包装之间就注册乐品包装用户账号及使用乐品包装的各项服务等相关事宜所订立的协议。为使用乐品包装的服务，您应当仔细阅读并遵守本服务协议下的全部内容，特别是涉及免除或者责任限制的条款，该类条款可能以黑体加粗或加下划线的形式提示您重点注意。除非您已阅读并接受本服务协议所有条款，否则您将不能注册乐品包装账号或使用乐品包装的服务，如您不同意本服务条款的任意内容，请勿注册或使用乐品包装的服务，并应立即停止注册程序。如您对本服务协议的内容（特别是涉及免除或者责任限制的条款）有任何疑义，可随时按照本服务协议中列明的联系方式与我们联系，我们将根据您的要求为您进一步解释和说明相关内容。如您勾选“我同意《乐品包装用户服务协议》”并通过注册程序或其他任何方式使用或接受乐品包装的任何服务，即视为您已阅读并同意本服务协议，自愿接受本服务协议的所有内容的约束。请您在决定注册或使用服务前再次确认您已知悉并完全理解本服务协议的所有内容。</p>

            <p>本服务协议所述“服务”既包括您使用乐品包装用户账号接受乐品包装平台相关商家、个人所提供的服务，亦包括在某些特定的业务类别下您使用乐品包装用户账号向其他商家、个人或其他主体提供服务的情形。无论“服务”属于上述何种情形，本《乐品包装用户服务协议》都将予以适用。</p>

            <h2>一、协议的主体与范围</h2>
            <p>【签约主体】 视您所使用的具体服务而定，“乐品包装”是指乐品包装旗下运营或提供您所使用的相关具体服务的相关主体的统称，您可在相关服务的具体服务条款或说明文件中查看上述主体的名称和信息。 “用户”是指使用乐品包装相关服务的使用人，在本服务协议中更多称呼为“您”。</p>
            <p>【协议内容】本服务协议内容同时包括：</p>
            <p>（1） 本《乐品包装用户服务协议》文本；</p>
            <p>（2）《乐品包装隐私政策》（链接地址：XXXXXXXXXXXXX）：乐品包装非常重视您的个人信息和隐私的保护，将按照《乐品包装隐私政策》中所公布的政策在具体服务中进行隐私及个人信息的收集、存储、使用、披露等活动。您在注册乐品包装账号前，应仔细阅读《乐品包装隐私政策》；</p>
            <p>（3）具体服务的服务条款：您的乐品包装平台账号一经注册，即可凭该账号按规定享受乐品包装平台上的各项服务。为更好地向您提供各项服务，乐品包装平台针对具体的服务制定了专门的服务条款，供服务各方遵守。您可在【相关具体服务的网站、页面或应用程序】中查阅并下载此类专门服务条款。您在使用具体服务前，应仔细阅读该服务所适用的服务条款，您注册乐品包装账号并利用乐品包装账号使用具体服务即表示您已同时接受该等服务条款，并将受该等服务条款的约束；</p>
            <p>（4）专项商品或服务规则。为更好地提升用户体验，乐品包装在若干具体专项商品或服务中特别制定了详细的规则，供各方遵守。</p>
            <p>（5）第三方服务相关的用户授权协议。为方便您在使用乐品包装平台服务的同时，根据您自身需要，通过乐品包装平台进行跳转等方式，自愿选择接受独立第三方服务商及部分关联第三方服务商所提供的服务，您将在使用该等第三方服务前对相应的用户授权协议予以同意确认，以作为您和乐品包装平台之间就该等第三方服务的使用所涉及的相关事项的权利义务依据。 </p>
            <p>上述各项内容之间如存在不一致之处，以时间上最新发布的内容为准，发布时间相同的，以本款【协议内容】中所包含的组成部分的序号倒序排列为准。</p>

            <p>【协议遵守】您理解并同意：</p>
            <p>（1）上述【协议内容】中所述的协议、政策、条款与规则构成本服务协议不可分割的组成部分，共同适用于您所使用的乐品包装平台服务。</p>
            <p>（2）根据国家法律法规变化、运营需要或为提升服务质量的目的，乐品包装将在必要的时候对上述各项协议、条款与规则不时地进行修改更新，并通过在网页或移动客户端上发出公告、站内信等合理、醒目的方式向您进行提前通知，上述修改更新内容将在相关更新说明中指定的日期开始实施，通常情况下不短于发布之日后八个自然日。</p>
            <p>（3） 您应当及时查阅并了解相关更新修改内容，如您不同意相关更新修改内容，可停止使用相关更新修改内容所涉及的服务，此情形下，变更事项对您不产生效力；如您在上述更新修改内容实施后继续使用所涉及的服务，将视为您已同意各项更新修改内容。</p>

            <p>【适用平台】本服务协议适用于网页端、移动客户端（未来将新增的包括IOS、安卓移动客户端）等各类平台或媒介中乐品包装所提供的各项服务。您知悉并理解，为享受上述相关服务，您必须自行提供相关上网设备（如：个人电脑、手机、平板电脑或其他设备）并自行负担相关网络使用和商品服务支付所产生的有关费用。</p>

            <h2>二、账号的注册</h2>
            <p>【注册资料】您应遵循诚实信用、合法善意的原则，向乐品包装提交相关注册资料，相关注册资料应当遵守法律法规、社会主义制度、国家利益、公民合法权益、公序良俗、信息真实等原则，不应提交任何违法或不良信息，相关资料如有变动，您应及时更新。如果因您所提供的注册资料不合法、不真实、不准确或未及时更新，从而导致相关法律责任或不利后果的，您将承担相应的法律责任及不利后果。</p>
            <p>您已知悉，在乐品包装账号注册过程中，因安全性、内部管理等原因，部分初始注册资料可能将无法再次更改。因此，您应谨慎核查此部分注册资料，确保正确填写。</p>
            <p>【民事行为能力】您知悉并承诺，您具有完全民事权利能力和行为能力注册及使用乐品包装的各项服务。若您不具备前述相适应的民事行为能力即进行账号注册的，则您应依照法律规定承担因此而导致的一切后果。</p>
            <p>【真实身份】因国家法律法规、监管要求及特定门类的服务（如金融服务等）需要，您有可能需要在注册或使用该等服务的特定环节中填写真实的身份信息，并需通过相关验证流程后方可使用服务，如您填写的身份信息不完整、不真实或未通过验证，将导致您无法使用该服务、损害自身、他人利益或造成其他不利后果，该等后果将由您予以承担。</p>
            <p>【注册信息保护】乐品包装将对您所提交的注册信息予以保护，不会将其披露给任何非关联的第三方，除非：</p>
            <p>（1）相关法律法规或国家机关要求；</p>
            <p>（2）乐品包装发生相关合并、分立、收购或资产转移；或</p>
            <p>（3）为提供相关服务所必须的。</p>
            <p>对于您所提交的注册信息中涉及个人信息的内容，乐品包装将严格按照《乐品包装隐私政策》的规定进行收集、处理和使用。</p>

            <p>【账号数量】乐品包装原则上只允许您使用一个乐品包装用户账号。如有证据证明或乐品包装有理由相信您存在不当注册或不当使用多个乐品包装账号的情形，乐品包装可将相关账号信息进行合并或采取其他合理措施，如因您不当注册或不当使用给乐品包装及相关方造成损失的，您还应承担相应的赔偿责任。此外，出于相关业务需要，乐品包装也可对同一用户的多个账号或相关信息进行合并，如该等合并将对您的权益产生实质影响，乐品包装将在进行上述合并前事先征得您的同意。</p>

            <h2>三、 账号的使用</h2>
            <p>【账号登录】您可以使用注册账号时填写登记的并获得系统审核通过的账号密码登录乐品包装平台。乐品包装可根据相关法律法规、监管要求、用户体验、风险控制等因素对登录方式予以适时调整或增减，或在具体业务门类的用户服务条款等规定中予以进一步细化或调整。</p>
            <p>【账号使用】您应对您账号项下的所有行为（包括但不限于未来将在线签署任何协议，浏览、购买、支付、点评、上传、发布、输入任何内容）所产生的一切后果负责，通过您的账号所发生的上述各项行为将视为您本人的真实意思表示。</p>
            <p>乐品包装提示您，您通过自身账号在接受乐品包装的各项服务中所上传、发送的任何内容都应具有合法来源，如相关内容涉及任何第三方的合法权益，应事先获得相应的许可。如乐品包装收到涉及您的相关举报或投诉，乐品包装可采取相关法律法规所要求或允许的方式，向相关争议方、相关部门提供包括账号在内的必要的信息，以便解决纠纷争议，保护正当权利人的合法权益。 </p>
            <p>【账号借用】为保证相关账号安全，未经乐品包装的书面同意，您不应将乐品包装平台上所注册的账号借给他人使用，否则您应当承担由此产生的全部责任，乐品包装平台保留拒绝提供相应服务、冻结或收回注册账号或终止本服务协议的权利，并可要求您对乐品包装所承受的损失予以赔偿。</p>
            <p>【安全义务】如您发现账号存在安全问题，请您立即联系乐品包装予以调查处理，否则乐品包装对潜在损失的产生或扩大不承担任何责任。</p>
            <p>乐品包装特别提示您，您应该妥善保管您的账号和密码，当您使用完毕乐品包装的服务后，您应安全退出。此外，您不应轻信借款、索要密码或其他涉及财产的网络信息。涉及财产操作的，请一定先核实对方身份，并请经常留意乐品包装有关防范诈骗犯罪的提示。您知悉并同意，如您在账号信息的保管上、相关上网设备的网络安全维护上存在任何过失导致账号丢失、泄露，您应对此所产生的任何后果负责，乐品包装对此不负任何责任，如乐品包装因此产生相关支出，乐品包装将有权向您予以追偿。 </p>
            <p>【限制冻结】您知悉并同意，在符合法律法规的规定，或经国家机关要求的前提下，乐品包装有权对您的注册账号进行限制或冻结，在该等情况下，您可能无法继续登陆或使用您的注册账号。</p>

            <h2>四、用户行为规范与责任承担</h2>
            <p>【用户义务】您知悉并承诺，在使用乐品包装所提供的服务的过程中，您应遵守相关法律法规，不应从事如下违反法律法规的规定，影响正常服务提供或损害他人合法利益的行为：</p>
            <p>（1） 不应利用乐品包装平台或相关服务危害国家安全、破坏政治稳定、泄露国家秘密，不侵犯国家、社会、集体利益和第三方的合法权益，不从事违法犯罪活动，不设立用于实施诈骗，传授犯罪方法，制作或者销售违禁物品、管制物品等违法犯罪活动的网站、通讯群组，不利用网络发布涉及实施诈骗，制作或者销售违禁物品、管制物品以及其他违法犯罪活动的信息；</p>
            <p>（2）不应制作、发布、复制、查阅和传播、存储、链接下列信息：反对宪法所确定的基本原则的；危害国家安全，泄露国家秘密，颠覆国家政权，推翻社会主义制度，煽动分裂国家，破坏国家统一的；损害国家荣誉和利益的；煽动民族仇恨、民族歧视，破坏民族团结的；破坏国家宗教政策，宣扬邪教和封建迷信的；煽动非法集会、结社、游行、示威、聚众扰乱社会秩序的；捏造、散布谣言，侵犯他人权利，扰乱经济、社会秩序，破坏社会稳定的；散布淫秽、色情、赌博、暴力、凶杀、恐怖或者教唆犯罪的；侮辱或者诽谤他人，侵害他人合法权益的；宣扬恐怖主义、极端主义的；违背当地风俗习惯的；含有法律、行政法规禁止的其他内容的；</p>
            <p>（3） 不应从事下列危害计算机信息网络安全的活动：对网络服务及相关软硬件设施进行破解、破坏、删除、修改或者增加的；对计算机信息网络中存储或者传输的数据和应用程序进行删除、修改或者增加的；使用软件或硬件等方式窃取他人口令、非法入侵他人计算机系统；故意制作、传播计算机病毒等破坏性程序的；其他危害计算机信息网络安全的活动；</p>
            <p>（4）不应擅自复制和使用网络上未公开和未授权的文件。除相关著作权人明示同意，不应在网络中擅自破解、传播、下载或复制第三人享有著作权的软件或进行其他任何侵害他人知识产权的活动；</p>
            <p>（5）不应私自传播广告信息或以“刷单”等不正当方式帮助他人提升评价或利用评价权利对其他用户、商户实施威胁、敲诈勒索；</p>
            <p>（6）不应因对乐品包装相关服务的使用行为导致乐品包装卷入政治和公共事件；</p>
            <p>（7）不应通过侵犯第三人合法权益、作弊、扰乱系统、实施网络攻击、恶意套现、刷信誉、批量注册、用机器注册乐品包装平台账户、用机器模拟客户端等手段进行交易或参加乐品包装或其所授权的第三方发布的任何活动；</p>
            <p>（8）未经乐品包装事先书面许可，不应自行或授权、协助任何第三方非法抓取乐品包装所展示的任何内容（“非法抓取”是指采用未经乐品包装认可的程序或者非正常浏览等技术手段获取内容数据的行为）。 </p>
            <p>【责任承担】如您在使用乐品包装服务过程中涉及上述行为中的一项或多项，则需要对自己的行为承担法律责任。承担法律责任的形式包括但不限于：对受到侵害者进行赔偿，以及在乐品包装首先承担了因您的行为导致的行政处罚或侵权损害赔偿责任等损失（含诉讼费、律师费等相关法律程序费用）后，您应立即给予乐品包装等额的赔偿。此外，根据具体违法违规情形，乐品包装有权作出独立判断，立即暂停或终止对您提供部分或全部服务，包括锁定、注销、删除帐号等措施。同时，您同意，如因您的行为造成他人经济损失的，乐品包装可出于公共利益保护、消费者保护、商业利益保护等原则，在合法合规的前提下，从您的账户（如有）中划扣相应款项，您同意并授权、委托乐品包装进行上述划扣操作。 </p>
            <p>您知悉并理解，如果乐品包装发现您的上述违法违规行为，依据相关法律法规的规定，乐品包装有权或有义务立即停止相关服务，删除或屏蔽相关违规信息、服务评价，并视情况进行调查取证，保存有关记录，或向国家有关机关举报。同时，乐品包装有权自主删除、屏蔽含有该内容的任何数据信息。乐品包装将根据国家相关法律法规要求，对依法删除、屏蔽的数据信息予以记录、保存。</p>
            <p>【广告促销】您理解并同意：为向您提供更为细致、贴心的服务，在经过您的事先确认后，乐品包装或乐品包装授权、认可的第三方商家、广告商可能通过您注册时填写的手机号码或者电子邮箱向您发送您可能感兴趣的商品服务的广告宣传信息、促销优惠等商业性信息，其方式和范围可不经向您特别通知而变更；如果您不愿意接收此类信息，则您有权通过乐品包装平台提供的相应的退订方式进行退订。</p>
            <p>您理解并同意，对上述的相关广告信息，您应审慎判断其真实性和可靠性，除法律法规明确规定外，您应对依该广告信息进行的交易负责。</p>
            <p>【使用目的】除非在特定服务条款或规则中您与乐品包装另有约定或乐品包装另行予以书面同意，您将确保本服务协议下的服务仅为您个人非商业性质的使用。未经乐品包装书面同意，您不得使用未经乐品包装授权的任何插件、外挂或第三方工具对本服务协议下的服务进行干扰、破坏、修改或施加其他影响。</p>

            <h2>五、知识产权</h2>
            <p>【知识产权】您理解并知悉，除另有书面声明以外，以下信息和内容的知识产权（包括但不限于专利权、著作权、商标权及商业秘密）归乐品包装所有：</p>
            <p>1、 在乐品包装相关服务中所提供的内容和信息（包括但不限于软件、技术、程序、网页、文字、图片、图像、地图、图标、音频、视频、图表、版面设计、电子文档、数据资料等）；</p>
            <p>2、乐品包装用于提供上述内容和信息的基础设施和平台（包括但不限于软件、网站、应用程序等）；</p>
            <p>3、在乐品包装提供相关服务中所使用的各项商标、商业形象、商业标识、技术诀窍、标语、文案等；</p>
            <p>4、乐品包装平台服务的开发、运营、维护等过程中产生的所有数据和信息。 </p>
            <p>乐品包装所拥有的上述权利及所提供服务中所包含的任何内容的知识产权均受到法律保护，未经乐品包装事先书面许可，您承诺不应且不应允许或协助任何人以任何形式（包括但不限于通过任何机器人、蜘蛛、截屏等程序或设备）进行使用、出租、出借、分发、展示、复制、修改、链接、转载、汇编、发表、出版、抓取、监视、引用或创造相关衍生作品。</p>
            <p>【用户生成内容】您理解并同意，您在使用乐品包装提供的服务时上传、提交、存储或发布的内容（包括但不限于文字、图片、视频、音频、动画等）均由您原创或已获合法授权。您通过乐品包装上传、提交、存储或发布的任何内容的知识产权归属您或原始著作权人所有，您的上传、提交、存储或发布行为不会侵犯他人的知识产权或其他合法权益。</p>
            <p>您知悉、理解并同意，您一旦接受本服务协议，即表明您主动将上述内容的非专属、可转让的财产性权利，如著作权（包括但不限于：复制权、发行权、出租权、展览权、表演权、放映权、广播权、信息网络传播权、摄制权、改编权、翻译权、汇编权以及应当由著作权人享有的其他可转让权利），在全世界范围内永久、免费、独家且不可撤销地授权给乐品包装及其关联公司，乐品包装及其关联公司可基于该等授权使用上述内容（包括但不限于用于商业用途）或向第三方自主进行任何必要的转授权。该等授权、转授权的使用场景包括但不限于当前或其他任何网站、应用程序、产品或移动终端设备等，且乐品包装及其关联公司或乐品包装及其关联公司所授权许可的第三方可通过对上述授权内容进行修改、复制、改编、翻译、汇编或制作，形成衍生产品。在不违反相关法律法规的强制性规定、尊重相关原始授权内容的知识产权的基础上，该等衍生产品的相关知识产权归乐品包装及其关联公司或乐品包装所授权许可的第三方所有。</p>
            <p>您确认并同意授权乐品包装及其关联公司以自己的名义或委托专业第三方针对有关您上传、提交、存储或发布的内容（含衍生作品）的侵权行为进行独立自主的维权并获得全部赔偿。维权形式包括但不限于：监测侵权行为、发送维权函、提起诉讼或仲裁、调解、和解等。乐品包装及其关联公司有权对维权事宜做出独立决策并予以实施。</p>
            <p>您同意，因您通过乐品包装上传、发布的任何内容导致的知识产权侵权问题，您将承担全部责任；如乐品包装及其关联公司，或乐品包装授权的其他服务提供方因第三方知识产权维权而产生损失，您将等额赔偿。</p>
            <p>本服务协议已经构成《著作权法》第二十五条所规定的书面协议，其效力及于用户在乐品包装平台发布的任何受著作权法保护的作品内容，无论该内容形成于本服务协议签订前还是本服务协议签订后。乐品包装及乐品包装转授权、许可的相关方有权将您在乐品包装平台发表的产品使用体验、产品讨论或图片进行使用或者与其他人合作使用，使用范围包括但不限于网站、电子杂志、杂志、刊物、海报、公众号文章、微信小程序等。</p>
            <p>【软件使用】在使用乐品包装相关客户端的过程中，您可能需要下载特定软件。为了改善用户体验、修复漏洞、保障安全性等考虑，乐品包装有权对软件进行更新，您应该将相关软件更新至最新版本，否则乐品包装将不保证您能正常使用相关软件。</p>
            <p>如果您从未经乐品包装授权的第三方获取软件或与该软件名称相同的安装程序，乐品包装无法保证该软件能够正常使用，由此造成的相关损失，乐品包装不予负责。</p>
            <p>【软件使用禁止性规定】除非乐品包装书面许可，您在使用乐品包装的软件时不得从事下列任一行为：</p>
            <p>（1）删除、编辑或遮挡软件及其副本上关于著作权、商标或其他权利标识或标记的信息；</p>
            <p>（2）复制、发布、出售或出租软件或其任何部分；</p>
            <p>（3）对软件进行反向工程、反向汇编、反向编译，或者以其他方式尝试挖掘、提取软件的源代码；</p>
            <p>（4） 其他对软件、软件所产生的数据所进行的任何增加、删减、变动的任何行为，包含制作、利用、授权各种第三方外挂、插件、系统进行上述行为。</p>

            <h2>六、协议的终止</h2>
            <p>【协议终止情形】本服务协议于以下任一情形下终止：</p>
            <p>（1）乐品包装有权依据本服务协议约定，收回、注销用户账号，此情形下，本服务协议于账号收回、注销之日终止；</p>
            <p>（2）在满足乐品包装平台公示的账号注销条件时，您通过网站自助服务或乐品包装的客服注销乐品包装的用户账号，本服务协议于账号注销之日终止。您理解并同意，您已认真阅读、认可《乐品包装隐私政策》及其附件一《用户注销协议》，并已了解、同意相关用户注销流程及注销后的权利义务安排；</p>
            <p>（3）乐品包装有权根据自身商业安排经过合理的提前通知终止全部乐品包装平台服务，本服务协议于乐品包装平台全部服务依法定程序及方式终止之日终止。</p>
            <p> 本服务协议终止后，乐品包装将无法继续向您提供任何服务或履行任何其他义务，包括但不限于为您保留或向您披露其原乐品包装账号中的任何信息，向您或第三方转发任何未曾阅读或发送过的信息等。</p>
            <p>本服务协议的终止不影响第五条知识产权条款以及其他根据其内容应继续有效的条款的有效性，也不影响本服务协议终止前各方的相关权利和义务，包括但不限于守约方依据本服务协议向违约方追究相应的违约责任。</p>

            <h2>七、通知与送达</h2>
            <p>您知悉并认可，乐品包装可视情况通过下列任意一种或几种方式向您通知重要信息：</p>
            <p>（1）向您注册时所提交的电子邮箱地址发送电子信息；</p>
            <p>（2）向您注册时所提交的手机号码发送电子信息；</p>
            <p>（3）向您提供的实际地址进行寄送纸质载体信息；</p>
            <p>（4）在网站或客户端显著位置刊登电子信息；</p>
            <p>（5）向乐品包装网站或相应客户端的账户的站内信或其他即时通信客户端发送电子信息。</p>
            <p>上述电子信息在发送成功或刊登完成后即视为送达。相关纸质载体的发送以相关邮寄凭证上的邮寄日期后的第五个自然日视为送达。</p>
            <p>上述送达方式同样可适用于相关仲裁或司法程序（含起诉、审理、执行等各阶段）。</p>
            <p>您应当保证所提供的联系方式是准确、有效的，并进行适时更新，如因提供的联系方式不准确或怠于更新等不可归责于乐品包装的原因，导致相关通知、文件、文书无法送达或及时送达，您将自行承担由此可能产生的法律后果。</p>

            <h2>八、不可抗力或其他免责事由</h2>
            <p>【不可抗力】您理解并同意，在使用本服务的过程中，可能会遇到不可抗力等风险因素，使本服务协议下的服务发生中断或终止。不可抗力是指不能预见、不能克服并不能避免且对一方或双方造成重大影响的客观事件，包括但不限于信息网络设备维护、信息网络连接故障、电脑、通讯或其他系统的故障、电力故障、罢工、劳动争议、暴乱、起义、骚乱、生产力或生产资料不足、火灾、洪水、风暴、爆炸、战争、政府行为、法律法规变动、司法行政机关的命令、其他不可抗力或第三方的不作为而造成的不能服务或延迟服务等行为。出现上述情况时，乐品包装将努力在第一时间与相关部门配合，及时进行修复，但是由此给您造成的损失，乐品包装在法律允许的范围内免责。</p>
            <p>【其他免责事由】您理解并同意，在符合法律规定的情况下，乐品包装对以下事由所导致的服务中断或终止不承担责任：</p>
            <p>（1）受到计算机病毒、木马或其他恶意程序、黑客攻击的破坏；</p>
            <p>（2）用户或乐品包装的电脑软件、系统、硬件和通信线路出现故障；</p>
            <p>（3）用户操作不当；</p>
            <p>（4）用户通过非乐品包装授权的方式使用本服务；</p>
            <p>（5）其他乐品包装无法控制或合理预见的情形。</p>

            <p>【信息真实性】乐品包装提示您，在使用本服务的过程中，您可能会遇到网络信息或其他用户行为带来的风险，该等风险包含他人匿名或冒名的含有威胁、诽谤、令人反感、非法、误导、欺骗等任何信息或行为所造成任何心理、生理上的伤害或经济损失。请您仔细甄别，并在遇到上述相关不法行为时及时向乐品包装或有关机关举报或投诉。乐品包装将对相关内容开展日常检查并在收到举报或投诉时进行相应处理，但请您注意，乐品包装不对非乐品包装所发出或刊登的任何信息的真实性、适用性、合法性承担责任，也不对因第三方侵权行为给您造成的损害负责。</p>
            <p>【责任限制】除非另有明确书面说明，在符合法律法规规定的情况下，乐品包装不对其网站和客户端上的信息、内容、材料、产品或服务做任何形式的明示或默示的声明或担保</p>

            <h2>九、管辖、法律适用与争议解决</h2>
            <p>本服务协议的成立、生效、履行、解释与纠纷解决，适用中华人民共和国大陆地区法律法规，并且排除一切冲突法规定的适用。</p>
            <p>如因某项具体服务中的产品或服务问题导致您与乐品包装间出现纠纷，您同意，该等纠纷将由适用于该项具体服务的服务条款或规则中所规定的争议解决地的有管辖权人民法院受理。就本服务协议而言，如您因本服务协议文本与乐品包装产生争议纠纷，您同意交由本服务协议签订地有管辖权人民法院受理。本服务协议签订地为上海市杨浦区。</p>

            <h2>十、其他</h2>
            <p>【关键词】本服务协议各条款前所列关键词仅供帮助理解条款主旨及快速定位查询条款所用，不能代替条款的任何内容，亦不作为解释条款的依据，乐品包装建议您仔细阅读各条款的具体表述，以维护您的合法权益。</p>
            <p>【可分性】如果本服务协议中任何一条被视为废止、无效或因任何理由不可执行，该条应视为可分的且并不影响任何其余条款的有效性和可执行性。</p>
            <p>如您对本服务协议有任何问题或建议，请在工作时间联系乐品包装客服部门（联系方式：乐品包装网：business@lepkg.com）。</p>

            <p>再次感谢您的耐心阅读！</p>

          </div>

        </div>
      </div>

    </div>

    <div id="privacy" class="box mui-popover mui-popover-action mui-popover-right">

      <div class="mui-scroll-wrapper privacywrapper">
        <div class="mui-scroll">
          {{smheader({title:'乐品包装隐私政策'})}}

          <div class="content">
            <b>生效日期: 2021年6月2日</b>

            <p>乐品包装（以下或称“我们”）非常注重保护用户（“您”）的个人信息及隐私，我们深知个人信息对您的重要性，并将按照法律法规要求和业界成熟的安全标准，采取相应的安全保护措施来保护您的个人信息。我们希望通过本隐私政策向您清晰地介绍在使用我们的产品/服务时，我们如何处理您的个人信息，以及我们为您提供的访问、更正、删除和保护这些信息的方式。</p>
            <p>本政策将帮助您了解以下内容：</p>
            <p>1、我们如何收集和使用您的个人信息</p>
            <p>2、我们如何使用 Cookie和同类技术</p>
            <p>3、我们如何共享、转让、公开披露您的个人信息</p>
            <p>4、我们如何保存和保护您的个人信息</p>
            <p>5、您如何管理您的个人信息</p>
            <p>6、未成年人的个人信息保护</p>
            <p>7、通知和修订</p>
            <p>8、如何联系我们</p>
            <p>9、附录</p>

            <p>【特别提示】请您在使用我们提供的各项产品/服务前，仔细阅读并充分理解本《隐私政策》（重点内容我们已将字体加粗请您特别关注）并作出相应选择。一旦您使用或继续使用我们的产品/服务时，即意味着您同意我们按照本隐私政策处理您的相关信息。</p>
            <p>如对本隐私政策有任何疑问，您可以通过本隐私政策“如何联系我们”中提供的方式与我们联系） 。</p>

            <p>乐品包装及上海旷特科技有限公司旗下的关联公司（定义见附录）提供的产品/服务（包括未设独立隐私政策的乐品包装及关联公司提供的产品/服务），均适用本隐私政策。这些产品/服务包括乐品包装等网站、客户端以及相关微信开放平台账号或小程序等。此外，针对某些特定的产品/服务，我们还将制定单独的隐私政策，向您说明这些产品/服务的特殊政策。如相关特定的隐私政策与本隐私政策有不一致之处，适用该特定隐私政策。</p>
            <p>请您注意，本政策不适用于您通过我们的产品/服务而接入的其他第三方产品/服务(“其他第三方”，包括您的交易相对方、任何第三方网站以及第三方服务提供者等)，具体规定请参照该第三方的隐私政策或类似声明。</p>

            <h2>一、我们如何收集和使用您的个人信息</h2>
            <p>在您使用我们的产品/服务时，您需要/可以选择授权我们收集和使用个人信息的场景包括：</p>
            <p>1、为了向您提供我们产品/服务的基本功能，您需要授权我们收集、使用必要信息的情形，如您拒绝提供前述必要信息，您将无法正常使用我们的的产品/服务；</p>
            <p>2、为了向您提供我们产品/服务的拓展功能，您可以选择授权我们收集、使用信息的情形，如您拒绝提供前述信息，您将无法正常使用相关附加功能或无法实现我们拟达到的功能效果，但并不会影响您正常使用我们产品/服务的基本功能。</p>
            <p>（一）您需要授权我们收集和使用个人信息的场景</p>
            <p>我们会遵循正当、合法、必要的原则，出于本政策所述的下列目的收集和使用您的个人信息。</p>
            <p>1、帮助您成为我们的用户</p>
            <p>为遵守法律法规的要求，以及向您提供更个性化、更便捷的服务，在您注册成为乐品包装用户时，您需要至少提供手机号码以创建乐品包装账号，并完善相关的网络身份识别信息（如头像、昵称及登录密码等）；如果您仅需使用浏览、搜索等功能，您无需注册成为我们的用户以及提供上述信息。</p>
            <p>在提供账号信息的过程中，如果您愿意额外补充如下个人信息，将有助于我们向您提供更为个性化的服务：包括您的性别、生日、常居地、家乡、喜好、家庭信息等。如果您不提供该等信息，不会影响您享受乐品包装服务的基本功能。</p>
            <p>如您选择授权使用第三方账号登录时，我们会从第三方获取您共享的账号信息（如头像、昵称、地区、性别等信息）与您的乐品包装账号进行绑定用于快捷登录，我们会依据与第三方的约定，在符合相关法规的前提下，使用您的个人信息。</p>
            <p>2、向您提供基于地理位置的信息展示</p>
            <p>为了向您提供周边信息的展示和搜索服务，提升我们的服务表现、效率和功能，经您授权我们会收集您在使用我们服务过程中产生的相关信息，包括：</p>
            <p>（1）位置信息。当您通过系统授权开启移动设备的定位功能并使用基于位置提供的服务时，我们会收集和使用您的位置信息以便为您推荐周边的服务（例如您不需要手动输入所在地理位置就可获得相关服务，估算商家与您之间的实际距离方便您进行决策，为您推荐附近的服务品类和优惠信息等）。我们会使用有关技术获取您的位置信息（准确度会有所不同），这些技术包括 IP 地址、GPS 以及能够提供相关信息的WLAN（如Wi-Fi） 接入点、蓝牙和基站等。您使用服务中提供的信息中可能包含相应地理位置信息，例如您在账号资料中设置的地区信息或您上传的图片、视频中的地理标记信息。您可以在移动设备的系统中关闭定位服务停止我们对您所在位置信息的收集，但可能因此无法使用我们基于地理位置为您提供的服务，或者无法达到相关服务的预期效果。</p>
            <p>（2）日志信息。当您使用我们提供的产品/服务时，我们会收集您的浏览、搜索、点击、收藏、售后、关注、分享、发布等信息并作为有关网络日志进行保存，其中包括您的IP地址、浏览器的类型、使用的语言、操作系统的版本、访问的日期和时间、电信运营商、网络请求等。</p>
            <p>3、为您提供收藏、关注、分享、推荐功能</p>
            <p>为了便于您管理自己的偏好，寻找具有共同爱好的用户或社区，获得更轻松的访问体验，与好友及第三方进行分享等，您可以收藏/关注/加入您感兴趣的商户/用户/社区，也可以通过功能组件向第三方进行信息分享，我们会收集您在使用上述功能中产生的日志信息，用于在个人主页中向您展示、实现在线管理、发起共享以及向您推荐具有共同爱好的用户等。</p>
            <p>4、为您提供写点评、信息发布功能</p>
            <p>您在乐品包装上主动对商家的产品/服务进行评价或发布其他内容（如分享心情、状态、签到等信息）时，我们将收集您发布的信息，并展示您的昵称、头像和发布内容等。如您选择以匿名方式发布评价信息时，我们将不展示您的昵称、头像。</p>
            <p>5、为您提供/展示支付、借贷、理财、保险等金融产品/服务</p>
            <p>当您使用乐品包装上提供/展示的金融产品/服务时，我们还可能会收集您的身份证件信息（含影印件）、银行卡信息等，具体的信息收集和使用规则请参见与您另行签署的具体服务协议/文件/规则以及附件中的《乐品包装金融隐私政策》。</p>
            <p>6、为您提供直播服务</p>
            <p>您在开通直播服务时，根据法律法规的要求，可能需要通过“人脸识别”的方式进行实名认证，以验证您的身份。在实名认证的过程中，我们和提供认证服务的第三方认证机构需要您提供真实姓名、身份证号码及面部特征值信息。这些信息是个人敏感信息，您可以拒绝提供，且不会影响乐品包装其他功能的正常使用。这些信息仅供实名认证及法律法规所规定的用途，未经您明示授权，不会用作其他目的。</p>
            <p>您在使用直播服务时，我们将收集您直播的音视频信息，并展示您的昵称、头像及直播信息。</p>
            <p>您在使用直播服务时，我们会请求您授权相机、麦克风权限。您如果拒绝授权提供，将无法使用此功能，但不影响您正常使用乐品包装其他功能。</p>
            <p>7、为您提供客服和售后服务</p>
            <p>当您与我们的客服取得联系时，我们的系统可能会记录您与客服之间的通讯记录，以及使用您的账号信息以便核验身份；当您需要我们提供与您订单相关的客户服务时，我们可能会查询您的相关订单信息以便给予您适当的帮助和处理；当您需要客服协助您修改有关信息（如配送地址、联系方式等）时，您可能还需要提供上述信息外的其他信息以便完成修改。</p>
            <p>8、为您提供安全保障</p>
            <p>为了保障您的账号安全、交易安全以及系统运行安全，满足法律法规和我们协议规则的相关要求，在您使用我们的产品/服务过程中，经您授权我们会获取您的设备信息，包括您使用的设备属性、连接和状态信息，例如设备型号、设备标识符（如IMEI/androidID/IDFA/OPENUDID/GUID/OAID、SIM卡IMSI、ICCID信息等）、设备MAC地址、软件列表、电信运营商等软硬件特征信息。</p>
            <p>为提高您使用我们提供的服务的安全性，更准确地预防钓鱼网站欺诈和木马病毒，我们可能会使用或整合您的个人信息以及我们的关联方、合作伙伴取得您授权或者依法共享的信息，根据您的使用习惯和常用软件信息等来综合判断您的账号及交易风险，包括验证身份，预防、发现、调查可能存在的欺诈、网络病毒、网络攻击等安全风险以及违反我们或关联方协议、政策或规则等行为，以保护您、其他用户、我们或关联方的合法权益，并记录一些我们认为有风险的链接(“URL”)。</p>
            <p>（二）您可以选择授权我们收集和使用个人信息的场景</p>
            <p>为向您提供个性化的服务，您可以选择使用我们提供的拓展功能，我们会在符合法律规定并根据您具体授权的情况下收集并使用如下信息。这类信息将在您选择的具体功能和业务场景中进行收集，如果您不提供这些信息，不会影响您使用乐品包装的基本功能。</p>
            <p>1、基于相机授权的拓展功能</p>
            <p>您可以选择开启系统的相机权限，通过使用拍照、录视频，扫码等功能授权乐品包装访问您的相机，以便于您通过拍摄照片或录制视频等方式发布内容，如果您需要录制并发布有声视频时，您还需开启麦克风权限。我们会收集您上传发布的上述信息，此项功能您可以在系统权限中关闭，一旦关闭您将可能无法实现扫码功能，或者无法通过拍摄图片、视频等方式进行点评或互动，但不会影响您享受乐品包装服务的基本功能。</p>
            <p>2、基于相册授权的拓展功能</p>
            <p>您可以选择开启系统的相册权限，通过主动上传图片、视频等方式授权我们访问您的相册，以便于您通过上传照片或上传视频等方式发布内容。我们会收集您选择上传发布的上述信息，此项功能您可以在系统权限中关闭，一旦关闭您将可能无法通过上传图片、视频等方式进行更换头像、发布带图点评等，但不会影响您享受乐品包装服务的基本功能。</p>
            <p>3、基于麦克风授权的拓展功能</p>
            <p>您可以选择开启系统的麦克风权限，使用语音技术来实现语音搜索、智能点餐等语音交互功能。我们会收集您在使用智能语音技术过程中录入的语音信息用于机器识别、在线交互并满足您的搜索或下单等需求（例如您在使用乐品包装的“按住说话”功能时，我们会根据您的需求进行信息的搜索、展示和下单）。此项功能您可以在系统权限中关闭，一旦关闭您将可能无法实现在线语音交互功能，但不会影响您享受乐品包装服务的基本功能。</p>
            <p>（三）其他</p>
            <p>您可以通过乐品包装为其他人预定各类产品/服务，并提供该实际服务接收人的有关信息，此前请您确保已取得相关人的授权。</p>
            <p>如果我们将信息用于本政策未载明的其他用途，或者将基于特定目的收集而来的信息用于其他目的时，会单独征求您的授权同意。</p>
            <p>（四）征得同意的例外</p>
            <p>请您知悉，以下情形中，我们收集、使用个人信息无需征得您的授权同意：</p>
            <p>1、与国家安全、国防安全有关的；</p>
            <p>2、与公共安全、公共卫生、重大公共利益有关的；</p>
            <p>3、与犯罪侦查、起诉、审判和判决执行等有关的；</p>
            <p>4、出于维护个人信息主体或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
            <p>5、所收集的个人信息是个人信息主体自行向社会公众公开的；</p>
            <p>6、从合法公开披露的信息中收集的您的个人信息的，如合法的新闻报道、政府信息公开等渠道。</p>
            <p>7、根据您的要求签订合同所必需的；</p>
            <p>8、用于维护所提供的产品与/或服务的安全稳定运行所必需的，例如发现、处置产品与/或服务的故障；</p>
            <p>9、为合法的新闻报道所必需的；</p>
            <p>10、学术研究机构基于公共利益开展统计或学术研究所必要，且对外提供学术研究或描述的结果时，对结果中所包含的个人信息进行去标识化处理的；</p>
            <p>11、法律法规规定的其他情形。</p>
            <p>请注意，单独或与其他信息相结合无法识别您的身份或者与您直接建立联系的信息，不属于个人信息。如果我们将单独无法与任何特定个人建立联系的信息与其他信息结合用于识别自然人个人身份，或者将其与个人信息结合使用，则在结合使用期间，此类信息将被视为个人信息。</p>
            <p>（五）个人信息的使用规则</p>
            <p>为满足您的个性化需求，维护、改进我们的产品或服务质量，我们会在符合法律规定并根据您具体授权的情况下使用如下信息：</p>
            <p>1、我们可能会收集您的订单信息、浏览及搜索信息、行为偏好、位置信息等，以及将您在乐品包装上使用某项服务中提供的信息与来自其他服务中的信息结合起来，进行综合统计、分析以形成用户画像，用来向您推荐或展示您可能感兴趣的产品/服务信息，或通过系统向您展示个性化的第三方推广信息。包括在App页面向您推送消息通知，为您提供智能推荐，通过短信、APP 、电子邮件等给您发送推送消息、推广信息或展示商业广告，通过电话进行回访、向您提供信息咨询等服务或邀请您参与服务、产品或功能有关的客户调研。例如将您在使用我们某项服务时收集的信息，用于在另一项服务中向您展示个性化的内容或广告。</p>
            <p>2、我们可能会收集您在参与产品/服务调查时主动向我们提供的信息，以及您与我们的关联方、合作伙伴之间互动时提供的相关信息，以便于您追踪订单情况、发起用户投诉以及我们优化客户服务的质量与流程。</p>
            <p>3、我们可能将业务中收集的个人信息用于统计分析和改进运营，将已经去标识化无法识别您身份且不能复原的信息用于建立数据库并进行商业化利用。例如通过您所在的位置、偏好等进行统计分析，从而改进我们的产品、服务或营销计划；又如为改进我们系统而进行的技术改造、网络维护、故障排除、内部政策与流程制定、生成内部报告等。</p>
            <p>（六）设备权限调用</p>
            <p>为确保相关业务功能的正常实现，我们需要根据具体的使用场景调用对应的必要权限，并在调用前向您弹窗询问，您可以在设备的设置中选择关闭部分或者全部权限，这可能导致对应的业务功能无法实现或者无法达到预期效果。</p>

            <h2>二、我们如何使用Cookie </h2>
            <p>为确保网站正常高效运转、为您获得更轻松的访问体验、向您推荐您可能感兴趣的内容，我们会在您的设备终端/系统上存储名为 Cookie的小数据文件。Cookie会帮助您在后续访问我们网站时调用您的信息，简化您填写个人信息(例如一键登录等)的流程;为您提供安全购物的偏好设置;帮助您优化对广告的选择与互动;保护您的数据安全等。我们不会将 Cookie用于本隐私政策所述目的之外的任何用途。您可根据自己的偏好管理或删除 Cookie。您可以清除计算机或移动设备上保存的所有 Cookie，您有权接受或拒绝Cookie。大多数浏览器会自动接受Cookie，但您通常可根据自己的需要来修改浏览器的设置以拒绝Cookie;另外，您也可以清除软件内保存的所有Cookie。但您可能因此无法完全体验我们某些便捷性和安全性的服务功能。</p>

            <h2>三、我们如何共享、转让、公开披露您的个人信息</h2>
            <p>（一）共享</p>
            <p>我们不会与乐品包装以外的任何公司、组织和个人共享您的个人信息，但以下情况除外：</p>
            <p>1、获得您明确同意或授权的共享。</p>
            <p>2、基于法定情形下：根据法律法规的规定、诉讼争议解决需要，或行政、司法等有权机关依法提出的要求。</p>
            <p>3、与关联公司共享：为向您提供一致化服务以及便于您进行统一管理，我们可能会将您的个人信息与我们的关联公司共享。但我们只会共享必要的个人信息，如果我们共享您的个人敏感信息或者关联方改变个人信息的使用目的，将再次征求您的授权同意。</p>
            <p>4、与合作伙伴分享：我们可能会向业务合作伙伴共享为您提供服务所必要的订单信息、账户信息、支付信息等。我们的业务合作伙伴包括以下类型：</p>
            <p>供应商/服务合作商。仅为实现本政策中声明的目的，我们的某些服务将由业务合作伙伴提供。以保障为您提供的服务顺利完成，我们可能会将您的个人信息共享给上述合作伙伴，包括配送业务、技术服务、支付服务、金融业务等。其中可能包括您的联络信息、订单信息、支付信息、地址信息等，以保障为您提供的服务顺利完成。例如在您使用我们的购买服务时，我们必须与配送服务合作商共享您的订单和配送信息，以保证订单的安全准确送达；又如我们需要将您的订单号和订单金额与第三方支付机构共享以实现其确认您的支付指令并完成支付等。其中您的联络信息和地址信息属于个人敏感信息，我们已经采取了默认开启的“号码保护”、单据上的“地址隐藏”等举措尽全力保护您的个人信息。</p>
            <p>广告、分析服务类等业务合作伙伴。经您授权，我们可能会与提供广告投放推广和统计分析的合作伙伴共享信息，但我们仅会向这些合作伙伴提供广告推广的覆盖面、有效性以及统计类等信息，而不会共享可以识别您身份的个人信息，否则我们会对这些信息进行去标识化处理以避免对您身份的识别。相关合作伙伴可能会对上述信息进行汇聚分析，用于提供广告曝光监测或服务决策。</p>
            <p>5、基于协议约定：依据您与我们签署的相关协议(包括在线签署的电子协议及平台规则)或法律文件，有必要向第三方共享时。</p>
            <p>6、基于合理商业习惯：例如与第三方共享联合营销活动中的中奖信息，以便第三方能及时向您发放奖品。</p>
            <p>7、基于学术研究；例如为科研机构开展统计或学术研究之必要。</p>
            <p>8、基于符合法律法规的社会公共利益等。</p>
            <p>我们会通过应用程序接口（API）、软件工具开发包（SDK）与第三方进行必要的数据共享，不同版本的第三方SDK会有所不同，一般包括第三方账号登录类、分享类、第三方支付类、厂商推送类、统计类等，我们会对第三方进行严格的安全检测并约定数据保护措施。</p>
            <p>请您知悉，我们仅会出于合法、正当、必要、特定、明确的目的共享您的个人信息，对我们仅为实现本政策中声明的目的与之共享个人信息的公司、组织和个人，我们会与其签署严格的信息保护和保密协定，要求他们遵守协议并采取相关的安全措施来保护您的个人信息。</p>

            <p>（二）转让</p>
            <p>随着我们业务的发展，我们及我们的关联方有可能进行合并、收购、资产转让或类似的交易，如涉及个人信息的转让，我们会要求受让您个人信息的公司、组织继续接受本隐私政策的约束，否则，我们将要求该公司、组织重新征求您的授权同意。</p>

            <p>（三）公开披露</p>
            <p>我们仅会在以下情况下，且采取符合业界标准的安全防护措施的前提下，才可能公开披露您的个人信息：</p>
            <p>1、根据您的需求，在您明确同意的披露方式下披露您所指定的个人信息；</p>
            <p>2、根据法律、法规的要求、强制性的行政执法或司法要求所必须提供您个人信息的情况下，我们可能会依据所要求的个人信息类型和披露方式公开披露您的个人信息。在符合法律法规的前提下，当我们收到上述披露信息的请求时，我们会要求必须出具与之相应的法律文件，如传票或调查函。</p>
            <p>请注意，您在使用我们服务时自愿发布甚至公开分享的信息，可能会涉及您或他人的个人信息甚至个人敏感信息，如您的交易信息，以及您在评价时选择上传包含个人信息的文字、图片或视频等各种形式的信息。请您在使用我们的服务时更加谨慎地考虑，是否要发布甚至公开分享相关信息。</p>

            <p>（四）共享、转让、公开披露个人信息时事先征得授权同意的例外</p>
            <p>以下情形中，共享、转让、公开披露您的个人信息无需事先征得您的授权同意：</p>
            <p>1、与国家安全、国防安全有关的；</p>
            <p>2、与公共安全、公共卫生、重大公共利益有关的；</p>
            <p>3、与犯罪侦查、起诉、审判和判决执行等有关的；</p>
            <p>4、出于维护您或其他个人的生命、财产等重大合法权益但又很难得到本人同意的；</p>
            <p>5、其他维护公共利益的情形，例如您的信用评价信息需要被公开/共享；</p>
            <p>6、您自行向社会公众公开的个人信息；</p>
            <p>7、从合法公开披露的信息中收集个人信息的，如合法的新闻报道、政府信息公开等渠道。但是您明确拒绝或者处理该信息侵害您重大利益的除外。</p>
            <p>根据法律规定，共享、转让、公开披露经去标识化处理的个人信息，且确保数据接收方无法复原并重新识别个人信息主体的，我们对此类数据的处理将无需另行向您通知并征得您的同意。</p>

            <h2>四、我们如何保存和保护您的个人信息</h2>
            <p>（一）个人信息的保存</p>
            <p>1、保存期限：除非依据法律法规或双方约定，我们仅会在实现目的所必需的最短时间内留存您的相关个人信息。在您主动注销账号时，我们将根据法律法规的要求尽快删除您的个人信息或匿名化处理，有关注销账号的相关规则和流程，请参见本政策附件中的《用户注销协议》。</p>
            <p>2、保存地域：我们在中华人民共和国境内收集和产生的个人信息，将存储在中国境内，但以下情形除外：</p>
            <p>法律法规有明确规定的；</p>
            <p>单独征得您的授权同意；</p>
            <p>您主动发起的跨境预定、下单、交易等个人行为。</p>
            <p>在上述情形中，我们会并要求数据接收方按照本隐私政策以及其他相关的安全保密措施来处理个人信息。</p>
            <p>3、终止运营：如果发生终止运营等情形，我们将会至少提前30天通知您，并在终止运营后对您的个人信息进行删除或匿名化处理。</p>

            <p>（二）个人信息的保护措施</p>
            <p>1、数据安全措施</p>
            <p>为保障您的信息安全，我们努力采取各种符合业界标准的物理、电子和管理方面的安全措施来保护您的个人信息，建立数据分类分级制度、数据安全管理规范、数据安全开发规范来管理规范个人信息的存储和使用。乐品包装通过信息接触者保密协议、监控和审计机制来对数据进行全面安全控制。防止您的个人信息遭到未经授权访问、公开披露、使用、修改、损坏或丢失。例如在您的浏览器与“服务”之间交换数据（ 如信用卡信息）时采用SSL加密保护技术；同时对网站本身提供https安全浏览方式；使用加密技术确保数据的保密性；使用受信赖的保护机制防止数据遭到恶意攻击；部署访问控制机制，确保只有授权人员才可访问个人信息；以及举办安全和隐私保护培训课程，加强员工对于保护个人信息重要性的认识。</p>
            <p>2、安全认证</p>
            <p>我们已先后通过了公安部信息安全等级保护三级认证、ISO27001信息安全认证、第三方支付行业（支付卡行业PCI DSS）数据安全标准国际认证等认证资质，并与监管机构、第三方测评机构建立了良好的协调沟通机制，及时抵御并处置各类信息安全威胁，为您的信息安全提供全方位保障。</p>
            <p>3、请您知悉并理解，互联网并非绝对安全的环境，我们强烈建议您通过安全方式、使用复杂密码，协助我们保证您的账号安全。如您发现自己的个人信息泄密，尤其是您的账户或密码发生泄露，请您立即根据本隐私政策中提供的联系方式联络我们，以便我们采取相应措施。</p>
            <p>4、安全事件</p>
            <p>在不幸发生个人信息安全事件后，我们会立即成立专项应急小组，启动应急预案，防止安全事件扩大，并按照法律法规的要求及时向您告知：安全事件的基本情况和可能的影响、我们已采取或将要采取的处置措施、您可自主防范和降低风险的建议、对您的补救措施等。我们将及时将事件相关情况以邮件、信函、电话、推送通知等方式告知您，难以逐一告知个人信息主体时，我们会采取合理、有效的方式发布公告。同时，我们还将按照监管部门要求，主动上报个人信息安全事件的处置情况。</p>

            <h2>五、您如何管理您的个人信息</h2>
            <p>您对您的个人信息享有以下权利:</p>
            <p>（一）您有权访问、更正、删除您的个人信息，法律法规规定的例外情况除外。您可以通过以下方式管理您的信息:</p>
            <p>账户信息——您可以访问、更正您账户中的个人资料及账号信息（身份认证信息除外）、支付信息、账号绑定信息等，也可以更改您的密码、添加安全信息或进行第三方账号和银行卡的解绑等，您可以通过访问网页及App在设置中执行此类操作。</p>
            <p>评论信息——您可以通过访问乐品包装网页/App页面上的“评价”、“评价中心”访问、更正、清除您的评论内容。</p>
            <p>如果您无法通过上述链接管理这些个人信息，您可以随时通过本隐私政策中提供的反馈方式联系我们。我们将在15天内回复您的访问请求。</p>
            <p>（二）改变您授权同意的范围或撤回授权</p>
            <p>您可以通过在乐品包装网站/App中删除信息、更改隐私设置或者在系统中关闭设备权限功能等方式改变同意范围或撤回您的授权。</p>
            <p>请您理解，当您执行上述操作后，我们将无法继续为您提供撤回同意或授权所对应的服务，但不会影响此前基于您的授权已经开展的个人信息处理。</p>
            <p>（三）注销账户</p>
            <p>您有权注销您的乐品包装账户，您可以通过访问我们面上的“设置”—“安全中心”——“注销账号”中进行在线操作。有关注销账户的相关规则和流程，请参见附件中的《用户注销协议》。您注销成功后，我们将根据法律法规的要求尽快删除您的个人信息或作匿名化处理。</p>
            <p>如果您无法通过上述方式访问、更正或删除您的个人信息以及注销账号，或者如果您认为乐品包装存在违反法律的规定收集、使用您个人信息的情形，您可以通过我们的客服或通过本隐私政策提供的其他方式与我们取得联系。为了保障安全，我们可能需要您提供相应方式证明您的身份和请求的正当性，我们将在收到您反馈并验证您的身份后的15天内答复您的请求。对于您合理的请求，我们原则上不收取费用，但对多次重复、超出合理限度的请求，我们将视情收取一定成本费用。对于那些无端重复、需要过多技术手段（例如，需要开发新系统或从根本上改变现行惯例）、给他人合法权益带来风险或者非常不切实际（例如，涉及备份磁带上存放的信息）的请求，我们可能会予以拒绝。</p>

            <h2>六、通知和修订</h2>
            <p>为给您提供更好的服务，我们的业务将不时变化，本隐私政策也将随之调整。未经您明确同意，我们不会削减您依据本隐私政策所应享有的权利。我们会通过在我们网站、移动端上发出更新版本或以其他方式提醒您相关内容的更新，也请您访问我们以便及时了解最新的隐私政策。在前述情况下，若您继续使用我们的服务，即表示同意接受修订后的本政策并受之约束。</p>
            <p>七、如何联系我们</p>
            <p>您可以通过以下方式与我们联系，我们将在15天内答复您的请求；</p>
            <p>1、您可以通过乐品包装网站/App上提供的在线联系方式/客服系统与我们联系；</p>
            <p>2、您可以联系乐品包装的客服电话进行反馈。</p>
            <p>3、我们还设立了专门的个人信息保护团队，您可以通过 privacy@lepkg.com联系我们。</p>

            <p>附录：</p>
            <p>1、个人信息：指以电子或者其他方式记录的能够单独或者与其他信息结合识别特定自然人身份或者反映特定自然人活动情况的各种信息。本隐私政策中可能涉及到的个人信息包括但不限于：个人基本信息（包括姓名、电话号码、性别、住址、生日等）；个人身份信息（包括身份证、军官证、护照、驾驶证等）；网络身份标识信息（包括系统账号、IP地址、邮箱地址及与前述有关的密码、口令、口令保护答案）；个人财产信息（包括银行账号、交易和消费记录、信贷记录以及虚拟财产信息等）；个人健康生理信息（包括病症、病历、病史等）；联系人信息（包括通讯录信息、好友列表等）；个人上网记录（包括网站浏览记录、点击记录等）；个人设备信息（包括唯一设备识别码等描述个人常用设备基本情况的信息）；个人位置信息（包括行踪轨迹、精准定位信息、住宿信息等）。</p>
            <p>2、个人敏感信息：是指一旦泄露、非法提供或滥用可能危害人身和财产安全，极易导致个人名誉、身心健康受到损害或歧视性待遇等的个人信息。本隐私政策中可能涉及到的个人敏感信息包括：个人身份认证信息（包括身份证、军官证、护照、驾驶证、学生证等）；个人财产信息（银行账号、交易和消费记录、信贷记录以及虚拟财产信息等）；其他信息（行踪轨迹、通讯录信息、住宿信息、精准定位信息等）；14周岁以下的儿童信息。</p>
            <p>3、乐品包装：本政策中所指的“乐品包装”是指乐品包装旗下所有公司及其附属、关联公司。</p>
            <p>4、关联账号：您可以使用相同的手机号码登录乐品包装所提供的产品/服务，并授权使用您的乐品包装账号信息（如头像、昵称、收货地址），以便于我们基于关联账号向您提供一致的服务以及您进行统一管理。</p>

            <p>附件一：</p>
            <p>《用户注销协议》</p>
            <p>在您注销您的账户之前，请充分阅读、理解并同意下列事项：</p>
            <p>在此善意地提醒您，您注销乐品包装账户的行为，将导致我们终止对您提供本服务，也会给您的售后维权带来诸多不便。注销成功后，我们将删除您的个人信息，使其保持不可被检索、访问的状态，或对其进行匿名化处理。您知晓并理解，根据相关法律规定相关交易记录须在乐品包装保存3年甚至更长的时间。</p>
            <p>1、如果您仍执意注销账户，您的账户需同时满足以下条件：</p>
            <p>（1）账户在乐品包装系统中无资产、无欠款；</p>
            <p>（2）账户内无未完成的订单、已提供服务但未支付的订单/服务； </p>
            <p>（3）账户无任何纠纷，包括投诉举报或被投诉举报；</p>
            <p>（4）账户为正常使用中的账户且无任何账户被限制的记录；</p>
            <p>（5）账户对应的乐品包装支付账户已注销，且已妥善处理了乐品包装支付账户下的所有问题；</p>
            <p>2、在乐品包装账户注销期间，如果您的乐品包装账户涉及争议纠纷，包括但不限于投诉、举报、诉讼、仲裁、国家有权机关调查等，乐品包装有权自行终止本乐品包装账户的注销而无需另行得到您的同意。</p>
            <p>3、请您在提交注销申请前，务必解绑其他相关账户，具体可与我们的客服联系。</p>
            <p>4、乐品包装账户一旦被注销将不可恢复，请您在操作之前自行备份账户相关的所有信息和数据。注销乐品包装账户，您将无法再使用本乐品包装账户，也将无法找回您乐品包装账户中及与账户相关的任何内容或信息（即使您使用相同的手机号码再次注册并使用乐品包装），包括但不限于：</p>
            <p>（1）您将无法登录、使用乐品包装账户；</p>
            <p>（2）乐品包装账户的个人资料和历史信息（包括但不限于用户名、昵称、头像、预定记录等）都将无法找回；</p>
            <p>（3）您通过乐品包装账号进行登录的所有记录将无法找回。您将无法再登录、使用前述服务，您曾获得的优惠券、积分、及其他卡券等视为您自行放弃，将无法继续使用。您理解并同意，乐品包装无法协助您重新恢复前述服务。</p>
            <p>5、注销本乐品包装账户并不代表本乐品包装账户注销前的账户行为和相关责任得到豁免或减轻。</p>

          </div>
        </div>
      </div>

    </div>
  {% endblock body %}