{% extends "../shared/layout/defaultLayout.njk" %}
{% from "../shared/sharedView/macro/components/satemap/satemap1.njk" import satemap1 %}
{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "../shared/sharedView/macro/components/comment/comment1.njk" import comment %}
{% from "../shared/sharedView/macro/components/star/star.njk" import star %}
{% block title %}
  {{newsDetail.newsDetail.newsTitle}} - 乐品包装
{% endblock title %}

{% block keywords %}
  {{newsDetail.product.productName}}，{{newsDetail.product.productName}}口碑,包装,包装行业,乐品包装
{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/news/index.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript">
    var newsId = {{newsId}}
  </script>
  <script type="text/javascript" src="/dist/scripts/news/index.js"></script>
{% endblock script %}

{% block body %}
  <div id="main">
    <div class="map">
      {{satemap1({
        title: "当前位置：",
        select: 2,
        map: [
          {
            name: "首页",
            link: "/"

          }, {
            name: "正文",
            link: "/news/" + newsId
          }
        ]
      })}}
    </div>

    <div class="container clearfix">
      <div class="l">
        <div class="news_content">
          <h1>{{newsDetail.newsDetail.newsTitle}}</h1>
          <div class="title clearfix">
            <img _src_="{{newsDetail.newsDetail.userIcon}}"/>
            <span>{{newsDetail.newsDetail.userName}}</span>
            <span>发布于：{{newsDetail.newsDetail.newsTime | get_time_timestamp | ge_time_format(2)}}</span>

            <div class="givelike toppraise">
              <i class="iconfont_wlzj">&#xE017;</i>
              <span>{{newsDetail.newsDetail.praiseCount}}</span>
            </div>

          </div>

          <div class="content clearfix">
            {{newsDetail.newsDetail.newsContent | safe}}
          </div>

          <div class="share clearfix">
            <em class="share_text">分享</em>
            <i class="weixin" title="微信" data-bshare="{type:'weixin',url:'{{domainAllUrl}}/news/{{newsId}}',pop:true,title:'{{newsDetail.newsDetail.newsTitle}}',summary:'{{newsDetail.newsDetail.newsTitle}}',images:''}"></i>
            <i class="weibo" title="微博" data-bshare="{type:'weibo',url:'{{domainAllUrl}}/news/{{newsId}}',title:'{{newsDetail.newsDetail.newsTitle}}',summary:'{{newsDetail.newsDetail.newsTitle}}',images:''}"></i>
            <i class="qzone" title="QQ空间" data-bshare="{type:'qzone',url:'{{domainAllUrl}}/news/{{newsId}}',title:'{{newsDetail.newsDetail.newsTitle}}',summary:'{{newsDetail.newsDetail.newsTitle}}',images:''}"></i>

            <div class="givelike">
              <i class="iconfont_wlzj">&#xE017;</i>
              <span>{{newsDetail.newsDetail.praiseCount}}</span>
            </div>
          </div>
        </div>

        <div class="questions">
          <div class="tab" id="comments">
            {{navigationbar({
                isMore: false,
                isSelect: "1",
                data: [
                  {
                    title: "评论",
                    link: "javascript:void(0);"
                  }
                ]
            })}}
          </div>

          <div class="questions_box">
            {# {{comment()}} #}
          </div>
        </div>

      </div>

      <div class="r">
        {% if newsDetail != null and newsDetail.product != null %}

          <div class="list1 relatedproducts">
            <p>相关产品</p>
            <div class="box">
              <img _src_="{{newsDetail.product.producerCover}}"/>
              <div class="content">
                <div class="left">
                  <p>
                    <img _src_="{{newsDetail.product.companyIcon}}"/>
                    <span>{{newsDetail.product.companyName}}</span>
                  </p>
                  <p>{{newsDetail.product.productName}}</p>
                </div>
                <a class="btn" href="/business/product/{{newsDetail.product.companyId}}/{{newsDetail.product.productId}}" target="_blank">查看详情</a>
              </div>
            </div>

          </div>
        {% endif %}
        {% if (HotNews != null) and (HotNews.length > 0) %}
          <div class="list1 hotnews">
            <p>热门新闻</p>
            <div class="list">
              {% for item in HotNews %}
                <div class="child clearfix">
                  <i>●</i>
                  <a  href="/news/{{(item.reputationId != 0) | ternary('reputation/','')}}{{item.newsId}}" title="{{item.newsTitle}}" target="_blank">
                    {{item.newsTitle | delHtmlTag}}
                  </a>
                </div>
              {% endfor %}
            </div>
          </div>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock body %}