{% extends "../shared/layout/simpleLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import usernavigationbar %}

{% block title %}
个人中心 - 乐品包装
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/user/changepwd.css" rel="stylesheet">
{% endblock style %}

{% block script %}

  <script type="text/javascript" src="/dist/scripts/user/changepwd.js"></script>
{% endblock script %}

{% block body %}

  <div id="usermain">
    <div class="box">
      <div class="box_title">
        {{usernavigationbar({
            isMore: false,
            MoreText: "#",
            link: "#",
            isSelect: 1,
            data: [
               {
                title: "修改密码",
                link: "javascript:void(0);"
              }
            ]

          })}}
      </div>

      <div class="container">
        <div class="one">
          <div class="process_title">
            <span class="select">1 验证身份</span>
            <i></i>
            <span>2 设置密码</span>
            <i></i>
            <span>3 修改成功</span>
          </div>
          <div class="content">
            <div class="child clearfix">
              <span>已绑定手机号</span>
              <div>
                <input type="text" disabled value="{{phoneNumber | user_iphone}}"/>
              </div>
            </div>
            <div class="child clearfix">
              <span>验证码</span>
              
              <div>
                <input type="text" placeholder="请输入验证码" class="validation"  value=""/>
                <a href="javascript:void(0)" class="getvalidation">获取验证码</a>
                <span class="countdown">60S</span>
              </div>
            </div>
            <div class="child clearfix">
              <span></span>
              <div>
                <a class="next" href="javascript:void(0)">下一步</a>
              </div>
            </div>
          </div>
        </div>

        <div class="two" style='display:none'>
          <div class="process_title">
            <span>1 验证身份</span>
            <i></i>
            <span class="select">2 设置密码</span>
            <i></i>
            <span>3 修改成功</span>
          </div>
          <div class="content">
            <div class="child clearfix">
              <span>新密码</span>
              <div>
                <input class="newspwd" type="password" placeholder="请输入新密码"/>
              </div>
            </div>
            <div class="child clearfix">
              <span>确认密码</span>
              <div>
                <input class="confirmpwd" type="password" placeholder="请确认新密码"/>
              </div>
            </div>
            <div class="child clearfix">
              <span></span>
              <div>
                <a class="next" href="javascript:void(0)">下一步</a>
              </div>
            </div>
          </div>
        </div>

        <div class="three" style='display:none'>
          <p>密码修改成功</p>
          <a href="javascript:void(0)">重新登录</a>
        </div>
      </div>

    </div>
  </div>
{% endblock body %}