{% extends "../shared/layout/simpleLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import usernavigationbar %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/user/changepwd.css" rel="stylesheet">
{% endblock style %}

{% block script %}

  <script type="text/javascript" src="/dist/scripts/user/changepwd.js"></script>
{% endblock script %}

{% block body %}
 

{% endblock body %}