{% extends "../shared/layout/simpleLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import usernavigationbar %}

{% block title %}
个人中心 - 乐品包装
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/user/content.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script>
    var tabType = {{tabType}}
    var pageIndex = {{pageIndex}}
    var totalPages = {{totalPages}}
  </script>
  <script type="text/javascript" src="/dist/scripts/user/content.js"></script>
{% endblock script %}

{% block body %}
  {# {
                title: "问答",
                link: "javascript:void(0);",
                id: "1"
              },  #}
  <div id="usermain">
    {{ usernavigationbar({
            isMore: false,
            MoreText: "发布新产品",
            link: "#",
            isSelect: tabType,
            data: [
              
              {
                title: "口碑",
                link: "javascript:void(0);",
                id: "1"
              }
            ]

    }) }}

    {% set contentData = [
      {
        id: '11',
        content: "这里显示你的提问，这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的...",
        createTime: "2020-08-01",
        commentCount: 3333,
        praiseCount: 55555
      }, {
        id: '11',
        content: "这里显示你的提问，这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的...",
        createTime: "2020-08-01",
        commentCount: 3333,
        praiseCount: 55555
      }, {
        id: '11',
        content: "这里显示你的提问，这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的...",
        createTime: "2020-08-01",
        commentCount: 3333,
        praiseCount: 55555
      }, {
        id: '11',
        content: "这里显示你的提问，这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的...",
        createTime: "2020-08-01",
        commentCount: 3333,
        praiseCount: 55555
      }, {
        id: '11',
        content: "这里显示你的提问，这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的...",
        createTime: "2020-08-01",
        commentCount: 3333,
        praiseCount: 55555
      }, {
        id: '11',
        content: "这里显示你的提问，这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的提问这里显示你的...",
        createTime: "2020-08-01",
        commentCount: 3333,
        praiseCount: 55555
      }
    ] %}

    <div class="box">
      {# <div class="questions" style='display:{{(tabType == 1) | ternary("block","none")}}'>
        {% if contentData != null and contentData.length > 0 %}
          <div class="container">
            {% for item in contentData %}

              <div class="child clearfix">
                <div class="r">
                  <a href="javascript:void(0);">详情</a>
                  <a href="javascript:void(0);">删除</a>
                </div>
                <div class="l">
                  <div class="child_title">
                    {{item.content}}
                  </div>
                  <i>{{item.createTime}}</i>
                  <p>
                    <span>评论
                <i>{{item.commentCount}}</i>
                    </span>
                    <span>赞
                <i>{{item.praiseCount}}</i>
                    </span>
                  </p>
                </div>

              </div>
            {% endfor %}
          </div>

          <div id="questions_kkpage"></div>

        {% else %}
          <div class="empty">
            <p>暂无相关内容</p>
          </div>
        {% endif %}

      </div> #}
      <div class="kb" style='display:{{(tabType == 1) | ternary("block","none")}}'>
        {% if kbData != null and kbData.length > 0 %}
          <div class="container">
            {% for item in kbData %}

              <div class="child clearfix">
                <div class="r">
                  <a href="/news/reputation/{{item.newsId}}" target="_blank">详情</a>
                  <a href="javascript:void(0);" class="del" data-id="{{item.reputationId}}">删除</a>
                </div>
                <div class="l">
                  <a class="child_title" href="/news/reputation/{{item.newsId}}" target="_blank">
                    {{item.title | delHtmlTag}}
                  </a>
                  <div class="child_summary">
                    {{item.summary | delHtmlTag}}
                  </div>
                  <p>
                    <span>发表时间<i>{{item.createTime | get_time_timestamp | ge_time_format(2)}}</i>
                    </span>
                    <span>评论<i>{{item.commentCount}}</i>
                    </span>
                    <span>赞<i>{{item.praiseCount}}</i>
                    </span>
                  </p>
                </div>

              </div>
            {% endfor %}
          </div>

          <div id="kb_kkpage"></div>

        {% else %}
          <div class="empty">
            <p>暂无口碑</p>
          </div>
        {% endif %}

      </div>
    </div>
  </div>

{% endblock body %}