{% extends "../shared/layout/simpleLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import usernavigationbar %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/user/datamanager.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script>
    var tabType = {{tabType}}
  </script>
  <script src="/assets/plugin/ali-oss-6.9.0/dist/aliyun-oss-sdk.js"></script>
  <script type="text/javascript" src="/dist/scripts/user/datamanager.js"></script>
{% endblock script %}

{% block body %}

  <div id="usermain">
    {{ usernavigationbar({
            isMore: true,
            MoreText: "+ 添加销售",
            link: "/user/sales",
            isSelect: tabType,
            data: [
               {
                title: "公司基本信息",
                link: "javascript:void(0);"
              }, {
                title: "公司销售信息",
                link: "javascript:void(0);"
              }
            ]

          }) }}

  

    <div class="box">
      <div class="basic" style='display:{{(tabType == 1) | ternary("block","none") }}'>
        <div class="title">基本信息</div>

        <div class="basic_box">
          <div class="child clearfix">
            <p>公司名称：</p>
            <div class="textarea" contenteditable="false">
             {{company.abbrName}}
            </div>
            <a href="javascript:void(0)" class="applyfor">申请修改</a>
            <a href="javascript:void(0)" class="abbrName submit">确认修改</a>
          </div>

          <div class="child clearfix">
            <p>公司全称：</p>
            <div class="textarea" contenteditable="false">
             {{company.fullName}}
            </div>
            <a href="javascript:void(0)" class="applyfor">申请修改</a>
            <a href="javascript:void(0)" class="fullName submit">确认修改</a>
          </div>

          <div class="child clearfix logo">
            <p>公司LOGO：</p>
            <div class="padding">
              <img _src_="  {{company.logo}}"/>

              <p>（logo比例3：2  需为纯色底并小于1M）</p>
            </div>
            <a href="javascript:void(0)">修改LOGO<input type="file" class="logo uploadfileinput" multiple="multiple" accept="image/*"/></a>
          </div>

          <div class="child clearfix">
            <p>公司网址：</p>
            <div class="textarea" contenteditable="false">
              {{company.website}}
            </div>
            <a href="javascript:void(0)" class="applyfor">申请修改</a>
            <a href="javascript:void(0)" class="website submit">确认修改</a>
          </div>

          <div class="child clearfix">
            <p>公司电话：</p>
            <div class="textarea" contenteditable="false">
             {{company.contactPhone}}
            </div>
            <a href="javascript:void(0)" class="applyfor">申请修改</a>
            <a href="javascript:void(0)" class="contactPhone submit">确认修改</a>
          </div>

          <div class="child clearfix">
            <p>公司地址：</p>
            <div class="textarea" contenteditable="false">
             {{company.addr}}
            </div>
            <a href="javascript:void(0)" class="applyfor">申请修改</a>
            <a href="javascript:void(0)" class="addr submit">确认修改</a>
          </div>
          <div class="child clearfix">
            <p>公司介绍：</p>
            <div class="textarea" contenteditable="false">
             {{company.desc}}
            </div>
            <a href="javascript:void(0)" class="applyfor">申请修改</a>
            <a href="javascript:void(0)" class="desc submit">确认修改</a>
          </div>

          <div class="child clearfix">
            <p>营业执照照片：</p>

            <div class="padding">
              <img _src_="{{company.license}}"/>
            </div>
            <a href="javascript:void(0)">上传营业执照<input type="file" class="license uploadfileinput" multiple="multiple" accept="image/*"/></a>
          </div>
        </div>
      </div>

      <div class="market" style='display:{{(tabType == 2) | ternary("block","none") }}'>

        {% if salersList != null and salersList.length > 0 %}
          {% for item in salersList %}
            <div class="child">
              <img _src_="{{item.salerIcon}}"/>
              <div class="c">
                <h3>{{item.salerName}}</h3>
                <p class="clearfix">
                  <span>职位：{{item.salerPosition}}</span>
                  <span>职能：{{item.salerFunction}}</span>
                  <span>从业时间：{{item.salerWorkYears}}年</span>
                </p>
                <p class="createtime">添加时间：{{item.createTime | get_time_timestamp | ge_time_format(2)}}</p>
              </div>
              <div class="r">
                <a href="/user/sales/2/{{item.salerId}}">修改</a>
                <a href="javascript:void(0);" data-id="{{item.salerId}}" class="del">删除</a>
                <a href="javascript:void(0);" data-id="{{item.salerId}}" class="stick" style='display:{{ (loop.index0 === 0) | ternary("none","block") }}'>置顶</a>
              </div>
            </div>
          {% endfor %}
        {% else %}
          <div class="empty">
            <p>还未添加销售</p>
            <a href="/user/sales">+ 添加销售</a>
          </div>
        {% endif %}

      </div>

    </div>
  </div>
{% endblock body %}