{% extends "../shared/layout/simpleLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "../shared/sharedView/macro/components/list.njk" import list1,
list2 %}
{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/user/index.css" rel="stylesheet">
{% endblock style %}

{% block script %}
{# <script src="/assets/plugin/ali-oss-6.9.0/dist/aliyun-oss-sdk.js"></script> #}
  <script type="text/javascript" src="/dist/scripts/user/index.js"></script>
{% endblock script %}

{% block body %}

  <div id="main">12321321</div>
 <input type="file" id="file"  multiple="multiple"/>

{% endblock body %}

