{% extends "../shared/layout/simpleLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import usernavigationbar %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/user/index.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript">
    var notificationType = {{notificationType}} || 1
    var pageIndex = {{pageIndex}} || 1
    var pageSize = {{pageSize}}
    var systemtotalPages = {{systemtotalPages}}
    var interactiveotalPages = {{interactiveotalPages}}
  </script>
  <script type="text/javascript" src="/dist/scripts/user/index.js"></script>
{% endblock script %}

{% block body %}


  <div id="usermain">
    {{ usernavigationbar({
            isMore: false,
            MoreText: "更多>>",
            link: "/list/0",
            isSelect: notificationType,
            data: [
               {
                title: "系统通知",
                link: "javascript:void(0);"
              }, {
                title: "互动通知",
                link: "javascript:void(0);"
              }
            ]

          }) }}

    <div class="box">

      <div class="systematic" style='display:{{(notificationType == 1) | ternary("block","none") }}' >
        <div class="systematic_box">
          {% if systemData != null and systemData.length >= 0 %}
            {% for item in systemData %}
              <a class="child" href="{{item.notificationLink}}" target="_blank">
                <h3>{{item.notificationTitle}}
                  <span>{{item.noticeTime | get_time_timestamp | ge_time_format(2)}}</span></h3>
                <p>{{item.notificationContent}}</p>
              </a>
            {% endfor %}
          {% else %}
            <div class="nocontent">
              <img _src_="/assets/images/loading.png"/>
              <p>暂无相关内容</p>
            </div>
          {% endif %}
        </div>
        {% if systemData != null and systemData.length >= 0 %}
          <div id="systematic_kkpage"></div>
        {% endif %}
      </div>

      <div class="interaction"  style='display:{{(notificationType == 2) | ternary("block","none") }}'>
        <div class="interaction_box">
          {% if interactiveData != null and interactiveData.length > 0 %}
            {% for item in interactiveData %}
              <a class="child" href="{{item.notificationLink}}" target="_blank">
                <div class="title">
                  <img _src_="{{item.notificationSendUserIcon}}"/>
                  <p>{{item.notificationSendUserName}}</p>
                  <b>回答了你的提问</b>
                  <i>{{item.extensionJson.CommentTargetContent}}</i>
                </div>
                <p>{{item.extensionJson.CommentContent}}</p>
                <div class="time">
                  {{item.noticeTime | get_time_timestamp | ge_time_format(2)}}
                </div>
              </a>
            {% endfor %}

          {% else  %}
            <div class="nocontent">
              <img _src_="/assets/images/loading.png"/>
              <p>暂无相关内容</p>
            </div>
          {% endif %}
        </div>
        {% if interactiveData != null and interactiveData.length > 0 %}
          <div id="interaction_kkpage"></div>
        {% endif %}
      </div>

    </div>
  </div>
{% endblock body %}