{% extends "../shared/layout/simpleLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar2,
usernavigationbar %}
{% from "../shared/sharedView/macro/components/user/newslist.njk" import newslist %}
{% block title %}
个人中心 - 乐品包装
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/user/news.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script>
    var tabType = {{tabType}}
    var pageIndex = {{pageIndex}}
    var totalPages = {{totalPages}}
  </script>
  <script type="text/javascript" src="/dist/scripts/user/news.js"></script>
{% endblock script %}

{% block body %}
  <div id="usermain">
    {{ usernavigationbar({
            isMore: true,
            MoreText: "发布新闻",
            link: "/user/publishnews",
            isSelect: tabType,
            data: [
               {
                title: "已发布",
                link: "javascript:void(0);",
                id: "1"
              }, {
                title: "草稿",
                link: "javascript:void(0);",
                id: "1"
              }
            ]

    }) }}
   {# ,
               {
                title: "已删除",
                link: "javascript:void(0);",
                id: "1"
              } #}
    <div class="box">
      <div class="publish" style='display:{{(tabType == 1) | ternary("block","none")}}'>
      
        {% if firstnewlist != null and firstnewlist.length > 0%}
          <div class="tab"> 
            {{navigationbar2({
              isSelect: 1,
              data: newlabels
            })}}

          </div>

          <div class="child_box">
            {{newslist(1,firstnewlist)}}
          </div>

          <div id="publish_kkpage"></div>

        {% else %}
          <div class="empty">
            <p>还未发布新闻</p>
            <a href="/user/publishnews">点击发布新闻</a>
          </div>
        {% endif %}

      </div>

      <div class="drafts" style='display:{{(tabType == 2) | ternary("block","none")}}'>
        <div class="child_box">
          {# {{newslist(2,publish)}} #}
        </div>
      </div>

      {# <div class="havadel" style='display:{{(tabType == 3) | ternary("block","none")}}'>2</div> #}

    </div>

  </div>

{% endblock body %}
