{% extends "../shared/layout/simpleLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar2,
usernavigationbar %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/user/product.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script>
  var publishtabType = {{publishtabType}}
  var tabType = {{tabType}}
  var pageIndex = {{pageIndex}}
  </script> 
  <script type="text/javascript" src="/dist/scripts/user/product.js"></script>
{% endblock script %}

{% block body %}
  <div id="usermain">
    {{ usernavigationbar({
            isMore: true,
            MoreText: "发布新产品",
            link: "/user/sales/1/222",
            isSelect: tabType,
            data: [
               {
                title: "已发布",
                link: "javascript:(0)"
              }, {
                title: "草稿",
                link: "javascript:(0)"
              },
               {
                title: "已删除",
                link: "javascript:(0)"
              }
            ]

    }) }}

    <div class="box">
      <div class="publish">

        {% set publish = [
        {
          title:"全部",
          id:"123",
          count:'24',
          child:[{
                  logo:"https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  title:"WL C220 2200（产品名称）",
                  label:['分类A','分类A','分类A'],
                  id:"11",
                  createTime:"2020-08-01"
                },
                {
                  logo:"https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  title:"WL C220 2200（产品名称）",
                  label:['分类A','分类A','分类A'],
                  id:"11",
                  createTime:"2020-08-01"
                },
                {
                  logo:"https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  title:"WL C220 2200（产品名称）",
                  label:['分类A','分类A','分类A'],
                  id:"11",
                  createTime:"2020-08-01"
                },
                {
                  logo:"https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  title:"WL C220 2200（产品名称）",
                  label:['分类A','分类A','分类A'],
                  id:"11",
                  createTime:"2020-08-01"
                },
                {
                  logo:"https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  title:"WL C220 2200（产品名称）",
                  label:['分类A'],
                  id:"11",
                  createTime:"2020-08-01"
                }]
        },
        {
          title:"热门品牌",
          id:"123",
          count:'24',
          child:[{
                  logo:"https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  title:"WL C220 2200（产品名称）",
                  label:['分类A','分类A','分类A'],
                  id:"11",
                  createTime:"2020-08-01"
                },
                {
                  logo:"https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  title:"WL C220 2200（产品名称）",
                  label:['分类A','分类A','分类A'],
                  id:"11",
                  createTime:"2020-08-01"
                },
                {
                  logo:"https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  title:"WL C220 2200（产品名称）",
                  label:['分类A','分类A','分类A'],
                  id:"11",
                  createTime:"2020-08-01"
                },
                {
                  logo:"https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  title:"WL C220 2200（产品名称）",
                  label:['分类A','分类A','分类A'],
                  id:"11",
                  createTime:"2020-08-01"
                },
                {
                  logo:"https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
                  title:"WL C220 2200（产品名称）",
                  label:['分类A'],
                  id:"11",
                  createTime:"2020-08-01"
                }]
        }
        

      ] %}

        {% set publishary = [] %}

        <div style="display:none">
          {% for item in publish %}
          {{publishary.push({
                class:'',
                title:item.title,
                id:item.id,
                nlink: 'javascript:(0)'
              }) }}
        {% endfor %}
        </div>

        {% if publish != null and publish.length > 0%}
          <div class="tab">
            {{navigationbar2({
              isSelect: publishtabType,
              data: publishary
            })}}

          </div>

          <div class="child_box">
            {% for item in publish[publishtabType - 1].child %}
              <div class="child">
                <img src="{{item.logo}}"/>
                <div class="c">
                  <h3>{{item.title}}</h3>
                  {% if item.label != null and item.label.length > 0 %}
                    <p class="clearfix">
                      {% for labelitem in item.label %}
                        <span>{{labelitem}}</span>
                      {% endfor %}
                    </p>
                  {% endif %}
                  <p class="createtime">发布时间：{{item.createTime}}</p>

                </div>
                <div class="r">
                  <a href="/user/sales/2/11">修改</a>
                  <a href="javascript:(0)" style='display:{{ (loop.index0 === 0) | ternary("none","block") }}'>置顶</a>
                </div>
              </div>
            {% endfor %}
          </div>

          <div id="publish_kkpage">
          
          </div>

        {% else %}
          <div class="empty">
            <p>还未发布产品</p>
            <a href="#">点击发布产品</a>
          </div>
        {% endif %}

      </div>

      <div class="drafts"></div>

    </div>

  </div>

{% endblock body %}