{% extends "../shared/layout/simpleLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar2,
usernavigationbar %}
{% from "../shared/sharedView/macro/components/user/productlist.njk" import productlist %}
{% block title %}
个人中心 - 乐品包装
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/user/product.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script>
    var totalPages = {{totalPages}}
    var pageIndex = {{pageIndex}}
    var companyId = {{companyId}}
    var pageSize = {{pageSize}}
  </script>
  <script type="text/javascript" src="/dist/scripts/user/product.js"></script>
{% endblock script %}
{# {
                title: "审核中",
                link: "javascript:void(0);",
                id: "2"
              }, #}
{% block body %}
  <div id="usermain">
    {{ usernavigationbar({
            isMore: true,
            MoreText: "发布新产品",
            link: "/user/publishproduct",
            isSelect: 1,
            data: [
               {
                title: "已发布",
                link: "javascript:void(0);",
                id: "1"
              },
              
               {
                title: "草稿",
                link: "javascript:void(0);",
                id: "3"
              }
            ]

    }) }}

    <div class="box">
      <div class="publish">

        {% if reputationtypeinfo != null and reputationtypeinfo.length > 0%}
          <div class="tab">
            {{navigationbar2({
              isSelect: 1,
              data: reputationtypeinfo
            })}}

          </div>

          <div class="child_box">
            {{productlist(1,companyObject)}}
          </div>

          <div id="publish_kkpage"></div>

        {% else %}
          <div class="empty">
            <p>还未发布产品</p>
            <a href="/user/publishproduct">点击发布产品</a>
          </div>
        {% endif %}

      </div>

      {# <div class="review" style='display:none'>

        {% if companyObject != null and companyObject.length > 0%}
          <div class="child_box">

            {{productlist(2,companyObject)}}
          </div>
          <div id="review_kkpage"></div>
        {% else %}
          <div class="empty">
            <p>没有审核中的产品</p>
          </div>
        {% endif %}

      </div> #}

      <div class="drafts" style='display:none'>

        {% if companyObject != null and companyObject.length > 0%}
          <div class="child_box">

            {# {{productlist(3,companyObject)}} #}
          </div>
          <div id="drafts_kkpage"></div>
        {% else %}
          <div class="empty">
            <p>没有草稿</p>
          </div>
        {% endif %}

      </div>

    </div>

  </div>

{% endblock body %}