{% extends "../shared/layout/defaultLayout.njk" %}
{% from "../shared/sharedView/macro/components/satemap/satemap1.njk" import satemap1 %}
{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "../shared/sharedView/macro/components/comment/comment1.njk" import comment %}

{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/home/advcooperation.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  {# <script type="text/javascript" src="/dist/scripts/home/agreement.js"></script> #}
{% endblock script %}

{% block body %}
  <div id="main">
      <h1>品牌入驻及广告合作</h1>
    <b class="margin">品牌营销及广告合作联系方式：</b>

    <p>
      <span>电话</span>：17621302037</p>
    <p>
      <span>企业微信</span>：17621302037</p>
    <p class="margin">
      <span>邮箱</span>：marketing@lepkg.com</p>

    <p class="margin">乐品包装网站（www.lepkg.com）为上海旷特科技有限公司旗下网站；</p>
    <p>
      <span>公司名称</span>：上海旷特科技有限公司</p>
    <p>
      <span>开户银行</span>：交通银行</p>
    <p class="margin">
      <span>银行账号</span>：marketing@lepkg.com1109 0616 6910 902</p>

  </div>

{% endblock body %}