{% from "./star/star.njk" import star %}
{% macro list1(args = [
  {
    link: "#",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    time: "2021-11-11",
    businesslogo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    businessname: "万联",
    timetick:'1234567890',
    slug: ["视频", "音频"]
  }, {
    link: "#",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    timetick:'1234567890',
    time: "2021-11-11"
  }, {
    link: "#",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    timetick:'1234567890',
    time: "2021-11-11"
  }, {
    link: "#",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    timetick:'1234567890',
    time: "2021-11-11"
  }
]) %}

  <div class="list1">

    {% if (args != null) and (args.length > 0) %}
      {% for item in args %}
        <a class="child" data-timetick="{{item.timetick}}" href="{{item.link}}" target="_blank">
          <h4 class="left">
            <img _src_="{{item.img}}"/>
          </h4>
          <section class="right">
            <h3 class="title">{{item.title}}</h3>
            <p class="content">{{item.content}}</p>
            <p class="list_foot">
              {% if item.businesslogo %}
                <span><img _src_="{{item.businesslogo}}"/></span>
              {% endif %}

              <span>{{item.businessname}}</span>
              <span>{{item.author}}</span>
              <span>{{item.time | get_time_timestamp | ge_time_format(2)}}</span>

              {% if (item.slug) and (item.slug.length > 0) %}
                {% for val in item.slug %}

                  <span class="slug">{{val | ternary(val,'文章')}}</span>
                {% endfor %}

              {% endif %}
            </p>

          </section>
        </a>
      {% endfor %}
    {% endif %}

  </div>

{% endmacro %}

{% macro list2(args = [
  {
   
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link: "#",
    name: "广东万联",
    kbscore: "5.00",
    classify:['sdfdsf','adfasfd'],
    kbcount: 0,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {

    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link: "#",
    name: "广东万联",
    kbscore: "5.00",
    classify:['sdfdsf','adfasfd'],
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link: "#",
    name: "广东万联",
    kbscore: "5.00",
    classify:['sdfdsf','adfasfd'],
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link: "#",
    name: "广东万联",
    kbscore: "5.00",
    classify:['sdfdsf','adfasfd'],
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }
]) %}
  <div class="list2">

    {% if (args != null) and (args.length > 0) %}
      {% for item in args %}

        <a class="child"  href="{{item.link}}" target="_blank">
          <section class="left">
            <asection class="logo">

              {% if item.brandtype.length > 0 %}
                <i>{{item.brandtype}}</i>
              {% endif %}
              <img _src_="{{item.logo}}"/>
            </asection>
          </section>

          <section class="right {{(item.kbcount <= 4) | ternary('few','')}}">
            <span>口碑得分</span>
            {% if item.kbcount <= 0 %}
              <h2>暂无口碑</h2>
            {% elif item.kbcount <= 4 %}
              <h2>口碑较少</h2>
            {% else %}
              <p>{{item.kbscore}}
                <i>分</i>
              </p>
              {{star(item.kbscore)}}
            {% endif %}

          </section>

          <section class="center">
            <section class="name" href="{{item.link}}" target="_blank">
              {{item.name}}
            </section>

            {% if (item.label != null) and (item.label.length > 0) %}
              <section class="label">
                {% for labelItem in item.label %}
                  <span>{{labelItem}}</span>
                {% endfor %}

              </section>
            {% endif %}

            <p class="description">
              <i class="iconfont_wlzj">&#xE00F;</i>
              {% for classifyitem in item.classify %}
                <span>{{classifyitem}}</span>
              {% endfor %}
            </p>
            <p class="kb">
              <i class="iconfont_wlzj">&#xE009;</i>
              <span class="kbcount">{{item.kbcount}}条口碑</span>
              <span class="favorable">好评率{{item.favorablerate}}%</span>
              <span class="kbgood">{{item.kbgood}}条优质口碑</span>
            </p>

          </section>

        </a>

      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro kblist1(args = [
  {
    hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    name: "李女士",
    kbscore: "5.00",
    link: "#",
    title: "阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬",
    description: "a阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德发斯蒂芬阿萨德发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德"
  }, {
    hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    name: "李女士",
    kbscore: "5.00",
    link: "#",
    title: "阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬",
    description: "a阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德发斯蒂芬阿萨德发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德"
  }, {
    hread: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    img: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    name: "李女士",
    kbscore: "5.00",
    link: "#",
    title: "阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬",
    description: "a阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德发斯蒂芬阿萨德发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德"
  }
]) %}

  <div class="kblist1">
    {% for item in args %}
      <div class="child">
        <div class="hd">
          <div class="l">
            <p>
              <img _src_="{{item.hread}}"/>
              <span>{{item.name}}</span>
            </p>
            <a href="{{item.link}}" title="{{item.title}}" target="_blank">{{item.title}}</a>
          </div>
          <div class="r">
            <img _src_="{{item.img}}"/>
          </div>
        </div>

        <div class="cr clearfix">

          <div class="l">
            <span>
              <i>{{item.kbscore}}</i>
              {{star(item.kbscore)}}
            </span>
            <p>
              <a href="/news/reputation/{{item.newsId}}" target="_blank">
                {{item.description | delHtmlTag}}
              </a>
            </p>
          </div>

          <div class="r">
            <div class="score">{{item.kbscore}}</div>
            <div id="ecahr{{loop.index0}}"></div>
          </div>

        </div>

      </div>
    {% endfor %}
  </div>

{% endmacro %}

{# 口碑详情页列表页模板 #}
{% macro reputationtemp(args) %}
  <div class='reputationtemp'>
    {% for item in args %}
      <div class="child" data-time="{{item.createTime | get_time_timestamp}}">
        <div class="l">
          <div class="user">
            <div>
              <img _src_="{{item.userIcon}}"/>
              <i>{{item.userName}}</i>
            </div>
            <p>购买价格：{{item.purchasePrice}}</p>
            <p>购买时间：{{item.buyTime | get_time_timestamp | ge_time_format(2)}}</p>
            <p>投入使用：{{item.useTime | get_time_timestamp | ge_time_format(2)}}</p>
          </div>

          <div class="grade">
            <span>用户评分</span>
            <div class="score">
              <span>{{item.statisticsModel.score}}</span>
              {{star(item.statisticsModel.score)}}
            </div>
            {% if item.statisticsModel.reputationScore != null and item.statisticsModel.reputationScore.length > 0 %}
              <div class="configuration">
                {% for reputationScoreItem in item.statisticsModel.reputationScore %}
                  <p data-id="{{reputationScoreItem.reputationTypeId}}">
                    <span>{{reputationScoreItem.reputationTypeName}}：</span>
                    <span>{{reputationScoreItem.reputationScore}}</span>
                  </p>
                {% endfor %}
              </div>
            {% endif %}

          </div>
          <div class="more">
            <a href="/news/reputation/{{item.newsId}}" target="_blank">查看口碑详情</a>
          </div>

        </div>

        <div class="r">
          <p>{{item.summary | safe}}</p>
          <div class="atlas">

            {% for imgurl in (item.summary | onlyimg) %}
              <img _src_="{{imgurl}}" data-viewer="{{imgurl}}"/>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>
{% endmacro %}