{% from "./star/star.njk" import star %}
{% macro list1(args = [
  {
    link: "#",
    img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    time: "2021-11-11",
    businesslogo: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    businessname: "万联",
    slug: ["视频", "音频"]
  }, {
    link: "#",
    img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    time: "2021-11-11"
  }, {
    link: "#",
    img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    time: "2021-11-11"
  }, {
    link: "#",
    img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    title: "为解决供应短缺问题 iPhone 12 Pro零件不够iPad来凑？",
    content: "显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。显示一行正文内容。",
    author: "作者大大",
    time: "2021-11-11"
  }
]) %}

  <div class="list1">

    {% if (args != null) and (args.length > 0) %}
      {% for item in args %}
        <div class="child">
          <a class="left" href="{{item.link}}" target="_blank">
            <img src="{{item.img}}"/>
          </a>
          <div class="right">
            <a class="title" href="{{item.link}}" target="_blank">{{item.title}}</a>
            <p>{{item.content}}</p>
            <div class="list_foot">
              {% if item.businesslogo %}
                <span><img src="{{item.businesslogo}}"/></span>
              {% endif %}

              <span>{{item.businessname}}</span>
              <span>{{item.author}}</span>
              <span>{{item.time}}</span>
              {% if (item.slug) and (item.slug.length > 0) %}
                {% for val in item.slug %}
                  <span class="slug">{{val}}</span>
                {% endfor %}

              {% endif %}
            </div>

          </div>
        </div>
      {% endfor %}
    {% endif %}

  </div>

{% endmacro %}

{% macro list2(args = [
  {
   
    logo: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    link: "#",
    name: "广东万联",
    kbscore: "5.00",
    description: "纸板生产单机纸板生产单机纸板生产单机纸板生产单机",
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {

    logo: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    link: "#",
    name: "广东万联",
    kbscore: "5.00",
    description: "纸板生产单机纸板生产单机纸板生产单机纸板生产单机",
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {
    logo: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    link: "#",
    name: "广东万联",
    kbscore: "5.00",
    description: "纸板生产单机纸板生产单机纸板生产单机纸板生产单机",
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {
    logo: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    link: "#",
    name: "广东万联",
    kbscore: "5.00",
    description: "纸板生产单机纸板生产单机纸板生产单机纸板生产单机",
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }
]) %}
  <div class="list2">

    {% if (args != null) and (args.length > 0) %}
      {% for item in args %}

        <div class="child">
          <div class="left">
            <a href="{{item.link}}" target="_blank">
              <i>{{item.brandtype}}</i>
              <img src="{{item.logo}}"/>
            </a>
          </div>

          <div class="right">
            <span>口碑得分</span>
            <p>{{item.kbscore}}
              <i>分</i>
            </p>
            {{star(item.kbscore)}}
          </div>

          <div class="center">
            <a class="name" href="{{item.link}}" target="_blank">
              {{item.name}}
            </a>

            {% if (item.label != null) and (item.label.length > 0) %}
              <div class="label">
                {% for labelItem in item.label %}
                  <span>{{labelItem}}</span>
                {% endfor %}

              </div>
            {% endif %}

            <p class="description">
              <i>#</i>{{item.description}}</p>
            <p class="kb">
              <span>{{item.kbcount}}条口碑</span>
              <span>好评率{{item.favorablerate}}%</span>
              <span class="kbgood">{{item.kbgood}}条优质口碑</span>
            </p>

          </div>

        </div>

      {% endfor %}
    {% endif %}
  </div>
{% endmacro %}

{% macro kblist1(args = [
  {
    hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    name: "李女士",
    kbscore: "5.00",
    link: "#",
    title: "阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬",
    description: "a阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德发斯蒂芬阿萨德发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德"
  }, {
    hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    name: "李女士",
    kbscore: "5.00",
    link: "#",
    title: "阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬",
    description: "a阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德发斯蒂芬阿萨德发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德"
  }, {
    hread: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    img: "https://www.baidu.com/img/PCtm_d9c8750bed0b3c7d089fa7d55720d6cf.png",
    name: "李女士",
    kbscore: "5.00",
    link: "#",
    title: "阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬",
    description: "a阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德发斯蒂芬阿萨德发斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿斯蒂芬阿萨德"
  }
]) %}

  <div class="kblist1">
    {% for item in args %}
      <div class="child">
        <div class="hd">
          <div class="l">
            <p>
              <img src="{{item.hread}}"/>
              <span>{{item.name}}</span>
            </p>
            <a href="{{item.link}}" title="{{item.title}}" target="_blank">{{item.title}}</a>
          </div>
          <div class="r">
            <img src="{{item.img}}"/>
          </div>
        </div>

        <div class="cr clearfix">

          <div class="l">
            <span>
              <i>{{item.kbscore}}</i>
              {{star()}}
            </span>
            <p>
              {{item.description}}
            </p>
          </div>

          <div class="r">
            <div class="score">5.00</div>
            <div id="ecahr{{loop.index0}}"></div>
          </div>

        </div>

      </div>
    {% endfor %}
  </div>

{% endmacro %}