{# 导航栏控件 #}
{% macro navigationbar(args = {
  isMore: true,
  MoreText: "更多>>",
  link: "#",
  isSelect: "1",
  data: [
    {
      title: "热门品牌",
      link: "javascript:void(0);",
      id: "1",
      blank: true
    }, {
      title: "热门品牌",
      link: "javascript:void(0);",
      id: "1",
      blank: true
    }, {
      title: "热门品牌",
      link: "javascript:void(0);",
      id: "1",
      blank: true
    }, {
      title: "热门品牌",
      link: "javascript:void(0);",
      id: "1",
      blank: true
    }, {
      title: "热门品牌",
      link: "javascript:void(0);",
      id: "1",
      blank: true
    }, {
      title: "热门品牌",
      link: "javascript:void(0);",
      id: "1",
      blank: true
    }
  ]

}) %}
  {% if (args != null) and (args.data != null) and (args.data.length > 0) %}
    <div class="navigationbar">
      <div class="list" style="right:{{args.isMore | ternary('60px','0px')}}">
        {% for item in args.data %}
          <a href="{{item.link}}" onclick="{{(item.link == 'javascript:void(0);') | ternary('return false;','')}}"  title="{{item.title}}" data-id="{{item.id}}" {{(item.blank == false) | ternary('','target="_blank"')}} >
            <span class="{{(loop.index == args.isSelect) | ternary('select','')}}">
              {{item.title}}
            </span>
          </a>
        {% endfor %}
      </div>
      {% if args.isMore %}
        <a href="{{args.link}}" target="_blank">{{args.MoreText}}
        </a>
      {% endif %}

    </div>
  {% endif %}
{% endmacro %}

{% macro navigationbar2(args = {
  isSelect: "1",
  data: [
    {
      class: "",
      title: "热门品牌",
      id: "1"
    }, {
      class: "",
      title: "热门品牌",
      id: "1"
    }, {
      class: "",
      title: "热门品牌",
      id: "1"
    }, {
      class: "",
      title: "热门品牌",
      id: "1"
    }, {
      class: "",
      title: "热门品牌",
      id: "1"
    }, {
      class: "",
      title: "热门品牌",
      id: "1"
    }
  ]
}) %}

  <div class="navigationbar2">
    {% if (args != null) and (args.data != null) and (args.data.length > 0) %}
      {% for item in args.data %}
        <span data-id="{{item.id}}" class="{{(loop.index == args.isSelect) | ternary('select','')}} {{item.class | ternary(item.class,'')}}">
          {{item.title}}
        </span>
      {% endfor %}
    {% endif %}
  </div>

{% endmacro %}

{# 导航栏控件 #}
{% macro usernavigationbar(args = {
  isMore: true,
  MoreText: "更多>>",
  link: "#",
  isSelect: "1",
  data: [
    {
      title: "热门品牌",
      nlink: "javascript:void(0);",
      id: "1"
    }, {
      title: "热门品牌",
      nlink: "javascript:void(0);",
      id: "1"
    }, {
      title: "热门品牌",
      nlink: "javascript:void(0);",
      id: "1"
    }, {
      title: "热门品牌",
      nlink: "javascript:void(0);",
      id: "1"
    }, {
      title: "热门品牌",
      nlink: "javascript:void(0);",
      id: "1"
    }, {
      title: "热门品牌",
      nlink: "javascript:void(0);",
      id: "1"
    }
  ]

}) %}
  {% if (args != null) and (args.data != null) and (args.data.length > 0) %}
    <div class="usernavigationbar">
      <div class="list" style="right:{{args.isMore | ternary('60px','0px')}}">
        {% for item in args.data %}
          <a href="{{item.link}}" title="{{item.title}}" data-id="{{item.id}}" target="_blank">
            <span class="{{(loop.index == args.isSelect) | ternary('select','')}}">
              {{item.title}}
            </span>
          </a>
        {% endfor %}
      </div>
      {% if args.isMore %}
        <a href="{{args.link}}" target="_blank">{{args.MoreText}}
        </a>
      {% endif %}

    </div>
  {% endif %}
{% endmacro %}