{# 导航栏控件 #}
{% macro navigationbar(args = {
  isMore: true,
  link: "#",
  isSelect: "1",
  data: [
    {
      title: "热门品牌",
      link: "#"
    }, {
      title: "热门品牌",
      link: "#"
    }, {
      title: "热门品牌",
      link: "#"
    }, {
      title: "热门品牌",
      link: "#"
    }, {
      title: "热门品牌",
      link: "#"
    }, {
      title: "热门品牌",
      link: "#"
    }
  ]

}) %}
  {% if (args != null) and (args.data != null) and (args.data.length > 0) %}
    <div class="navigationbar">
      <div class="list" style="right:{{args.isMore | ternary('60px','0px')}}">
        {% for item in args.data %}
          <a href="{{item.link}}" title="{{item.title}}" target="_blank">
            <span class="{{(loop.index == args.isSelect) | ternary('select','')}}">
              {{item.title}}
            </span>
          </a>
        {% endfor %}
      </div>
      {% if args.isMore %}
        <a href="{{args.link}}"> 更多>> </a>
      {% endif %}

    </div>
  {% endif %}
{% endmacro %}