{% macro selectOption(args = {
  selectIndex: 1,
  data: [
    {
      id: 0,
      value: "纸板加工设备及零配件"
    }, {
      id: 1,
      value: "纸板加工设备及零配件1"
    }, {
      id: 2,
      value: "纸板加工设备及零配件2"
    }, {
      id: 3,
      value: "纸板加工设备及零配件3"
    }, {
      id: 4,
      value: "纸板加工设备及零配件4"
    }
    
  ]

}) %}
  <div class="selectOption">
    {% if (args != null) and (args.data != null) and (args.data.length > 0) %}
      <h1  data-id="{{args.data[args.selectIndex].id}}"><span>{{args.data[args.selectIndex].value}}</span>
        <i class="iconfont_wlzj">&#xE00C;</i>
      </h1>
      <div class="option">
        {% for item in args.data %}
          <p data-id="{{item.id}}" title="{{item.value}}">{{item.value}}</p>
            {% endfor %}

          </div>
        </div>
      {% endif %}

    {% endmacro %}