{% extends "../shared/layout/defaultLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "../shared/sharedView/macro/components/list.njk" import list1,
list2 %}
{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/search/index.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript">
    var type = {{type}}
    var keyword = {{keyword}}
    var newsTimeTicks = {{newsTimeTicks}}
    var companyTimeTicks = {{companyTimeTicks}}
  </script>
  <script type="text/javascript" src="/dist/scripts/search/index.js"></script>
{% endblock script %}

{% block body %}

  <div id="main">
    <div class="search">
      <a href="javascript:void(0);">搜索</a>
      <div class="input"><input type="text" value="{{keyword}}" placeholder="请输入搜索内容"/></div>
    </div>

    <div class="list">
      <div class="tab">
        {{navigationbar({
                isMore: false,
                link: "#",
                isSelect: type,
                data: [
                  {
                    title: "综合",
                    link: "/search/1/"+keyword
                  },
                   {
                    title: "品牌商",
                    link: "/search/2/"+keyword
                  }
                ]
                
            })}}
      </div>
      <div class="searchresult">
        <div class="results">
          <span class="red">{{keyword}}</span>的相关搜索结果</div>
        <div class="list_box">
          {{list2(bsuinessAry)}}
          {{list1(newsAry)}}

        </div>
      </div>

    </div>
  </div>

{% endblock body %}