{% extends "../shared/layout/defaultLayout.njk" %}

{% from "../shared/sharedView/macro/components/navigationbar.njk" import navigationbar %}
{% from "../shared/sharedView/macro/components/list.njk" import list1,
list2 %}
{% block title %}
54123123213333
{% endblock title %}

{% block keywords %}{% endblock %}

{% block description %}{% endblock %}

{% block style %}
  <link href="/dist/styles/search/index.css" rel="stylesheet">
{% endblock style %}

{% block script %}
  <script type="text/javascript" src="/dist/scripts/search/index.js"></script>
{% endblock script %}

{% block body %}

  <div id="main">
    <div class="search">
      <a href="javascript:void(0);">搜索</a>
      <div class="input"><input type="text" value="{{keyword}}" placeholder="请输入搜索内容"/></div>
    </div>

    <div class="list">
      <div class="tab">
        {{navigationbar({
                isMore: false,
                link: "#",
                isSelect: type,
                data: [
                  {
                    title: "综合",
                    link: "javascript:void(0);"
                  },
                   {
                    title: "品牌商",
                    link: "javascript:void(0);"
                  }
                ]
                
            })}}
      </div>
      <div class="searchresult">
        <div class="results">
          <span class="red">{{keyword}}</span>的相关搜索结果</div>
        <div class="list_box">
          {{list2([
  {
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link: "#",
    name: "广东万联",
    kbscore: "4.00",
    description: "纸板生产单机纸板生产单机纸板生产单机纸板生产单机",
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link: "#",
    name: "广东万联",
    kbscore: "2.00",
    description: "纸板生产单机纸板生产单机纸板生产单机纸板生产单机",
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link: "#",
    name: "广东万联",
    kbscore: "5.00",
    description: "纸板生产单机纸板生产单机纸板生产单机纸板生产单机",
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }, {
    logo: "https://cn.bing.com/th?id=OHR.CarrizoPlain_ZH-CN5933565493_UHD.jpg&pid=hp&w=3840&h=2160&rs=1&c=4&r=0",
    link: "#",
    name: "广东万联",
    kbscore: "5.00",
    description: "纸板生产单机纸板生产单机纸板生产单机纸板生产单机",
    kbcount: 56,
    favorablerate: "100",
    kbgood: 18,
    label: [
      "上市公司", "优质品牌商", "权威品牌"
    ],
    brandtype: "优质品牌商"

  }
])}}
          {{list1()}}

        </div>
      </div>

    </div>
  </div>

{% endblock body %}